[2018-04-26 14:57] StarkShang opened #2233 "CommandLine: How can I use global parameters？"
Hi, guys.
I want to parse arguments as the same way as dotnet/cli.
As a example, the following commands should all be right inputs.
- `dotnet project.dll`
  - the argument "project.dll" should be a parameter.
- `dotnet build project.csproj`
  - the argument "build" should be a command.
  - the argument "project" should be a parameter for the subcommand "build".

As far as I know, **no option or pa

[2018-04-27 18:49] MisinformedDNA opened #2234 "Can't run .NET Core app in VS"
I'm trying to run the sample apps in VS, but it tells me that the specified framework was not found.

As an example, if I run

[code]

the server starts up. But if I go to VS and make `LowAllocationWebServer` the startup project and run it with Ctrl-F5, I get the error message:

[code]

I checked the dotnet.exe info, in the `dotnetcli` directory, and I can see it there

[code]

But if I check the

[2018-04-27 22:31] ahsonkhan commented on #2234
I believe this is the same issue you reported earlier. Hopefully my comment here will help resolve it: https://github.com/dotnet/corefxlab/issues/2224#issuecomment-382944289

VS is using the dotnet available from the Program Files directory rather than the dotnetcli directory at the repo root. You can change that by adjusting your environment variables.

[2018-04-27 23:56] MisinformedDNA commented on #2234
Setting the path fixed the issue. So this seems like an issue that anyone who has ever installed `dotnet.exe`, normally, would encounter, right? (At least those who try to run a sample/app.) Should this be added to the wiki?

Hopefully, we can make this easier for the next developer. :)

[2018-04-28 00:03] ahsonkhan commented on #2234
Yes, anyone can encounter this (outside of corefxlab). Adding it to the README would help.

It is by design (based on how the cli works). Here are some related links and issues:
- https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/multilevel-sharedfx-lookup.md
- https://github.com/dotnet/corefx/issues/24698
- https://github.com/dotnet/cli/issues/8126

[2018-04-28 00:03] #2234 closed

[2018-04-28 03:28] MisinformedDNA commented on #2234
Updated [wiki](https://github.com/dotnet/corefxlab/wiki)

[2018-05-01 03:32] #2215 closed

[2018-05-01 20:06] MisinformedDNA opened #2239 "Write tests for PollingFileSystemWatcher"
There are currently only three tests.

[2018-05-02 16:51] MisinformedDNA commented on #420
The three current tests rely on Thread.Sleep and, thus, race conditions.

[2018-05-02 21:08] KrzysztofCwalina opened #2247 "Add HttpParser benchmark for struct Requests."
cc: @adamsitnik

[2018-05-02 23:40] ahsonkhan opened #2250 "Port QotdService sample project to use Sockets"
See https://github.com/dotnet/corefxlab/pull/2244#discussion_r185589904 where it got removed from corefxlab sln since System.Net.Libuv got removed.

[2018-05-02 23:41] ahsonkhan opened #2251 "Can we detect multiple unnecessary calls to Memory.Span in a single method body?"
From https://github.com/dotnet/corefxlab/pull/2236#issuecomment-385702924

cc @KrzysztofCwalina

[2018-05-03 00:44] MisinformedDNA commented on #420
Working on this now.

[2018-05-04 18:22] grahamehorner opened #2261 "Q: Span<T> Memory<T> Split"
I'm looking for a way to split a Span<T> or Memory<T> into a ReadOnlySpan<ReadOnlySpan<T>> or ReadOnlyMemory<ReadOnlyMemory<T>> that delimited by a ReadOnlySpan<T> or Memory<T> is this possible? or supported ?

or is there a better way?

FYI: this is for a parsing data

[2018-05-04 18:59] benaadams commented on #2261
ReadOnlySequence? Can't find good example; but https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Common.cs#L177-L191

It acts as a Sequence of ReadOnlyMemory (e.g. List)

[2018-05-04 19:00] ahsonkhan commented on #2261
We have an issue for adding Split on `ReadOnlySpan<char>`: https://github.com/dotnet/corefx/issues/26528

Can you expand on your parsing scenario? I would be curious to know how you intend to use it.

We can't return a `ReadOnlySpan<ReadOnlySpan<T>>` since span cannot be put into a collection.

[2018-05-04 20:37] ahsonkhan commented on #2261
Yes, `ReadOnlySpan<ReadOnlyMemory<T>>` or `ReadOnlyMemory<ReadOnlyMemory<T>>` are doable.

[2018-05-04 20:53] ahsonkhan commented on #2261
Closing in favor of https://github.com/dotnet/corefx/issues/26528

[2018-05-04 20:53] #2261 closed

[2018-05-08 19:12] #2247 closed

[2018-05-10 15:35] msmolka commented on #1673
Based on https://blogs.msdn.microsoft.com/dotnet/2018/05/07/announcing-net-core-2-1-rc-1/
the version 2.1 of `.NET Core`  should support Brotli compression. However there is no assembly available on nuget which have this implementation.

[2018-05-10 15:38] ianhays commented on #1673
@msmolka I just checked, and the most recent Preview1 package of `runtime.linux-x64.Microsoft.NETCore.App.2.2.0-preview1-26508-01.nupkg` includes Brotli.

[2018-05-10 15:41] msmolka commented on #1673
So it will be in version 2.2. not 2.1 as mentioned on Microsoft blog?

[2018-05-10 16:02] ianhays commented on #1673
It's in 2.1.

See `runtime.linux-x64.Microsoft.NETCore.App.2.1.0-rc1-26428-03` for example

[2018-05-10 17:44] ahsonkhan commented on #1673
It is built into .NET Core 2.1, so there isn't an individual package on NuGet, but instead part of the Microsoft.NetCore.App metapackage.

![image](https://user-images.githubusercontent.com/6527137/39884555-16dfea74-543f-11e8-8d78-e7cb74b1a57b.png)

[2018-05-10 19:33] msmolka commented on #1673
But then how to use it from full framework? Also how to include it in library targeted for netstandard and full ?

[2018-05-10 19:41] MisinformedDNA commented on #2222
`FileSystemWatcher` uses [WatcherChangeTypes](https://docs.microsoft.com/en-us/dotnet/api/system.io.watcherchangetypes?view=netcore-2.1):

[code]

But `PollingFileSystemWatcher` uses its own enum `ChangeType`:

[code]

I'm not sure `PollingFileSystemWatcher` will ever use `Renamed` or `All`, but since `ChangeType` is a subset of `WatcherChangeTypes`,I was wondering if we should just get rid of `Ch

[2018-05-10 19:48] stephentoub commented on #2222
My very high-level take on this is that, if we were to add a polling watcher, I'd want to see it added with as minimal amount of ceremony as possible into the existing FileSystemWatcher, rather than creating a whole brand new set of APIs, e.g.
[code]
That would make it easy to switch back and forth between one based on the OS and one based on in-memory tracking and polling, while also keeping the

[2018-05-10 19:49] MisinformedDNA commented on #2222
I initially proposed that `PollingFileSystemWatcher` should be in the `System.IO.Enumeration` namespace because that's where `FileSystemEnumerable` is. However, now I think it should go in the `System.IO` since that's where `FileSystemWatcher` is.

This way, someone in/using the `System.IO` namespace will see `FileSystemWatcher` and `PollingFileSystemWatcher` side by side.

[2018-05-10 20:33] MisinformedDNA commented on #2222
Based on @stephentoub's previous answer, I will put them in the same namespace

[2018-05-10 21:02] JeremyKuhne commented on #2222
@stephentoub The only mystery to me is what it might mean for a System.ComponentModel.Component to be a facade. It is just ignorance at this point- I really need to spend time looking at Component.

[2018-05-10 21:03] stephentoub commented on #2222
I'm not sure what you mean by that.  This can entirely be an implementation detail within FileSystemWatcher.

[2018-05-10 21:10] JeremyKuhne commented on #2222
Like I said, ignorance. Presumably there are no caveats to how you change a MarshalByRefObject in the BCL, but I just haven't spent much time with the concepts.

[2018-05-10 21:58] #2239 closed

[2018-05-12 23:28] Tornhoof opened #2288 "Adding SpanJson to Json Benchmarks"
Do you accept a pull request by me adding SpanJson https://www.nuget.org/packages/SpanJson/ to the Json comparison benchmarks?
Motivation:
- Both SpanJson and the corefxlab reader target netcoreapp2.1 and use similar approaches (e.g. span, utf8parser/formatter etc.)
- SpanJson supports utf8 and utf16 (as does the corefxlab reader)
- The performance of SpanJson is in most cases at least as fast as

[2018-05-15 08:07] #2288 closed

[2018-05-16 19:59] MisinformedDNA commented on #2222
**1.**

When I serialize, I want to know that I am not in the middle of a poll, or in other words, that the timer function is not in progress. Serializing while the timer function is in progress may lead to unexpected results.

One way to do this is to set the `PollingInterval` to `Timeout.Infinite`, which stops the polling for potential serialization. Once the serialization is finished, I can res

[2018-05-16 19:59] ahsonkhan opened #2294 "Consider the TryWrite pattern, optimistically assuming you have enough space rather than pre-computing"
For context: https://github.com/dotnet/corefxlab/pull/2291#discussion_r188671907

Investigate if certain JsonWriter APIs become faster if we skip the pre-compute bytes needed step and use the TryWrite pattern.

cc @KrzysztofCwalina

[2018-05-16 20:02] ahsonkhan commented on #2294
For example:
[code]
[code]

[2018-05-16 20:11] ahsonkhan opened #2295 "Investigate moving the JsonWriter "pretty print" feature to a post-processing step"
For context: https://github.com/dotnet/corefxlab/pull/2292#issuecomment-389549705

Investigate if we can optimize the JsonWriter by formatting the output at the end, rather than during each Write call.

cc @Tornhoof, @KrzysztofCwalina

[2018-05-16 20:47] Tornhoof commented on #2295
I have to admit, I did not think about much streaming. Assuming that streaming will be done via Pipes (ex-Channels) (even though I don't know how those work with chars), I thought a PPP (Pretty Printer Pipe) would  work, that one wraps the normal i/o pipe and does the post processing work. But I only have very limited experience with pipes, all my current streaming experiments are several times sl

[2018-05-16 20:49] KrzysztofCwalina commented on #2294
The Try implementation is very long. It won't be inlined. And so one thing you might type is to remove all the range checks and simply wrap the method body in try-catch(IndexOutOfRangeException). It would give us an idea of the perf we could get is we added a Try setter to Span\<T\>.

[2018-05-17 16:13] msedi opened #2297 "Resolve un-contiguous memory into contiguous memory"
I'm often having the problem that I have to deal with large image volumes. Currently to run quickly over a volume and do image operations on the data, I need to copy the whole volume into one large block of memory. Assume that I have a volume with a matrix size of 512x512 and around 1000 images stored in float, I have doubled the amount of memory in my system only because I need the data contiguou

[2018-05-17 17:50] ahsonkhan commented on #2297
Have you tried looking into ReadOnlySequence? It supports discontiguous memory and obfuscates that away. https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L310-L346

cc @pakrym, @KrzysztofCwalina

[2018-05-17 17:51] ahsonkhan commented on #2297
cc @JeremyKuhne

[2018-05-17 17:54] ahsonkhan commented on #2297
Sample use:

[code]

[2018-05-18 07:30] msedi commented on #2297
@ahsonkhan: Thank you for the comment. This is really nice. I did some performance tests on it and it seems that using the BufferSegment is equivalent, if not even faster than my original "copy into one block" solution. The benefit of your method is also that is not so memory hungry than my solution. Thanks a lot for pointing this out.

My only question is, why is the BufferSegment not "official"

[2018-05-18 07:37] davidfowl commented on #2297
We didn't ship an official "buffer linked list node" type outside of these test implementations and the implementation in pipelines. File an issue on corefx as a feature request if you'd like to see it.

[2018-05-18 07:42] msedi commented on #2297
@davidfowl: Thanks's, I will do.
@ahsonkhan: I made a mistake on my tests, so I have to redo some things, because I was also mistakenly assuming that I can run with one continuous index over the array. So in the end it's currently not really what I need, but I will an request. Do you think it makes sense to copy this post here into the corefx repo?

[2018-05-18 07:43] davidfowl commented on #2297
@msedi can you post the code you want to write and the code you wrote.

[2018-05-18 23:26] sidshetye commented on #1311
So what happened here ... `System.CommandLine` seems to be now missing at `dotnet/corefxlab` as well as `dotnet/corefx`. Is it effectively dead leaving `Microsoft.Extensions.CommandLineUtils` (now [here](https://github.com/natemcmaster/CommandLineUtils)) as the only modern and maintained option?

Had hoped that the CLI parsing of `dotnet` was a reusable component but it appears to have included th

[2018-05-18 23:51] ahsonkhan commented on #1311
That project was archived, see https://github.com/dotnet/corefxlab/pull/2245 for context.

Specifically https://github.com/dotnet/corefxlab/pull/2245#issuecomment-386764647:

cc @terrajobst, @KathleenDollard

[2018-05-20 20:02] deinok opened #2300 "System.Time - Ticks can be a UInt64 or ulong"
Ticks can be unsigned, it have no sense to have -1 Ticks.

Also, in some methods exists the check of:
` if (ticks < MinTicks ){throw Exception();}`
This kind of checks can be deleted as the compiler will already check it.

[2018-05-21 12:33] ForkBug opened #2301 "Where is System.IO.Pipelines.Networking.Windows.RIO?"
Sorry for not catching up.
According to https://github.com/dotnet/corefxlab/pull/2244, it has been cleaned due to "old projects"?

[2018-05-21 17:21] davidfowl commented on #2301
Deleted

[2018-05-21 21:58] davidfowl commented on #2301
It was a prototype that will likely come back as a kestrel transport.

[2018-05-22 01:02] ForkBug commented on #2301
Thank you for the clarification.
It's a good attempt to provide the cutting edge network performance on windows. Expecting for the project reborn

[2018-05-22 22:03] joshfree commented on #2301
Related:

- https://github.com/dotnet/corefxlab#archived-projects
- Delete old projects and remove failing samples from the solution. https://github.com/dotnet/corefxlab/pull/2244
- Move MultiValueDictionary, CommandLine, and Drawing.Graphics projects to archives. https://github.com/dotnet/corefxlab/pull/2245

[2018-05-22 22:05] joshfree commented on #2301
@ForkBug let us know if you have any any other questions; and feel free to reactivate this issue if needed.  Thanks

[2018-05-22 22:05] #2301 closed

[2018-05-25 10:58] Kukkimonsuta commented on #2300
While true traditionally types in BCL avoid using unsigned numbers to avoid constant conversions between signed and unsigned for developer:

https://msdn.microsoft.com/en-us/library/system.datetime.ticks(v=vs.110).aspx
https://msdn.microsoft.com/en-us/library/system.timespan.ticks(v=vs.110).aspx
https://msdn.microsoft.com/en-us/library/system.io.stream.length(v=vs.110).aspx

Is is even recommended

[2018-05-25 18:02] Kukkimonsuta commented on #1901
I might be completely off here, but could we just include `TimeSpan Offset` property but completely ignore it otherwise? It would allow mapping to `xs:date` and `xs:time` and developer could react to these, but in comparison and equality it would be ignored because it would be just "metadata" that carries along with the instance. This wouldn't match comparison behavior defined in xml schema, howev

[2018-05-25 20:32] ahsonkhan commented on #420
Re-opening the issue as we are still getting intermittent failures on Windows (https://github.com/dotnet/corefxlab/pull/2306):
https://ci.dot.net/job/dotnet_corefxlab/job/master/job/windows_nt_debug_prtest/1925/console
[code]

[2018-05-29 02:58] chucklu opened #2307 "Where is the source code for UvTcpListener?"
Hi,
   I find the [System.IO.Pipelines.Networking.Libuv](https://dotnet.myget.org/feed/dotnet-corefxlab/package/nuget/System.IO.Pipelines.Networking.Libuv) used in [SuperSocket](https://github.com/kerryjiang/SuperSocket).  And the project url  for System.IO.Pipelines.Networking.Libuv is this repository.
   But when I try to search UvTcpListener
   https://github.com/dotnet/corefxlab/search?q=UvTcp

[2018-05-29 03:30] chucklu commented on #2307
@davidfowl  so, we can still reference the assembly by nuget?

[2018-05-29 03:34] davidfowl commented on #2307
I’d recommend copying the code as these were never published to nuget.

[2018-05-29 03:36] chucklu commented on #2307
Get you,thanks a lot!

[2018-05-29 03:36] #2307 closed

[2018-05-29 19:31] ahsonkhan commented on #2307
FYI, for experimental purposes, they were published to the corefxlab MyGet feed: https://dotnet.myget.org/feed/dotnet-corefxlab/package/nuget/System.IO.Pipelines.Networking.Libuv/0.1.0-preview2-180503-5

[2018-05-29 21:35] joshfree commented on #2013
Please note that MultiValueDictionary has been moved to the archived_projects directory and isn't under active development.  It may be removed entirely in the future: https://github.com/dotnet/corefxlab#archived-projects

/cc @ianhays

[2018-05-29 21:37] joshfree commented on #2096
Please note that System.CommandLine is an Archived Project and may be removed entirely in the future.  https://github.com/dotnet/corefxlab#archived-projects

[2018-05-29 21:39] #1952 closed

[2018-05-30 04:13] ahsonkhan opened #2312 "Add a performance benchmark for Range GetEnumerator"
We use BenchmarkDotNet for our performance benchmarks. See https://github.com/dotnet/corefxlab/tree/master/tests/Benchmarks for examples.

Add a performance test that measures the cost of iterating through a range of values.
https://github.com/dotnet/corefxlab/blob/d68a9a4cfae4c62a0cb05c204cf8d98d6876833a/src/System.Buffers.Experimental/System/Range.cs#L81

cc @KrzysztofCwalina

[2018-05-30 04:21] ahsonkhan opened #2313 "Optimize JsonWriterUtf8 WriteValue overloads"
Optimize WriteValue method overloads similar to WriteValue(long value).
https://github.com/dotnet/corefxlab/blob/cae77712b8274a686fee4a4b62db770e093a701b/src/System.Text.JsonLab/System/Text/Json/JsonWriterUtf8.cs#L496

Follow the example from https://github.com/dotnet/corefxlab/pull/2291 and https://github.com/dotnet/corefxlab/blob/cae77712b8274a686fee4a4b62db770e093a701b/src/System.Text.JsonLab/S

[2018-05-30 04:27] ahsonkhan opened #2314 "Optimize JsonWriterUtf16 WriteValue overloads"
Optimize WriteValue method overloads similar to WriteValue(long value).
https://github.com/dotnet/corefxlab/blob/cae77712b8274a686fee4a4b62db770e093a701b/src/System.Text.JsonLab/System/Text/Json/JsonWriterUtf16.cs#L474

Follow the example from https://github.com/dotnet/corefxlab/pull/2291 and https://github.com/dotnet/corefxlab/blob/cae77712b8274a686fee4a4b62db770e093a701b/src/System.Text.JsonLab/

[2018-05-30 04:30] ahsonkhan opened #2315 "Optimize JsonWriterUtf8 and JsonWriterUtf16 WriteNull() methods"
Follow the example from #2291 to reduce unnecessary calls to EnsureBuffer and Advance.

https://github.com/dotnet/corefxlab/blob/cae77712b8274a686fee4a4b62db770e093a701b/src/System.Text.JsonLab/System/Text/Json/JsonWriterUtf8.cs#L568
https://github.com/dotnet/corefxlab/blob/cae77712b8274a686fee4a4b62db770e093a701b/src/System.Text.JsonLab/System/Text/Json/JsonWriterUtf16.cs#L546

[2018-05-30 21:27] GrabYourPitchforks commented on #413
Closing as no longer relevant due to the fact that `Utf8String` is a proper reference type. It will have a special non-boxing `GetEnumerator` just like `System.String`.

[2018-05-30 21:27] #413 closed

[2018-05-30 21:32] GrabYourPitchforks commented on #452
The UTF8/UTF16 transcoding logic being worked on (see https://github.com/GrabYourPitchforks/fast-utf8/blob/master/FastUtf8Tester/Utf8Util.ConvertToUtf16.cs for example) is already fully vectorized. This code will eventually be merged into corefxlab as the `Utf8String` type is productized.

[2018-05-30 21:47] GrabYourPitchforks commented on #582
The type `UnicodeCodePoint` no longer exists, so this is not needed.

[2018-05-30 21:47] #582 closed

[2018-05-30 21:48] GrabYourPitchforks commented on #2033
This is already addressed in the `utf8string` branch. Waiting for a merge into `master`.

[2018-05-30 23:08] GrabYourPitchforks commented on #963
@AtsushiKan Do you plan on merging your proposed commit into corefx master? The change looks fine.

[2018-05-30 23:16] GrabYourPitchforks commented on #1269
@benaadams What's the context for this? It seems like you're advocating turning a `Span<char>` (or `Vector<ushort>`) into a `Span<byte>` (`Vector<byte>`) while also checking for integer overflow at the same time. Does such logic belong as a first-class encoder type within the Framework?

[2018-05-30 23:29] GrabYourPitchforks commented on #50
@KrzysztofCwalina I don't think "R" is a valid format specifier for integral types. Can you clarify what the intent of this test is?

[2018-05-30 23:42] benaadams commented on #1269
Didn't use `Vector<T>`; couldn't get the perf for narrowing https://github.com/dotnet/coreclr/issues/16474

Was advocating for a `ASCII.TryEncode(string, Span<byte>, out ...)` to go with a `UTF8.TryEncode(string, Span<byte>, out ...)` as there are some places that don't accept UTF8 so a UTF8-to-wire encoder is no good.

[2018-05-30 23:44] KrzysztofCwalina commented on #50
I don't remember the exact context, but I see a comment in the Program.cs file that says // TODO: all of the formats should work.

If we don't think we need R for integral types, then we should change the comment and/or cleanup the Program.cs file as it implies that many of the tests should be enabled in the future.

[2018-05-30 23:46] GrabYourPitchforks commented on #64
@KrzysztofCwalina What remains to be done here? The formatters / parsers are now productized and the RTM code appears to have addressed much of these concerns.

[2018-05-30 23:49] GrabYourPitchforks commented on #988
@KrzysztofCwalina Is this still relevant now that we have UTF8-specific parsing / formatting types, `StandardFormat`, and `SymbolTable`?

[2018-05-31 00:02] ahsonkhan commented on #1534
@MisinformedDNA, can this issue be closed now?

[2018-05-31 00:05] AtsushiKan commented on #963
Oh, right, that fell through the cracks over vacation. Sure, I can open up a PR.

[2018-05-31 00:06] ahsonkhan commented on #1523
Assigning to @GrabYourPitchforks, as this overlaps with the UTF-8 work he has been doing.

[2018-05-31 00:07] ahsonkhan commented on #1514
Assigning to @GrabYourPitchforks, as this overlaps with the UTF-8 work he has been doing.

[2018-05-31 00:07] ahsonkhan commented on #1512
Assigning to @GrabYourPitchforks, as this overlaps with the UTF-8 work he has been doing.

[2018-05-31 00:11] ahsonkhan commented on #822
We removed Libuv as part of https://github.com/dotnet/corefxlab/pull/2244. Closing this issue.

[2018-05-31 00:11] #822 closed

[2018-05-31 00:14] ahsonkhan commented on #749
@AtsushiKan, was Uri parsing intentionally left out of https://github.com/dotnet/corefx/issues/24607 / https://github.com/dotnet/corefx/pull/25078? Do we plan to add an API in the future?

[2018-05-31 00:16] MisinformedDNA commented on #1534
Yes please.

[2018-05-31 00:19] ahsonkhan commented on #58
@KrzysztofCwalina, is this issue still relevant? Removing up-for-grabs since we need more info.

[2018-05-31 00:20] #1534 closed

[2018-05-31 00:26] ahsonkhan commented on #2217
@MisinformedDNA, anything left for this issue?

[2018-05-31 00:29] ahsonkhan commented on #2202
System.IO.Pipelines.Networking.Libuv/UvTcpConnection.cs got deleted as part of the repo clean-up. https://github.com/dotnet/corefxlab/pull/2244

Hence, closing this issue.

cc @davidfowl

[2018-05-31 00:29] #2202 closed

[2018-05-31 00:31] ahsonkhan commented on #2174
System.IO.Pipelines.Networking.Libuv/UvTcpConnection.cs got deleted as part of the repo clean-up. https://github.com/dotnet/corefxlab/pull/2244

Hence, closing this issue.

[2018-05-31 00:31] #2174 closed

[2018-05-31 00:33] benaadams commented on #1269
Though think it would be part of `Encoding` as couldn't find Utf8 encoders anymore? Just saying Ascii needs some ❤️ too

[2018-05-31 00:39] ahsonkhan commented on #1905
@KrzysztofCwalina, can we close this issue now that ReadOnlyBytes/ReadOnlySequence got merged?

[2018-05-31 00:40] #1905 closed

[2018-05-31 00:48] ahsonkhan commented on #1652
Related:

- https://github.com/dotnet/corefxlab#archived-projects
- Delete old projects and remove failing samples from the solution. https://github.com/dotnet/corefxlab/pull/2244
- Move MultiValueDictionary, CommandLine, and Drawing.Graphics projects to archives. https://github.com/dotnet/corefxlab/pull/2245

[2018-05-31 00:48] #1652 closed

[2018-05-31 00:50] ahsonkhan commented on #1628
https://github.com/dotnet/corefxlab/blob/89ea88c64f2dabe362c0a3df21d07313542c1d80/src/System.Text.Primitives/System/Text/Encoders/EncodingHelper.cs#L55

cc @GrabYourPitchforks - is this a good issue for the hackathon?

[2018-05-31 00:55] ahsonkhan commented on #1531
Moved to [ReferenceCountedMemory](https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Experimental/System/Buffers/Native/ReferenceCountedMemory.cs#L34-L36).

[2018-05-31 00:58] ahsonkhan commented on #1451
This was removed as part of https://github.com/dotnet/corefxlab/pull/2244/files#diff-f068a9a90622744a09a45fd29b213dbaL16. Closing.

[2018-05-31 00:58] #1451 closed

[2018-05-31 01:00] ahsonkhan commented on #1297
@KrzysztofCwalina, is this issue still relevant?

[2018-05-31 01:01] ahsonkhan commented on #1285
No longer relevant since we ReadOnlySequence already shipped. Closing.

https://github.com/dotnet/corefx/blob/8e53c7efea4efd28ba9d111dd4e70e3ca2f987f3/src/System.Memory/src/System/Buffers/ReadOnlySequence.cs#L55

https://github.com/dotnet/corefx/blob/8e53c7efea4efd28ba9d111dd4e70e3ca2f987f3/src/System.Memory/src/System/Buffers/ReadOnlySequence_helpers.cs#L84

[2018-05-31 01:01] #1285 closed

[2018-05-31 01:02] ahsonkhan commented on #1284
Since we are now using BDN, this issue is no longer relevant.

cc @adamsitnik

[2018-05-31 01:02] #1284 closed

[2018-05-31 01:04] ahsonkhan opened #2316 "Remove the xunit.performance based PerfHarness"
Once all performance tests are ported to use BenchmarkDotNet, remove the xunit.performance PerfHarness.

https://github.com/dotnet/corefxlab/blob/89ea88c64f2dabe362c0a3df21d07313542c1d80/scripts/PerfHarness/PerfHarness.cs

Depends on https://github.com/dotnet/corefxlab/issues/2318, https://github.com/dotnet/corefxlab/issues/2319, https://github.com/dotnet/corefxlab/issues/2320

[2018-05-31 01:04] ahsonkhan commented on #2316
cc @adamsitnik

[2018-05-31 01:12] ahsonkhan commented on #1145
This was fixed as part of https://github.com/dotnet/corefxlab/pull/1933/files#diff-98ff257313db5bec83b87d192d5b1f43.

This type eventually became [SequencePosition](https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/SequencePosition.cs#L51)

cc @KrzysztofCwalina, @pakrym

Closing

[2018-05-31 01:12] #1145 closed

[2018-05-31 01:12] benaadams commented on #1269
Probably more interesting than this is HTMLEncoding strings -> Utf8 wire format, which I have: [`WriteUtf8HtmlString<T>(ref this BufferWriter<T> buffer, string text)`](https://github.com/benaadams/FrameworkBenchmarks/blob/9d940f533c14130ab5b627b61ab142c90abfbac3/frameworks/CSharp/aspnetcore-mono/PlatformBenchmarks/Utilities/BufferExtensionsText.cs)

As you currently have to `string -> htmlencode -

[2018-05-31 01:15] benaadams commented on #1269
Probably more interesting than this is HTMLEncoding strings -> Utf8 wire format, which I have: [`WriteUtf8HtmlString<T>(ref this BufferWriter<T> buffer, string text)`](https://github.com/benaadams/FrameworkBenchmarks/blob/9d940f533c14130ab5b627b61ab142c90abfbac3/frameworks/CSharp/aspnetcore-mono/PlatformBenchmarks/Utilities/BufferExtensionsText.cs) and uses an updated `TryEncodeAsciiCharsToBytes`

[2018-05-31 01:15] ahsonkhan commented on #1250
https://github.com/dotnet/corefxlab/blob/89ea88c64f2dabe362c0a3df21d07313542c1d80/tests/System.Buffers.Experimental.Tests/MemoryTests.cs#L118

[2018-05-31 01:16] ahsonkhan commented on #782
@davidfowl, @KrzysztofCwalina - can we close this issue?

[2018-05-31 01:17] ahsonkhan commented on #919
@benaadams, is this issue still relevant? https://github.com/dotnet/corefx/blob/8e53c7efea4efd28ba9d111dd4e70e3ca2f987f3/src/System.Memory/src/System/Buffers/MemoryPool.cs#L10

[2018-05-31 01:19] ahsonkhan commented on #1060
Does [ReadOnlySequence](https://github.com/dotnet/corefx/blob/8e53c7efea4efd28ba9d111dd4e70e3ca2f987f3/src/System.Memory/src/System/Buffers/ReadOnlySequence.cs#L19) resolve this issue?

[2018-05-31 01:22] #919 closed, assigned to nobody

[2018-05-31 01:23] ahsonkhan opened #2317 "Add more JsonWriter performance tests."
Add a performance test similar to https://github.com/dotnet/corefxlab/blob/89ea88c64f2dabe362c0a3df21d07313542c1d80/tests/Benchmarks/System.Text.JsonLab/JsonWriterPerf.cs#L103-L130 with calls to WriteValue of different primitive types to measure the impact of the optimizations from https://github.com/dotnet/corefxlab/issues/2313 / https://github.com/dotnet/corefxlab/issues/2314.

[2018-05-31 01:34] ahsonkhan opened #2318 "Port Base64 Performance test to BenchmarkDotNet"
We have some Base64 performance tests that need to be ported from xunit.performance to BenchmarkDotNet.
https://github.com/dotnet/corefxlab/blob/89ea88c64f2dabe362c0a3df21d07313542c1d80/tests/System.Binary.Base64.Tests/PerformanceTests.cs#L12

Follow the examples from previous efforts to port the performance tests:
https://github.com/dotnet/corefxlab/pull/2240
https://github.com/dotnet/corefxlab/p

[2018-05-31 01:35] ahsonkhan opened #2319 "Port Utf8Utility Performance test to BenchmarkDotNet"
We have some Utf8Utility performance tests that need to be ported from xunit.performance to BenchmarkDotNet.
https://github.com/dotnet/corefxlab/blob/89ea88c64f2dabe362c0a3df21d07313542c1d80/tests/System.Text.Primitives.Tests/Encoding/Performance/Utf8UtilityPerfTests.cs#L11

Follow the examples from previous efforts to port the performance tests:
https://github.com/dotnet/corefxlab/pull/2240
https

[2018-05-31 01:41] ahsonkhan opened #2320 "Port Encoding (UTF-8/UTF-16/UTF-32) performance comparison test to BenchmarkDotNet"
We have some Utf8/Utf16 encoding performance tests that need to be ported from xunit.performance to BenchmarkDotNet.
https://github.com/dotnet/corefxlab/blob/22c2d4edc6fc16ed50489f6709ee54ab8aede113/tests/System.Text.Primitives.Tests/Encoding/Performance/PerfTests.CoreCLR.cs#L9
https://github.com/dotnet/corefxlab/blob/679861d43063637d523bd36d54c7dd25994c475e/tests/System.Text.Primitives.Tests/Enco

[2018-05-31 01:48] ahsonkhan opened #2321 "Cleanup Json PerfSmokeTests and port to BDN"
- Remove flaky aspects of the tests (that uses GC APis to measure allocations).
- Port the performance measurement parts to use BDN.

https://github.com/dotnet/corefxlab/blob/89ea88c64f2dabe362c0a3df21d07313542c1d80/tests/System.Text.JsonLab.Tests/PerfSmokeTests.cs#L18

[2018-05-31 01:52] ahsonkhan opened #2322 "Cleanup and move Utf8Parser tests to corefx"
Move all the Utf8Parser performance tests to corefx https://github.com/dotnet/corefx/blob/8e53c7efea4efd28ba9d111dd4e70e3ca2f987f3/src/System.Memory/tests/Performance/Perf.Utf8Parser.cs#L11 and remove duplicate/unnecessary test cases in the process.

This includes the following performance tests:
https://github.com/dotnet/corefxlab/blob/89ea88c64f2dabe362c0a3df21d07313542c1d80/tests/System.Text.Pr

[2018-05-31 01:57] ahsonkhan opened #2323 "Cleanup Formatting PerfSmokeTests and port to BDN"
https://github.com/dotnet/corefxlab/blob/89ea88c64f2dabe362c0a3df21d07313542c1d80/tests/System.Text.Formatting.Tests/PerformanceTests.cs#L15

cc @KrzysztofCwalina, @adamsitnik

[2018-05-31 02:00] ahsonkhan commented on #56
Not enough info. Removing up-for-grabs.

[2018-05-31 02:02] ahsonkhan commented on #65
Do we have a mechanism to measure code coverage in corefxlab?

[2018-05-31 02:03] ahsonkhan commented on #72
What type of docs were you looking for?
Contributing/developer guide? Is https://github.com/dotnet/corefxlab#building-and-testing sufficient?

[2018-05-31 02:06] ahsonkhan commented on #167
cc @safern

[2018-05-31 02:07] ahsonkhan commented on #166
cc @safern

[2018-05-31 02:09] ahsonkhan commented on #538
System.Net.Libuv was deleted as part of https://github.com/dotnet/corefxlab/pull/2244.

[2018-05-31 02:09] #538 closed

[2018-05-31 02:09] ahsonkhan commented on #555
System.Net.Libuv was deleted as part of https://github.com/dotnet/corefxlab/pull/2244.

[2018-05-31 02:09] #555 closed

[2018-05-31 02:09] ahsonkhan commented on #556
System.Net.Libuv was deleted as part of https://github.com/dotnet/corefxlab/pull/2244.

[2018-05-31 02:09] #556 closed

[2018-05-31 02:09] ahsonkhan commented on #564
System.Net.Libuv was deleted as part of https://github.com/dotnet/corefxlab/pull/2244.

[2018-05-31 02:09] #564 closed

[2018-05-31 02:09] ahsonkhan commented on #632
System.Net.Libuv was deleted as part of https://github.com/dotnet/corefxlab/pull/2244.

[2018-05-31 02:09] #632 closed

[2018-05-31 02:12] ahsonkhan commented on #1751
cc @GrabYourPitchforks, fyi.

[2018-05-31 02:12] ahsonkhan commented on #174
cc @safern

[2018-05-31 02:19] ahsonkhan commented on #576
This was fixed as part of https://github.com/dotnet/corefxlab/pull/798. Closing.

[2018-05-31 02:19] #576 closed

[2018-05-31 02:20] ahsonkhan commented on #561
I am assuming this is part of performance testing? Does using BenchmarkDotNet to track allocations resolve this issue?

cc @adamsitnik

[2018-05-31 02:29] ahsonkhan commented on #1200
Due to the following issue, we can't run codeformatter on the corefxlab solution: https://github.com/dotnet/codeformatter/issues/256, using https://github.com/dotnet/codeformatter/releases/tag/v1.0.0-alpha6.

[2018-05-31 02:40] ahsonkhan commented on #774
This issue needs more info. @KrzysztofCwalina, @jonfortescue, do you recall what work is required here?

[2018-05-31 02:43] ahsonkhan commented on #766
Part of this was fixed in https://github.com/dotnet/corefx/pull/25626.

[2018-05-31 02:44] ahsonkhan commented on #1627
cc @GrabYourPitchforks

[2018-05-31 02:52] ahsonkhan commented on #959
I believe this has been fixed. We have several warnings during the build step but are successfully publishing packages to MyGet. Closing.

From: [DotNet-CoreFxLab-Nightly-Windows / Build preview2-180531-1 / Job / Run script build.cmd](https://devdiv.visualstudio.com/DevDiv/_build/index?buildId=1733440&_a=summary)
[code]

We have packages like https://dotnet.myget.org/feed/dotnet-corefxlab/package/

[2018-05-31 02:52] #959 closed

[2018-05-31 02:52] GrabYourPitchforks commented on #1269
Adding UTF8 support for all of the web encoders is definitely on the radar. I have a list of other minor perf improvements I want to make at the same time.

[2018-05-31 02:56] ahsonkhan opened #2324 "Can we publish sources as part of publishing the packages?"
From https://github.com/dotnet/corefxlab/pull/1198#issuecomment-278442114, see if adding  `--include-sources` to the pack command will work: https://github.com/dotnet/corefxlab/blob/89ea88c64f2dabe362c0a3df21d07313542c1d80/scripts/package.ps1#L27

[2018-05-31 06:32] adamsitnik commented on #1284
BDN enforces this by default, every process it starts runs as high priority.

[2018-05-31 07:40] davidfowl commented on #782
Yep!

[2018-05-31 07:40] #782 closed

[2018-05-31 08:00] ligf opened #2325 "System.IO.Pipelines.Networking.Libuv"
Whether the System.IO.Pipelines.Networking.Libuv project will recover？

[2018-05-31 14:19] AtsushiKan commented on #749
Uri parsing was never on the table as far as I know.

Something like that should probably go on the Uri class rather than Utf8Parser. Utf8Parser focuses on more fundamental building blocks.

[2018-05-31 15:09] MisinformedDNA commented on #2217
I do think it's still a problem as the instructions are not complete on what to install, leading to unnecessary roadblocks.

[2018-05-31 15:45] KrzysztofCwalina commented on #749
I think we should do something in this space though. Utf8Parser might not be the best place for the API, but today parsing Uri is too expensive. Even worse, the current representation of System.Uri is too expensive (stores UTF16 strings)

[2018-05-31 17:27] KrzysztofCwalina commented on #561
GC allocations are very predictable. I worry that BDN's harness is just way too heavyweight for it. I was imagining something very lightweight that can be used within a simple unit test, i,.e. capture allocations before the test, run test, ensure that only expected number of bytes are allocated after the test runs.

I think this can be done with the new thread allocation metrics exposed in core 2.

[2018-06-02 01:32] ahsonkhan commented on #2217
I think it would be useful to open an issue in corefx to update the "individual components" install section to include the necessary components that come from .NET Core cross-platform development.

Within this repo, the steps here mention the minimum workload to install: https://github.com/dotnet/corefxlab#building-and-testing

Anything else that needs to be done, specific to this repo?

[2018-06-02 07:52] davidfowl commented on #2325
No there are no plans to bring it back. The transport layer in kestrel is where that core lives now

[2018-06-02 13:09] i3arnon commented on #1976
What about the `CloneEmpty` overloads though? They now return `Tensor<T>` as well.
Should there be concrete overloads for them?

[2018-06-02 13:54] i3arnon commented on #1976
I would like to start working on it. @karelz, can you add me as a collaborator so I'll assign this to myself?

[2018-06-02 14:10] ViktorHofer commented on #1976
Till somebody sends @i3arnon a collaboration invite I marked myself as assignee.

[2018-06-02 14:34] ViktorHofer commented on #1976
Self assigning myself until somebody sends @i3arnon a collaboration invite.

[2018-06-02 14:54] i3arnon commented on #1450
@karelz, I would like to take this issue.

[2018-06-02 16:27] kant2002 commented on #2318
Would like take a stab

[2018-06-02 18:50] #2325 closed

[2018-06-02 20:27] #2217 closed

[2018-06-02 20:37] GrabYourPitchforks commented on #1628
I'm unsure as to the exact scenario under consideration here. Are you trying to find the first whitespace / non-whitespace character in a string (e.g., implementing `Trim`), or are you trying to speed up detecting whether a single character is whitespace (e.g., while enumerating)? The implementations will look slightly different in each case.

For example, consider the existing method `Char.IsWhit

[2018-06-02 20:51] ahsonkhan commented on #1628
Looking at how we use this method, it seems like we use it for both scenarios:
Trim - https://github.com/dotnet/corefxlab/blob/b8e0ab345bca5c41f3640d88dd43562e0149b042/src/System.Text.Utf8String/System/Text/Utf8String.cs#L194
Is single character whitespace (but this looks very similar to Trim as well) - https://github.com/dotnet/corefxlab/blob/0687665071bb637f5bac78fc7c9f0f825b778dbd/src/System.Te

[2018-06-02 21:15] GrabYourPitchforks commented on #1628
TBH I don't expect to see real measurable perf gains from any vectorization at all. What would you even vectorize in this code path? And _in the common case_ would the overhead of setting up the vectorization logic be worth it, or is the common case to escape from the enumeration so early that a naive loop is best?

[2018-06-02 21:26] ahsonkhan commented on #1628
True. Given we didn't vectorize the span trimstart/trimend APIs for this reason, I believe the common case is that we find a non-white space early enough for vectorization to **not** be worth it.

[2018-06-02 22:13] GrabYourPitchforks commented on #1628
Upon further thought, maybe this is something meant for coreclr. There may be some merit to vectorizing methods like `String.Split`, but I don't think it would require changes to the methods under consideration in this particular issue.

[2018-06-02 22:27] ahsonkhan commented on #1628
Should we reverse `EncodingHelper.cs :: IsWhiteSpace` to be `IsNotWhiteSpace` which essentially does the following:
[code]

[2018-06-02 22:44] #2321 closed

[2018-06-02 23:54] #2315 closed

[2018-06-03 00:47] #1450 closed

[2018-06-03 05:15] kant2002 commented on #2319
I will take a look at this.

[2018-06-03 07:05] kant2002 commented on #2320
will take a look

[2018-06-03 12:52] #2319 closed

[2018-06-03 15:29] i3arnon commented on #2312
I'll take it.

[2018-06-03 16:12] i3arnon commented on #1817
@karelz I'll start looking at this, but it might take a while...

[2018-06-03 23:57] GrabYourPitchforks opened #2337 "Address PR feedback from #2329"
See https://github.com/dotnet/corefxlab/pull/2329#pullrequestreview-125412852 for PR feedback. The PR was already merged, so opening a new issue to track this.

[2018-06-04 08:58] i3arnon commented on #1817
@karelz those issues are done on my end (until someone says otherwise). I didn't mean it'll take me time to get to it, but to figure out what's all this tensor stuff about. However i can take a step back if I'm hogging up issues.

[2018-06-04 19:46] ahsonkhan commented on #2317
Will assign to @hack2root, once he has collaborator invite.

[2018-06-04 19:46] ahsonkhan commented on #2317
cc @karelz

[2018-06-04 20:09] karelz commented on #2317
Invitation sent. @hack2root let us know when you accept, we can then assign the issue to you (GH limitation).

[2018-06-04 22:56] joshfree opened #2340 "Update Readme.md to include System.Devices.Gpio"
readme.md should be updated to include System.Devices.Gpio

/cc @edgardozoppi

[2018-06-05 02:03] edgardozoppi commented on #2340
Done in PR #2342.

[2018-06-05 02:03] #2340 closed

[2018-06-05 15:43] KrzysztofCwalina opened #2343 "PollingWatcher tests fail with ObjectDisposedException"
Got the following exception when running CI build, yet I did not touch any code in the polling watcher library:

08:40:24 Starting test execution, please wait...
08:40:26 The active test run was aborted. Reason: Unhandled Exception: System.ObjectDisposedException: Cannot access a disposed object.
08:40:26    at System.Threading.TimerQueueTimer.Change(UInt32 dueTime, UInt32 period)
08:40:26    at S

[2018-06-05 19:23] ahsonkhan commented on #2343
Duplicate of https://github.com/dotnet/corefxlab/issues/420. Closing.

[2018-06-05 19:23] #2343 closed

[2018-06-05 19:23] ahsonkhan commented on #420
From @KrzysztofCwalina (https://github.com/dotnet/corefxlab/issues/2343):

08:40:26 The active test run was aborted. Reason: Unhandled Exception: System.ObjectDisposedException: Cannot access a disposed object.
08:40:26    at System.Threading.TimerQueueTimer.Change(UInt32 dueTime, UInt32 period)
08:40:26    at System.IO.PollingFileSystemWatcher.TimerHandler(Object context) in /mnt/j/workspace/dotn

[2018-06-05 23:15] MisinformedDNA opened #2345 "Build broken"
- Updated my master branch (4924c291bc93c73c040745a23284b4cf212a133c)
- Ran `clean.cmd`
- Ran `build.cmd`

**Error**

**dotnet --info**

[2018-06-06 00:20] ahsonkhan commented on #2345
I can't repro the failure on latest master (or on the commit you listed). Is it intermittent? Is there some dotnet.exe or other process still running in the background locking csc.dll?

Please feel free to re-open if you are still seeing issues with the build.

[2018-06-06 00:20] #2345 closed

[2018-06-06 00:21] #2320 closed

[2018-06-06 00:26] MisinformedDNA commented on #2345
I ran `clean` so all the processes should have been killed. Also, when `corefxlab/dotnetcli` is added to the beginning of the path, it totally jacks up my ASP.NET projects: Templates are missing, build warnings, etc.

[2018-06-06 00:27] MisinformedDNA commented on #2345
And no, it's not intermittent. It happens every time in the same place.

[2018-06-06 00:35] ahsonkhan commented on #2345
Do you have VS running? Also, do you have any msbuild or VBCSCompiler.exe processes as well? I am not sure why you are seeing any failures. We don't see such failures in locally, in CI, or on official builds.
Can you share the entire log from the build command?

As a last resort, consider restarting your machine.

[2018-06-06 06:20] GrabYourPitchforks opened #2350 "Utf8String design proposal"
# Utf8String design discussion - last edited 14-Sep-19

## Utf8String design overview

### Audience and scenarios

`Utf8String` and related concepts are meant for modern internet-facing applications that need to speak "the language of the web" (or i/o in general, really). Currently applications spend some amount of time transcoding into formats that aren't particularly useful, which wastes CPU cyc

[2018-06-06 06:36] benaadams commented on #2350
Does that mean
[code]
Would be a double traversal? i.e. any use of `IndexOf` would lead to a double traversal for its return value to be meaningful?

[2018-06-06 06:36] GrabYourPitchforks commented on #2350
Yes, I know this is dated _from the future_! :)
It's our agenda and review doc for the in-person meeting before it goes to wider community review. Not everything is captured here, especially things related to runtime interaction.

[2018-06-06 06:41] GrabYourPitchforks commented on #2350
@benaadams No, it's a single traversal, just like if _s_ were typed as `System.String` in your example. The `IndexOf` is O(n) up to the first found ',' character (using a vectorized search if available), and the `Substring` is O(n) from the indexed position to the end of the string. So the total number of bytes observed is `index + (Length - index)` = `Length` = single traversal.

[2018-06-06 06:46] benaadams commented on #2350
But if `IndexOf` is returning the number of `UnicodeScalar`s which can be 1-4 bytes; passing that `int` return value into `Substring` doesn't it then have to rescan from the start of the `Utf8String` to find that start position? i.e. `IndexOf` isn't returning `(int scalarPosition, int byteOffset)`

[2018-06-06 06:51] GrabYourPitchforks commented on #2350
APIs that operate on indices (like `IndexOf`, `Substring`, etc.) go by code unit count, not scalar count.

(I get that it might be confusing since _enumeration_ of `Utf8String` instances goes by scalar, not by code unit, so now we have a disparity on the type. That's why I'd proposed as an open question that maybe we kill the enumerator entirely and just have `Bytes` and `Scalars` properties, whic

[2018-06-06 07:55] benaadams commented on #2350
Ahh....

[2018-06-06 13:38] stephentoub commented on #2350
Thanks, Levi.  Some questions/comments:

I don't understand how this is possible.  With Utf8String as a reference type, getting the data into it will necessitate a memcpy at a minimum, which is not O(1).

A memcpy is free?

I would expect a requirement would also be being able to query the total length in bytes in O(1) (which is also possible with string).

This is already making some trade-offs.

[2018-06-06 14:17] whoisj commented on #2350
Not that I know of. Windows is, with very good legacy reasons, very UTF-16/UCS-2 focused.

[2018-06-06 14:28] whoisj commented on #2350
What about `Equals(string other)` or `CompareTo(string other)` ?

Seems like not implementing this would make it difficult for existing ecosystems to adopt this type.

[2018-06-06 16:51] KrzysztofCwalina commented on #2350
1. The github issue lists servers and IoT as main scenarios. I think we need to add ML.NET. They explicitly requested UTF8 string support.
2. The ML.NET team requires allocation free slicing. I am not sure if they need the slices to be heap-friendly or not. Something you should research.
3. It would be good to drill into reasons for each of the pri 0 requirements. They all start with "must" and so

[2018-06-06 19:38] nil4 commented on #2350
The signature `public Utf8String[] Split(Utf8String separator)` implies a *lot* of allocations and memory copies.

First, an array must be allocated for the return value.

Then, each element in the array *must be a copy* of each match, into a newly-allocated buffer, as `Utf8String` mandates null-termination but the input will not have nulls after each separator.

If I understand this correctly, ex

[2018-06-07 17:54] svick commented on #2350
I think the biggest issue with the proposed API is confusion between UTF8 code units and Unicode scalar values, especially when it comes to lengths and indexes. Would it make sense to alleviate that confusion by more explicit names, like `ByteLength` instead of `Length` or `startByteIndex` instead of `startIndex`?

---

[code]

Is `EditorBrowsableState.Never` the right way to hide dangerous method

[2018-06-07 23:51] GrabYourPitchforks commented on #2350
Yes, this is a typo.

This is possible via `Utf8String.Length` or `Utf8String.Bytes.Length`, both of which return the byte count.

I struggled with this, and the reason I ultimately decided not to include it is because I think the majority of calls to these methods involve searching for _literal_ substrings, and I'd rather rely on a one-time compiler conversion of the search target from UTF-16 to

[2018-06-08 11:45] svick commented on #2350
@GrabYourPitchforks

I didn't know that, interesting.

As far as I can tell, that commit is about `Span<T>`, which is a `struct`, so it doesn't violate the C# specification.

That doesn't sound like a good enough reason to have two different types to me, especially since you can create an invalid `UnicodeScalar`. Maybe the two groups could work together to create a single type for representing Uni

[2018-06-08 17:29] GrabYourPitchforks commented on #2350
`new byte[] { ... }` isn't a struct type. :)

This proposal assumes that `Rune` is never committed. So there's only one type in the end.

[2018-06-08 17:51] whoisj commented on #2350
I see that it's already committed, but can I just go on record as saying that `UnicodeScalar` is just a plain terrible name? It really is. It's long, it's generic enough to mean nearly nothing, and it is not even a term the Unicode group uses. I had the same complaints about `Rune` (with the exception that `Rune` is at least short`).

This type really ought to be named `Character` or `CodePoint`.

[2018-06-08 20:11] svick commented on #2350
@whoisj

["Unicode Scalar Value"](http://unicode.org/glossary/#unicode_scalar_value) is the term Unicode uses for this.

"Character" doesn't really mean anything ([Unicode lists 4 different meanings](http://unicode.org/glossary/#character)) and would be easily confused with `System.Char`/`char`.

["Code Point"](http://unicode.org/glossary/#code_point) is closer, but that term includes invalid Unic

[2018-06-09 03:46] GrabYourPitchforks commented on #2350
Nobody's stopping you. In fact, there's a public static factory that skips validation and allows you to create such an invalid value. But if you do this you're now violating the contractual guarantees offered by the type, I'd recommend _not_ doing this. :)

To be clear, creating an invalid `UnicodeScalar` won't AV the process or anything quite so dire. But it could make the APIs behave in very str

[2018-06-09 03:56] GrabYourPitchforks commented on #1514
@ahsonkhan, I don't see the type `Utf8TextEncoder` across any of our repos, and the earlier link seems dead. Can you point me to the method we should investigate? Thanks!

[2018-06-09 04:08] ahsonkhan commented on #1514
TextEncoders were re-designed here: https://github.com/dotnet/corefxlab/pull/1622

Here is the method in question, now:
https://github.com/dotnet/corefxlab/blob/4f23c82316b5e14ef8379ab6e4653bb43ab92dd8/src/System.Text.Primitives/System/Text/SymbolTable/SymbolTable_utf8.cs#L51

[2018-06-11 11:54] Kennedoom commented on #1688
Did the old PollingWatcher code handle remote directory monitoring at all? Unable to use the latest versions at the moment due to a .NET Framework incompatibility with our live servers (pain in the neck) so stuck with the older code.

In my own dev testing, trying to connect to one of our other boxes, the directory just gets dropped from the list in the PollingWatcher during the start method.

[2018-06-11 12:08] Kennedoom opened #2356 "Older PollingWatcher failing to monitor remote directory"
Posted this (I imagine foolishly heh) in a dead issue...

Did the old PollingWatcher code handle remote directory monitoring at all? Unable to use the latest versions at the moment due to a .NET Framework incompatibility with our live servers (pain in the neck) so stuck with the older code.
In my own dev testing, trying to connect to one of our other boxes, the directory just gets dropped from the

[2018-06-11 14:27] #2356 closed

[2018-06-11 14:28] Kennedoom commented on #2356
Turns out iot was simply my own ineptitude while setting up the network path... \UNC is advisable

[2018-06-11 15:54] whoisj commented on #2350
Sure, great, but a lot of the data being read into these structures will be coming from external sources. Very happy to hear that there's no validation steps being taking as the data is read in (because it would be horribly expensive), but still very concerned about:

BUT there is no guarantee - you've said so in your previous statement. There's an assumption, but no guarantee; so let's be careful

[2018-06-11 19:19] GrabYourPitchforks commented on #2350
The `Utf8String` and `UnicodeScalar` types make different contractual guarantees. I'll try to clarify them.

The `Utf8String` type _encourages_ but does not _require_ the caller to provide it a string consisting of only valid UTF-8 sequences. All APIs hanging off it have well-defined behaviors even in the face of invalid input. For example, enumerating scalars over an ill-formed `Utf8String` insta

[2018-06-11 19:45] GrabYourPitchforks commented on #2350
FWIW, the reason for this design is that it means that _consumers_ of these types don't have to worry about any of this. Just call the APIs like normal and trust that they'll give you sane values. If you take `UnicodeScalar` as a parameter to your method, you don't need to perform an `IsValid` check on it before you use it. Rely on the type system's enforcement to have prohibited the caller from e

[2018-06-12 07:23] benaadams commented on #2177
Should be called:
[code]
Otherwise its a bit weird, why are you passing something that's already a `IBufferWriter` to a `BufferWriter`

The answer is because you are buffer**ing** it; hence the addition of `Flush`.

So `BufferWriter<T>` -> `BufferedWriter<TBufferWriter>`

Also add a static `.Create<TBufferWriter>` method to a non-generic `BufferedWriter` to avoid specifying the generic params as t

[2018-06-12 13:18] whoisj commented on #2350
I suppose those are safe-enough trade-offs. Still, too bad the name has to be so unwieldy. :man_shrugging:

[2018-06-12 22:49] GrabYourPitchforks commented on #2350
The name doesn't have to be unwieldy. If there's consensus that it should be named `Rune` or similar, I'll relent on the naming. :)

[2018-06-12 22:58] KrzysztofCwalina commented on #2350
We should not call it a "Rune" if it's not a representation for the Unicode Code Point, i.e. let's not hijack a good unambiguous term and use it for something else.

[2018-06-13 15:45] Tornhoof commented on #2350
ᚺᛖᛚᛚᛟ᛫ᚹᛟᚱᛚᛞ
Are you sure about Rune? It's a Unicode Block after all.

[2018-06-13 16:19] KrzysztofCwalina commented on #2350
I think in graphemics (branch of science of writing) rune is indeed a grapheme. I think in software engineering, rune is a code point. But possibly it's not such a clear cut as I think. The point I was trying to make is using "rune" to mean Unicode Scalar would be at least yet another overload of the work "rune".

[2018-06-13 16:22] Tornhoof commented on #2350
Thank you for clarifying that.

[2018-06-13 16:33] benaadams commented on #2350
The `UnicodeScalar` is a more sane type to use than `char` as it always encompasses a full character rather than potentially half a character, which `char` can do.

However, while  `UnicodeScalar` is fine for a library type it isn't great for common usage for people that don't like `var` as you'd go from the less correct
[code]
to the more correct
[code]
which is a less desirable, very verbose, co

[2018-06-13 16:39] KrzysztofCwalina commented on #2350
Aside for reusable library developers, I don't think many people will be using (referring to) UnicodeScalar. Most people will create or get an instance of Utf8String, and the instance methods on this type, and most of these either don't use UnicodeScalar, or will be used by passing a literal ('a' or 65). If somehow the type becomes super popular, we can think about adding a language alias.

[2018-06-13 16:57] benaadams commented on #2350
I think you might be underestimating the usage...
[code]

[2018-06-13 17:05] KrzysztofCwalina commented on #2350
Yeah, my teenage daughter also thinks I underestimate the value and usage of emojis :-)

[2018-06-13 17:30] benaadams commented on #2350
Unless you are doing interop; `Utf8String` is probably going to be the go to string type. Its smaller when ascii; deals with whole characters and is more efficient when transferring on the wire (as its already in the correct format so needs no transcoding)

Whereas string is twice the size when ascii and deals in half characters; you have to worry about byte order; and often you have to repeatedly

[2018-06-13 18:13] whoisj commented on #2350
QFT. This is my issue, @benaadams has hit the nail on the head here. Fairly sure we cannot expect `char` and `string` to be co-opted by `UnicodeScalar` and `Utf8String` but it would be lovely if they could be.

[2018-06-14 02:12] benaadams commented on #2350
Windows even has an emoji keyboard...

![image](https://user-images.githubusercontent.com/1142958/41387475-f286c84a-6f7e-11e8-8a43-71021f6e0f09.png)

We've seen a huge rise in the use of emoji and the odder variants of unicode (script, upside down letters, lookalike chars etc) in our consumer focused applications. Initially we we resistant to it; but at this point its basically time to wholly embr

[2018-06-14 02:34] benaadams commented on #2350
Also all these methods are broken for supplementary plane chars/emoji
[code]
So should the following additional overloads be added to regular `string`?
[code]

[2018-06-14 03:04] ufcpp commented on #2350
A example of why we should use UnicodeScalar is the C# compiler. It has a bug on using surrogate pairs:

[code]

Unicode category of these characters are Lo (Other Letter). And Lo characters can be used for identifiers in [the C# spec](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/lexical-structure).

Many language other than C# can use surrogate pairs co

[2018-06-14 15:27] KrzysztofCwalina commented on #2350
Let me clarify: I definitely don't think we should be using "char" or any such type in Utf8String APIs. The APIs need to be 100% reliable, and UnicodeScalar is the only way to do it, i.e I am a big fan of UnicodeScalar.
What i was saying is that I don't think users will have to refer to the type often, e.g
utf8String.Split('a') would call a method taking UnicodeScalar, and C# compiler would target

[2018-06-14 15:43] whoisj commented on #2350
Agreed on the concept that a 32-bit Unicode scalar type needs to be present, and the string (notice not `string`) types need to utilize that and not the 16-bit `char` type.

I disagree. I tend to have code littered with `char[]` and `const char` declarations. I just opened a random  project and did a search for `\bchar\b` and in 72 files I got 155 hits. Having to type / look at `UnicodeScalar` in

[2018-06-14 19:07] #2318 closed

[2018-06-14 20:20] GrabYourPitchforks commented on #2350
Since the question of graphemes came up, I'll mention that we've been punting on the idea of having graphemes as a first-class citizen in the framework. (By "grapheme", I mean interpreting the 2-scalar sequence [ U+1F474 Older Man Emoji, U+1F3FF Fitzpatrick Type 6 Skin Modifier ] as the single grapheme "Older man with Fitzpatrick type 6 skin".) The reason we had been punting on this is that it ten

[2018-06-16 11:41] kant2002 commented on #2312
This closed by #2336

[2018-06-16 19:27] karelz commented on #2312
Thanks for reminder! Closing.

[2018-06-16 19:27] #2312 closed

[2018-06-18 10:55] shaggygi opened #2367 "Cleanup milestone and possible roadmap update"
Now that 2.1 is released, can milestone [2.1](https://github.com/dotnet/corefxlab/milestone/2) be closed?

Also, could the team release an update on main focus for 2.2 and possibly 3.0 for this repo?  I really like the work that was put into this [previous doc](https://github.com/dotnet/corefxlab/blob/master/docs/roadmap.md).

Thx

[2018-06-19 00:34] GrabYourPitchforks commented on #2350
Some other feedback now that I'm rereading this thread.

@benaadams - I agree that we should add `UnicodeScalar`-accepting APIs to `System.String` if there's a need to do so. If the majority use case is that developers are searching for literals, the existing APIs like `String.IndexOf("<my multi-char emoji>")` already work just fine.

@whoisj - Regarding your `const char` fields, what if the compi

[2018-06-19 01:48] migueldeicaza commented on #2350
Some comments on the API from last week:

Given that it should be possible to create Utf8Strings from invalid operations, we need a way of returning a value that indicates that there was an error processing the utf8 sequence in the buffer and indicate that this was caused due to this error.   NStack has a port of Go's libraries that do this.

It is not clear why Length of Runes should be O(1), see

[2018-06-19 02:24] GrabYourPitchforks opened #2368 "Scenarios and Design Philosophy - UTF-8 string support"
(This is a living document. Expect edits.)

# Scenarios

## High-performance networking stacks

(This includes `HttpClient`, ASP.NET's Kestrel, and similar APIs.)

High-performance networking stacks want to be able to read incoming data directly into a buffer and perform text processing operations over it. This buffer is most likely going to be a `byte[]` or similar, and the operations they'll wan

[2018-06-19 02:29] GrabYourPitchforks commented on #2350
There's some confusion over runtime complexity of the `Utf8String` length APIs. Fetching the code unit count ("byte length", if you will) is O(1) complexity. There's no API on `Utf8String` to count the total number of scalars ("runes", if you will). There are other APIs which will give you this information, but the proposal here doesn't expose those APIs on `Utf8String`.

[2018-06-19 03:07] GrabYourPitchforks commented on #2350
I've added the missing APIs to the Tuesday review. Thanks for the eagle eyes @migueldeicaza!

[2018-06-19 05:05] whoisj commented on #2350
As a note, it seems to me that `Utf8String.Length` ought to be the byte length of the underlying array (it is an array, isn't it - are we considering using linked buffers or something - doesn't really matter).

Given that `Utf8String` are likely immutable, and therefore the count of characters cannot be cached in the type after initialization; and nobody in their right mind would suggest computing

[2018-06-19 05:09] whoisj commented on #2350
On this topic, I cannot count the number of times that a p/invoke call to some library has returned corrupted or invalid `string` values; and since `System.String` lacks any ability to self validate, I always end up adding validation routines to project. Seems like something we ought to avoid in the future, ala @migueldeicaza recommendation (this is what I was trying, and failed to illuminate abov

[2018-06-19 06:12] GrabYourPitchforks commented on #2350
@whoisj By self-validate a `System.String` instance, you mean looking for mismatched surrogate pairs? I considered in this project adding validation APIs to both `Utf8String` and `String` but ultimately decided against it for a few reasons. I didn't want developers to feel obligated to call it before consuming the instances. And for `String` in particular, it's generally very difficult to create a

[2018-06-19 11:17] svick commented on #2368
What is the reason to avoid validation if it's very cheap?

What is the use case for that? I've heard "reverse a string" being used as an interview question, but when is it actually useful?

[2018-06-19 14:43] whoisj commented on #2350
More often that not, I work on library code that interops with external software. I primarily am concerned with `Orignal` and `OrdinalCaseInsensitive`, very-very rarely do I need to care about culture.

Often, I need to produce custom string comparers, when this happens every entry-point on string that takes a `StringComparison` becomes useless to me and I end-up re-implementing them.

What kind o

[2018-06-19 16:51] mburbea commented on #2350
Here's a thought for the Utf8String type, what if we allow you to use single quotes to be the literal?
With the exception of the case of a single character that could be a `char`, I believe we can make it safe.
Otherwise people may forget to prefix it. It can also be target typed in the case of a single character literal.
e.g.
[code]

[2018-06-19 16:56] benaadams commented on #2350
I assume single quotes would still be UnicodeScalar?
[code]

[2018-06-19 21:07] JesperTreetop commented on #2368
If you're parsing a text file or text-based format where you know you only need data at the end. `tail` is a good example; grabbing the last row of a CSV file (being very careful about the particulars of course) is another. In general, you could "skip back" a bit and go forward from there, but in UTF-8 in particular, you have to finagle the details to find out if you're in the middle of a surrogat

[2018-06-19 22:36] cdorst commented on #2368
To add data-persistence to the above scenarios: it would be useful if EF Core used the distinction between `System.Utf8String` & `System.String` when mapping objects (& generating migrations) to `varchar` (Utf8String) & `nvarchar` (String) SQL data types.

Ex: `class Foo { [StringLength(50)] public Utf8String Bar { get; set; } }` => SQL table `Foo` w/ `varchar(50)` `Bar` column; (the value-add is

[2018-06-19 23:05] JesperTreetop commented on #2368
@cdorst Ignoring that these methods would need to exist in the framework or in packages first for EF Core to have an opinion about them, `varchar` fields without an `n` is specifically relative to the collation and [contain bytes specified by the code page and resulting encoding](https://docs.microsoft.com/en-us/sql/t-sql/data-types/char-and-varchar-transact-sql?view=sql-server-2017). There's no g

[2018-06-19 23:16] cdorst commented on #2368
Thank you for the reply @JesperTreetop! That makes sense about being mindful of the db’s collation/encoding & not expecting it to be universally safe.

[2018-06-20 01:29] ufcpp commented on #2350
@mburbea

There are too many characters indistinguishable in appearance.

[code]

![image](https://user-images.githubusercontent.com/3760955/41632392-9aee4c20-7474-11e8-9aa5-de5e969f5873.png)

[2018-06-20 10:20] ufcpp commented on #2350
[code]

[2018-06-20 14:28] whoisj commented on #2350
@ufcpp I believe you're crossing the concepts of grapheme and scalars, which you actually point out yourself above. Given that the value type needs a fixed size, and given the hardware that exists today and for the foreseeable future, I'd guess that we'd land on a 32-bit scalar value type; whereas a grapheme type would likely need to be 128-bit. We need to be very careful here to not confuse conte

[2018-06-20 15:11] ufcpp commented on #2350
@whoisj
What I want to say is that type inference from a character is confusing. ❤ and 🧡 have very similar shape but ❤ can be `char` while 🧡can not.

needs more. For instance: [👩🏻‍👩🏿‍👧🏼‍👧🏾 ](http://ufcppfree.azurewebsites.net/Grapheme?s=%F0%9F%91%A9%F0%9F%8F%BB%E2%80%8D%F0%9F%91%A9%F0%9F%8F%BF%E2%80%8D%F0%9F%91%A7%F0%9F%8F%BC%E2%80%8D%F0%9F%91%A7%F0%9F%8F%BE) is a grapheme which consist of 11 scal

[2018-06-20 15:27] whoisj commented on #2350
👩🏻‍👩🏿‍👧🏼‍👧🏾  selects and copies as 4 discreet characters for me; sure the kerning is unusual, but the net effect is visually pleasing. Appears to be (or very similar to) the string `"\u1F469, ‍\u1F468, ‍\u1F467, ‍\u1F467"`.

Regardless, I think you're correct - grapheme would probably be treated as a string-like (read: array of scalars) value.

[2018-06-20 15:39] ufcpp commented on #2350
![image](https://user-images.githubusercontent.com/3760955/41668411-38e20e10-74ea-11e8-8439-8eda0a43fe6e.png) ← 👩🏻‍👩🏿‍👧🏼‍👧🏾 in Windows 10, Chrome.

According to [Unicode® Standard Annex #29](http://unicode.org/reports/tr29/#GB11), any number of pictographics joined with ZWJ (U+200D) is a grapheme. For instance [👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻‍👩🏻](http://u

[2018-06-20 16:19] whoisj commented on #2350
So it is a string-type then 😁

[2018-06-20 20:05] ahsonkhan commented on #2177
Assigning to @JeremyKuhne

[2018-06-20 20:05] ahsonkhan commented on #558
cc @GrabYourPitchforks

[2018-06-20 20:07] ahsonkhan commented on #66
Why do they need to be classes? What is the drawback of them being classes? We have some that are classes and some that are structs.

[ArrayFormatter is a class](https://github.com/dotnet/corefxlab/blob/6656f0a05a8f7d7b1bcdf92f7901f40d559a6bdc/src/System.Text.Formatting/System/Text/Formatting/Formatters/ArrayFormatter.cs#L12)

[StreamFormatter is a struct](https://github.com/dotnet/corefxlab/blob/

[2018-06-20 20:28] ahsonkhan commented on #71
The formatters have changed quite a bit. BufferFormatter became ArrayFormatter (https://github.com/dotnet/corefxlab/commit/579f5d27b1b91a689d2f2eb09b39bbfe69f4d8c2#diff-89da374db4a73e3bb2cba59f80588ec4).
In the past (around the time of this issue) we had the following formatters which implemented IFormatter, which became ITextOutput here https://github.com/dotnet/corefxlab/commit/0b053478f31debe32

[2018-06-21 00:58] jnm2 commented on #2177
@benaadams `BufferingWriter<TBufferWriter>`?

[2018-06-21 01:09] KrzysztofCwalina commented on #2177
One thing I think we should be careful about is that "buffering" and even "buffered" might imply that data is written to some intermediary buffer and then copied to the ultimate destination (this is how buffered streams work). But there is really not any intermediary buffer here and no data copy on Flush. Flush merely advances a "committed pointer".

[2018-06-21 01:31] benaadams commented on #2177
`IBufferWriter` is in corefx so can't change name, but does seem weird giving a `IBufferWriter` to a `BufferWriter`?

e.g. wrap your `BufferWriter` in a `BufferWriter<BufferWriter>` to get better performance; and don't forget to call the additional method `Flush`; its not a clear api?

[2018-06-21 01:40] benaadams commented on #2177
The other nit is the field
[code]
It basically doubles the size of the struct and adds an additional GC copy barrier? Just for the additional WriteLine convenience methods?
[code]
Would it be better to have it as an `Enviorment.NewLine` by default, with an overload for a custom newLine? e.g.
[code]

[2018-06-21 01:51] benaadams commented on #2177
And finally...

Due to it converting to strings to Utf8; should it be `BufferWriterUtf8`? Or `Utf8Writer`?

Or would there be a `BufferWriter<T>` and a  `BufferWriterUtf16<T>` ; i.e. how would different encodings be handled?

[2018-06-21 02:08] benaadams commented on #2177
Perhaps that's the answer? Its an EncodingWriter?
[code]

[2018-06-21 02:58] KrzysztofCwalina commented on #2177
Or just Utf8Writer

[2018-06-21 06:03] benaadams commented on #2177
Oh, one more thing 🍎...

Add Html writers; the current HtmlEncoding in the framework takes a string, jumps though a bunch on non-inlining virtuals, then does some defensive encoding (as it doesn't know what end character encoding it will be in); then returns a string; which you then have to Utf8 encode.

If you you are encoding direct to Utf8 then 90% of it can be skipped and you are only really w

[2018-06-22 05:22] GrabYourPitchforks commented on #2350
@whoisj We were considering adding the appropriate `IComparer<Utf8String>` interface to the existing `StringComparer` class. It's a little unorthodox, but it satisfies the "my code that I typed using muscle memory works correctly" nicety.

[2018-06-23 21:35] GrabYourPitchforks commented on #2368
@JesperTreetop @cdorst The typical example I give for reverse enumeration is a `Trim` API. In UTF-16 this is easy enough because all whitespace characters fit cleanly into a 16-bit `char`, so you can just use a simple forward indexer and reverse indexer. In UTF-8 some whitespace characters are represented as a multi-byte sequence, so you can't use a simple indexer; enumeration is easier for these

[2018-06-24 08:00] kasper3 commented on #1831
From the ycombinator thread, the author of [assembly versoin](https://github.com/bdonlan/branchless-utf8/blob/master/test/decode.s) and [SIMD version](https://github.com/bdonlan/branchless-utf8/blob/master/test/decode-simd.s) claims to have better performance than the C version:

[code]

would be nice if we could compare corefxlab implemention's performance against [their tests](https://github.com

[2018-06-25 19:33] Astn commented on #1831
Maybe you all have already seen this, but here it is just in case you haven't.
https://github.com/bdonlan/branchless-utf8/commit/3802d3b0e10ea16810dd40f8116243971ff7603d

[2018-06-25 20:14] kasper3 commented on #1831
cool, asm's throughput is still outstanding.

[2018-06-26 21:07] ahsonkhan commented on #2322
@L-Dogg, absolutely! Feel free to ask questions and I will help where needed.

I would start with creating a pull request in dotnet/corefx (where you add the performance tests there, and de-duplicate them, see https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/Performance/Perf.Utf8Parser.cs). After that's merged, then yes, you would create a PR here, to remove these tests.

@kare

[2018-06-27 17:48] L-Dogg commented on #2322
It'd be great - I've just set up my environment (VS 2017 Community) according to the developer's guide and pulled the forked repo, but I could get it built due to the error below:
[code]
However simple `curl https://dotnetmyget.blob.core.windows.net/artifacts/dotnet-core/nuget/v3/flatcontainer/microsoft.netcore.dotnethostresolver/index.json` worked properly (or I think so). Anyway, right now I can

[2018-06-27 18:41] ahsonkhan commented on #2322
Error	CS0246	The type or namespace name 'Microsoft' could not be found (are you missing a using directive or an assembly reference?)	System.Memory.Performance.Tests`

Try building System.Memory from the command line instead of from within VS and let me know if it succeeds.

[2018-06-27 18:48] ahsonkhan commented on #2322
See this guide on how to run perf tests:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md#building-and-running-tests

[2018-06-27 18:52] L-Dogg commented on #2322
In the Developer Command Prompt for VS 2017 I typed `build System.Memory` and got the same error:
[code]

[2018-06-27 18:54] L-Dogg commented on #2322
I read the instruction but I am still struggling to get a successful build.

[2018-06-27 19:34] ahsonkhan commented on #2322
1) Run build.cmd at the root of the corefx repo (required to do once).
2) Then navigate to the System.Memory src directory and run msbuild (not build).

See the following guide for the proper developer workflow:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md

[2018-06-27 19:52] mburbea commented on #1831
My guess is that the SIMD forces thermal limits on the kaby lake laptop processor. I can't see why it would deviate so much otherwise.

[2018-06-27 21:55] dagood commented on #2322
@L-Dogg Are you able to access

https://dotnetmyget.blob.core.windows.net/artifacts/dotnet-core/nuget/v3/flatcontainer/microsoft.netcore.dotnethostresolver/index.json

directly in your web browser? It should list all the versions of the `microsoft.netcore.dotnethostresolver` package (like [the MyGet Gallery page](https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.DotNetHostR

[2018-06-27 21:57] ahsonkhan commented on #2322
I got a clean clone, then proceeded to step 2 and unfortunately `Failed to retrieve information about 'Microsoft.NETCore.DotNetHostResolver' from remote source 'https://dotnetmyget.blob.core.windows.net/artifacts/dotnet-core/nuget/v3/flatcontainer/microsoft.netcore.dotnethostresolver/index.json'.` occured.

That's unfortunate. What happens if you visit the link from your browser?
https://dotnetmyg

[2018-06-27 21:59] L-Dogg commented on #2322
I forgot to mention that I am able to access this https://dotnetmyget.blob.core.windows.net/artifacts/dotnet-core/nuget/v3/flatcontainer/microsoft.netcore.dotnethostresolver/index.json via curl/Firefox on my PC.

[2018-06-28 08:07] L-Dogg commented on #2322
I've just tried building corefx at work on my work laptop and it finished successfully. Maybe it has something to do with my home ISP - will try to reproduce it using other connection. Thank you guys!

[2018-07-03 21:43] danmosemsft commented on #1794
I'm going to close as dupe.

[2018-07-03 21:43] #1794 closed

[2018-07-04 13:29] michaldudak commented on #134
Hi, are there any plans to include the MultiValueDictionary in the BCL or as a (non-prerelease) nuget?

[2018-07-04 13:37] YohDeadfall commented on #134
There are no plans to do that. It's archived. See https://github.com/dotnet/corefxlab/pull/2245#issuecomment-386102595.

@ahsonkhan @KrzysztofCwalina This issue probably should be closed.

[2018-07-04 13:44] michaldudak commented on #134
Oh well, thanks.

[2018-07-04 17:38] kant2002 commented on #2337
This is closed by https://github.com/dotnet/corefxlab/pull/2338

[2018-07-04 17:39] kant2002 commented on #2337
/cc @GrabYourPitchforks

[2018-07-05 18:38] joshfree opened #2382 "Add System.Devices.Gpio nuspec"
Please add a nuspec file and ensure the project is wired into the solution (and built from build.cmd)

[2018-07-05 18:41] joshfree commented on #2382
You can confirm the package changes will be published to https://dotnet.myget.org/gallery/dotnet-corefxlab/

[2018-07-05 23:05] edgardozoppi commented on #2382
I have created the PR #2383 for this.

[2018-07-06 16:24] scalablecory commented on #2368
If it speeds up developing this spec, I think this part should be left out.

First reason being: 99% of apps are only copying and concatenating strings, and don't care about any text processing.

Second reason being: of the 1% of other apps, not many of them are doing it correctly and the ones that are doing it correctly are all duplicating code. It's probably a larger topic to discover which APIs

[2018-07-06 18:28] joshfree commented on #134
Closing this old issue now that MVD has been archived.

https://github.com/dotnet/corefxlab/blob/master/README.md#archived-projects

https://github.com/dotnet/corefxlab/tree/master/archived_projects/src/System.Collections.Generic.MultiValueDictionary

[2018-07-06 18:28] #134 closed

[2018-07-07 18:36] shaggygi opened #2386 "[Question] Separate Enums and Class to Different Files"
Would it be appropriate to separate enums and class to their own code files or is the standard for this repo okay with grouping?  I can create a PR if it is better to separate.  Let me know.

For example, [Pin.cs](corefxlab/src/System.Devices.Gpio/System.Devices.Gpio/Pin.cs) includes PinMode, PinValue, Pin, etc.

[2018-07-07 19:15] shaggygi opened #2387 "Common Serial Port Class"
It would be nice to have a common way to interact with serial devices across platforms as mentioned [here](https://github.com/dotnet/corefxlab/blob/3f85ca26d47d0de689c6c1c26f980c3def56a270/src/System.Devices.Gpio/System.Devices.Gpio/Documentation/GPIORef.cs#L160).

Below are some references to similar work.  Not sure the best approach, but there should be a common way for this scenario.

- https:/

[2018-07-08 13:43] L-Dogg commented on #2322
I finally had some time to start working on that issue and have some questions:
1. Do we need to move Thai symbol parsing tests to the corefx repo? They invoke the `CustomParser`'s methods that utilise `Utf8Parser` under the hood.
2. I'm not sure about how many `InlineData` attributes should I use? There are numerous in the corefxlab, however this doc: https://github.com/dotnet/corefx/blob/master/

[2018-07-08 15:25] shaggygi opened #2388 "Random Thoughts on System.Devices.GPIO"
CC: @joshfree, @edgardozoppi, @JeremyKuhne, @karelz, @ianhays, @Petermarcu, @terrajobst, @richlander

I came across the `System.Devices.Gpio` planning this weekend and happy to see some effort in this area.  I'm looking forward to the outcome.  While reviewing the goals, I started to think it might be beneficial to utilize some of the fruit provided by the `Windows.Devices.XXX` APIs.  I noticed th

[2018-07-08 20:55] L-Dogg commented on #2322
Apart from the questions above, here's what I've managed to code:
https://github.com/L-Dogg/corefx/commit/4f9f6ddeaf67da6671e70a7d63db61ec7e4f4c78

[2018-07-09 16:48] joshfree commented on #2387
cc: @wfurt

[2018-07-09 22:32] MisinformedDNA opened #2390 "API Proposal: FileSystemState"
I decided that `PollingFileSystemWatcher` was not a great fit for my project. First off, my operations department has all sorts of tools for monitoring scheduled jobs, but not so much for continuous jobs. The other problem with continuous jobs is that they will stop at some point and file system changes could be missed. Furthermore, to make `PollingFileSystemWatcher` behave how I wanted it to, I'v

[2018-07-09 22:34] MisinformedDNA commented on #2222
Proposed a simpler API to act as the base of `PollingFileSystemWatcher`. #2390

[2018-07-10 04:46] ahsonkhan commented on #2386
Generally speaking, we try to separate enums and classes to their own files. However, we don't follow that guidelines too strictly. PRs are definitely welcome :)

cc @edgardozoppi

[2018-07-10 17:06] joshfree commented on #2013
Closing old issues related to archived projects.

[2018-07-10 17:06] #2013 closed

[2018-07-10 17:18] joshfree commented on #2367
I closed the 2.1 corefxlab milestone.  Thanks for bringing this up.

The roadmap you linked continues to be valid - while Span, Memory, and Pipelines shipped internally in 2.0 and as public APIs in 2.1 (span design and prototyping actually began just days after .NET Core 1.0 shipped), the rest of https://github.com/dotnet/corefxlab/blob/master/docs/img/areas.png is still coming.

I'll update the r

[2018-07-10 18:42] shaggygi commented on #2367
Sounds good.  Thx.  If possible, it would also be nice to see details on the Microservices thinking.  But this might be something @glennc is working on and might be detailed in one of the ASP repos.

[2018-07-10 21:47] msedi commented on #2297
Hello, sorry for the late reply,

This is maybe going to be a larger text. Just to clarify a few terms in advance.
When I'm talking about an image volume, I mean a 3D volume that consists of a stack of individual slices.

To wrap the individual slices I have created a container called `VoxelVolume`. The `VoxelVolume `has an indexer `VoxelVolume[int sliceIndex]` that returns a `VolumeSlice `class.

[2018-07-10 22:21] #2297 closed

[2018-07-10 23:35] joshfree commented on #2367
Yes, the dotnet/corefxlab repo is largely for long lead prototypes that we anticipate could be promoted to dotnet/corefx features in a future release.  Things like Bedrock would be documented in the aspnet repos.

/cc @davidfowl

[2018-07-14 23:39] shaggygi commented on #2388
I noticed @jeremylindsayni did something similar to this thinking, as well.  You can read more on his blog here...

https://jeremylindsayni.wordpress.com/2017/04/18/write-net-core-2-once-run-anywhere-hardware-access-on-raspberry-pi-3-with-ubuntu-and-windows-10-iot-core/

[2018-07-16 22:49] ahsonkhan commented on #2337
Closing since the remaining issues are no longer relevant (since we only have UTF-8 JsonWriter now and the UTF-16 specific one got removed).

[2018-07-16 22:49] #2337 closed

[2018-07-16 23:12] ahsonkhan commented on #2322
We do not need to move the Thai symbol parsing tests. They are testing experimental APIs that didn't ship and can remain in corefxlab as is.

I think we should add some, but not all to get a balance between the two extremes (keeping the trio or adding them all). The objective is to get the minimal set that capture just enough useful scenarios. For example, I would add the single digit case like "0

[2018-07-17 07:03] NMSAzulX opened #2396 "String - Add StringTemplate making format faster."
We can add a TemplatePool (char[][]) when frequent formatting.
**Using it in large quantities within a short period of time.**
Here is the [project](https://github.com/NMSAzulX/StringTemplate)

For example:

**Template:**"This is a {0}."   (A string template for formatting)
**Range:** 1 ~ 4   (A min and max number specified by customer)

[code]

**Pool (cache char[][]):**
char[0] :  (empty)
char[1

[2018-07-17 15:38] ViktorHofer commented on #2322
Right, please don't set any InnerIterationCount manually as it will make it harder porting the test to BDN.

[2018-07-22 17:58] jzabroski commented on #300
Hi,

I feel there are not enough use cases in this discussion. Perhaps the strawman presented by @mj1856 is truly how it needs to be, but:

1. I think the fundamental issue is Kind is hidden internal to the DateTime structure, as opposed to exposing DateTimeKindUnspecified as a first-class type. This is basically the direction java 8 went in with java.time and java.time.temporal.

2. In terms of u

[2018-07-22 18:11] jzabroski commented on #300
Just remove DateTime from the SDK altogether. Forget trying to fix it. Just banish it. Is this not an option?

[2018-07-22 18:35] jzabroski commented on #1901
Agreed!!!!!!!

[2018-07-22 20:56] jzabroski commented on #1901
@Kukkimonsuta
You ARE completely wrong :-)
The problem we ordinary developers face is computer scientists try to develop an API by addressing edge cases in an algorithmic completeness sense rather than domain driven design (DDD) sense.

It looks like @mj1856 is coming around to DDD by mentioning Single Responsibility Principle (SRP) violation of DateTime having DateTimeKind. By allowing DateTime t

[2018-07-24 01:08] edgardozoppi commented on #2386
I was planning to do it later since I wanted to concentrate in more important things first. :)
@shaggygi I appreciate your comment but I think there is no need for you to spend time in creating a PR for this, I will take care of it soon. The reason is I am still making lots of changes to the project and moving code between files at this point will create several git conflicts that I would like to

[2018-07-24 22:44] edgardozoppi commented on #2386
This change is included in PR #2400.

[2018-07-24 22:44] #2386 closed

[2018-07-30 16:51] danmosemsft opened #2406 "Proposal: Provide specialized collections aka Power Collections"
@ViktorHofer commented on [Thu Jul 19 2018](https://github.com/dotnet/corefx/issues/31191)

## Proposal

We are hitting limitations with our in-built collections all over the places, either performance based (i.e. allocation) or feature based). After talking with @jkotas offline we agreed that it would be ideal if we would provide commonly used specialized collections (like a Dictionary<string, st

[2018-07-30 17:46] joshfree commented on #2406
We may want to consider resurrecting the [MultiValueDictionary](https://github.com/dotnet/corefxlab/tree/master/archived_projects/src/System.Collections.Generic.MultiValueDictionary) corefxlab prototype as part of a System.Collections.Specialized / Power Collections package

[2018-07-30 18:11] sharwell commented on #2406
I'm a big fan of supporting B+-trees for storage density, low worst-case allocation rates, and ability to avoid the large object heap. I'm not sure about the source-based distribution though.

[2018-07-30 19:12] terrajobst commented on #2406
I'm generally supportive, provided:

1. **We don't use the `System` namespace**. Otherwise, we'll run into trouble if we ever have to put collection types proven to be useful into the product. Yes, we can type forward down, but I'd rather have a clean-split to avoid having to deal with that level of fragility.

2. **We shouldn't be using a source distribution model**. For starters, this means supp

[2018-07-30 19:16] Drawaes commented on #2406
Should be able to design a single writer multiple reader dictionary. This is a pattern that comes up to and time again for caches but concurrent dictionary adds a decent overhead.

[2018-07-30 19:45] danmosemsft commented on #2406
@dagood can maybe answer that. For now what matters is that corefxlab already supports packaging and pushing to myget automatically.

[2018-07-30 19:46] danmosemsft commented on #2406
@terrajobst what is the API review process like for this work. My assumption is that it does not come into play unless and until we want to graduate types into CoreFX. Is that right?

[2018-07-30 19:59] joshfree commented on #2406
We did for the SignalR alpha releases.

[2018-07-30 20:30] mmitche commented on #2406
I don't know about corefxlab, but it's really just another signing submission with a different cert.

[2018-07-30 21:17] joshfree commented on #2406
@dagood @mmitche we can chat offline

[2018-07-31 09:53] mgravell commented on #2406
1. double-ended-list (dequeue) based on a buffer (but without copy-down semantics, and without needing a doubly-linked-list)

2. [pool based collections](https://github.com/dotnet/corefx/issues/31492)

[2018-07-31 10:26] omariom commented on #2406
How about specialized concurrent collections? Bounded vs unbounded, single producer/consumer vs multiple ones.

[2018-08-01 00:00] ahsonkhan opened #2408 "APIs to support usage scenarios of BufferReader"
**1) Read data until a 'delimiter' byte and return the data read as a span (or as ReadOnlySequence)**

[code]
We should consider using ReadOnlySequence.PositionOf which leverages the vectorized IndexOf.
See: https://github.com/dotnet/corefxlab/commit/962141644f7d7c2fccf5fd5c7e4259a1fd66dae1#commitcomment-29897241
The issue with this is, how do we advance the reader after we find the position? Also

[2018-08-01 20:26] cdmihai commented on #2406
Would be nice to remove some of MSBuild's custom collections:
https://github.com/Microsoft/msbuild/blob/master/src/Build/Collections/PropertyDictionary.cs
https://github.com/Microsoft/msbuild/blob/master/src/Build/Collections/RetrievableEntryHashSet/HashSet.cs

[2018-08-02 02:29] danmosemsft commented on #2406
@cdmihai I'm quite proud of those two!

[2018-08-02 02:42] danmosemsft commented on #2406
@terrajobst I'm thinking we drive  this as follows:
1. Solicit issues in this repo for proposed types, using roughly the API review format. Some already have had good discussion in Corefx that we can build from.
1. We select two or three to start with that have clear value and a reasonably clear shape, and invite volunteers to offer PR's, with tests, perf measurements etc
1. Iterate over time base

[2018-08-02 20:35] ahsonkhan commented on #2406
@jfree @ahsonkhan is that roughly the pattern Span, Pipeline,... followed? Without formal API review until graduation? Was that a good model?

We had architects guiding the project along within corefxlab (stewards), but yes, that is the pattern that Span, Pipelines, etc., followed especially during the experimentation and prototype phase. Yes, it worked relatively well. If the API sets starts gett

[2018-08-02 20:50] Drawaes commented on #2406
And I think it helped with community involvement as the early stages could take heavy contributions from the community without large upfront debates.

[2018-08-03 00:10] Zhentar commented on #2406
Do you have a template or examples? I'd be willing to get something started for a low overhead hashmap.

[2018-08-03 04:05] danmosemsft commented on #2406
@zhentar look at the API review markdown doc in the corefx repo, or prismatic easier to look at active issues in corefx marked with API-ready-for-review label. Top post on those will be examples of the format.

[2018-08-03 15:02] BreyerW commented on #2390
What happened to the idea of providing specialized constructor on already existing `FileSystemWatcher` (which return `FileSystemWatcher` but with polling semantic rather than event-based)? Seems like best way from discoverability point since everyone who need monitoring files sooner or later stumble upon this class) and reduce type/namespace clutter. Oh, and refactoring between polling and event-b

[2018-08-03 17:58] MisinformedDNA commented on #2390
While both have similar goals and have _some_ similar APIs, the way they go about it are completely different. For one, `FileSystemWatcher` raises a single event for each change detected and `PollingFileSystemWatcher` raises all the changes in one event. That alone makes it hard to bring these into a single abstraction.

Another obstacle might be that `FileSystemWatcher` is built on .NET Standard,

[2018-08-04 02:54] #1640 closed

[2018-08-04 03:03] Zhentar opened #2415 "Power Collections - Specialized Hashmaps API Proposal"
API Proposal for #2406

# Rationale

The BCL Dictionary<,> class serves fairly well as a "safe default" hashmap implementation. But that flexibility and resistance to misuse comes at a substantial cost to best case performance, and it is further weighed down by the need to maintain backwards compatibility with decisions that, after 15+ years of hindsight, seem rather less than ideal. The performan

[2018-08-04 21:02] danmosemsft commented on #2390
@jeremykuhne fyi

[2018-08-06 18:42] verelpode opened #2417 "ArrayElementReference<T> variant of the new Span<T> / Memory<T>"
Hello, here's an interesting idea.
The new "Span" and "Memory" in C# 7.2 could potentially be used to solve the problem of the garbage collection cost of creating a very large quantity of objects.  An app could manage GC cost by allocating objects in groups, that is arrays.  We can already make an array of structs, but it is rather limited because we cannot make a field that contains a reference t

[2018-08-06 20:53] benaadams commented on #2417
Expose the special [`ByReference<T>`](https://github.com/dotnet/coreclr/blob/85374ceaed177f71472cc4c23c69daf7402e5048/src/System.Private.CoreLib/src/System/ByReference.cs#L10-L36) runtime type that `Span<T>` uses?

/cc @jkotas

[2018-08-06 20:58] jkotas commented on #2417
`ByReference<T>` is a workaround for https://github.com/dotnet/csharplang/issues/1147.

[2018-08-07 23:42] verelpode commented on #2417
To clarify the syntactic sugar, C# would allow you to write like the following example of a kind of large tree that uses struct-based nodes allocated in arrays (instead of thousands of individual objects).
[code]

For the internal implementation, the C# compiler would translate the above syntactic sugar to the following:
[code]

Ideally, the Span/FastArrayElementReference optimization would be imp

[2018-08-08 13:56] verelpode commented on #2417
@benaadams -- I think you already know what I'm about to write, so this message is actually for other readers.  `ByReference<T>` _alone_ would be insufficient.  **Two** special structs (ArrayElementReference and FastArrayElementReference) are required for the same reason why `Memory<T>` and `Span<T>` cannot be merged together into a single struct definition.

However, if the "unoptimized" (actuall

[2018-08-08 15:35] jaredpar commented on #2417
One thing to consider whenever we discuss allowing for explicit `ref` fields in structs is this part of the span safety rules:

https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.2/span-safety.md#length-one-span-over-ref-values

Essentially the span safety rules were designed on the idea that a `struct` could **never** contain a `ref` field. If that can happen then the compiler ne

[2018-08-08 15:36] jaredpar commented on #2417
@jkotas

C# also doesn't allow `ref` fields because there really isn't a way to define them in IL. If we did them it would likely be via emitting `ByReference<T>`.

[2018-08-08 16:11] jkotas commented on #2417
This feature would work on new runtimes only. We can choose how to make this feature work on the new runtimes. I think relaxing the restriction on byref fields in IL would be the most natural design.

[2018-08-08 16:15] jaredpar commented on #2417
Definitely. If we added support for `ref` fields then I think it has to be CoreClr only due to the GC tracking issues. The desktop GC wouldn't treat such fields as a strong reference and hence allowing it there would open up *fun* GC holes. Correct?

What would happen to `Span<T>` then? Would it's implementation just be changed to be essentially:

[code]

[2018-08-08 18:09] JeremyKuhne commented on #2417
I'm more interested in (2) actually. :)

For me the driving scenario is passing `Span<byte> buffer = stackalloc byte[64]` to ref struct methods so they can manipulate/access the parameter without risk of capturing it.

[2018-08-08 22:29] jaredpar commented on #2417
@JeremyKuhne

Yes of course 😦. This is the downside of using the "all 1." scheme for numbered lists.

[2018-08-09 00:27] verelpode commented on #2417
That makes good sense in my mind, because, honestly, from my perspective, although Span and Memory are great, personally I view references-to-structs as being fundamentally more important and more intrinsic than spans/ranges/extents/substrings, therefore I think it makes good sense if the REAL/core feature is `ref T x` fields and `Span<T>` becomes only a thin extension to ref fields that merely ad

[2018-08-09 00:41] verelpode commented on #2417
For another example, have a look at the internal struct [MS.Internal.Xml.Cache.XPathNode](https://referencesource.microsoft.com/#System.Xml/System/Xml/Cache/XPathNode.cs,5c2020a1fb806c7c).  Although it is already optimized to a struct instead of class, imagine how much easier, simpler, and cleaner it would have been to write XPathNode if C# allowed XPathNode to contain `ref XPathNode x;` fields.

[2018-08-09 01:39] jkotas commented on #2417
The garbage collection cost is proportional to the bytes allocate and collected. The number of objects matters much less.

The `ref` fields would be allowed in ref-like types only. I do not think converting the structs in these two examples would work in practice.

[2018-08-09 03:50] JeremyKuhne commented on #2408
@davidfowl, @pakrym

For skipping bytes what would be useful? And should we be providing anything beyond what @ahsonkhan is suggesting? The simple byte / byte list skips won't scale well for some things, like sets of characters such as [ABNF](https://tools.ietf.org/html/rfc2234#section-6.1)? Thinking ALPHA, DIGIT for example?

Wondering if we can provide a few overloads that would be broadly usefu

[2018-08-09 14:16] verelpode commented on #2417
I agree, converting those two examples to stack-only/ref-like structs would not work, but in my proposal, I meant that a **NORMAL struct** and a normal class would be able to contain a field that contains a reference to some other struct instance stored in an array.  My proposal is _already_ possible to do today in the current C#, except that:
- The syntax is cumbersome.  It would be better with s

[2018-08-09 14:26] jkotas commented on #2417
[code]

This is turning one pointer into pointer + index. In practice, it will be two pointers due to alignment. So this would result into more bytes being allocated on GC heap. It is very unlikely to make anything faster.

We do not want to allow storing `ref`s on GC heap because of they are very expensive to deal with during garbage collection. If we have allowed it and people started using them

[2018-08-09 14:56] verelpode commented on #2417
If it doesn't make anything faster, then why do `Dictionary<TKey,TValue>` and `XPathNode` and other examples do it?  [`Dictionary<TKey,TValue>.Entry`](https://referencesource.microsoft.com/#mscorlib/system/collections/generic/dictionary.cs,6d8e35702d74cf71) is a struct.  It would be easier and simpler to write Entry as a class, but the cost would be excessive, so the authors of Dictionary wrote it

[2018-08-09 15:26] jkotas commented on #2417
Right, they use indices. Indices are cheap both for storage and GC.

Finding the object that the `ref` points to is the expensive part. This would need to be done before you can check that the `ref` is safe to ignore because of it points into the same array.

[2018-08-09 16:58] verelpode commented on #2417
Damn.  Would you like the idea better or worse if ArrayElementReference.Array had a way of indicating self-reference without actually storing the address of the self-array?  For example, if the address 1 or (UIntPtr)-1 was interpreted to mean self.  Alternatively, when ArrayElementReference.Index is negative and ArrayElementReference.Array is null, then it could mean self.

I haven't benchmarked t

[2018-08-09 17:02] jkotas commented on #2417
Know issue: https://github.com/dotnet/coreclr/issues/7957

[2018-08-09 19:55] verelpode commented on #2417
On second thought, let me tell you the exact benchmark results, and you decide for yourself whether it is a worthwhile improvement.  I said "underwhelming" because I was expecting my proposal to be at least 10x faster but it was 3x to 4x faster in this test.  Is that worthwhile?   More importantly, would it solve the problem for the [Unity game engine](https://github.com/dotnet/csharplang/issues/1

[2018-08-09 23:39] verelpode commented on #2417
Interesting -- a significant part of the reason why my proposal is faster is revealed by `System.GC.CollectionCount`.  After running the benchmark with **class** Node:
- Gen 0 collected 649 times.
- Gen 1 collected 338 times.
- Gen 2 collected 9 times.

After running the benchmark with **struct** Node:
- Gen 0 collected 2 times.
- Gen 1 collected 2 times.
- Gen 2 collected 2 times.

When I reduced

[2018-08-10 00:39] verelpode commented on #2417
I've brainstormed a few alternative solutions that are also quite interesting to think about:

What if a class can have an attribute applied that says that the class should use **automatic-reference-counting** (like in [.NET Native](https://docs.microsoft.com/en-us/dotnet/framework/net-native/) or like in the latest version of MS C++ for UWP apps) instead of the normal CLR GC?

MS C++ automatic-re

[2018-08-10 09:01] gfoidl commented on #2417
Similar to https://github.com/dotnet/corefx/issues/31643

[2018-08-10 20:49] danmosemsft commented on #2415
Thanks for kicking this off.

## API

I assume you mean on the comparers, because you made FindEntry and RemoveEntry virtual. For the comparer, you are calling through an interface. I am not sure of the relative cost of that vs. a delegate or virtual call (@jkotas?). If it's non trivial one could imagine a dictionary specialized specifically for, say, StringComparer.OrdinalIgnoreCase. As an altern

[2018-08-10 21:10] danmosemsft commented on #2415
I think the most common case by far is to use a dictionary internally rather than pass it to 3rd party API. Also as a datapoint in a quick grep of corefx\src\*\ref\**cs, not many API accept `IDictionary<K,V>`, especially if you exclude those that are just initializing themselves. So perhaps you can ignore the interface for now.

Do you mean a bidirectional map? That seems something to worry about

[2018-08-10 22:01] Zhentar commented on #2415
@danmosemsft

I was not intending for FindEntry and RemoveEntry to be virtual; is there something that implies virtual that I am not aware of?

The comparer interface is applied as a generic type parameter parameter, so that a struct comparer implementation can be used to get the compiler to specialize, de-virtualize, and likely inline as well without too much API compromise.

Modulo prime is a pr

[2018-08-11 03:29] edgardozoppi opened #2426 "System.Devices.Gpio"
The goal of this API is to allow .Net Core developers to access General Purpose IO (GPIO) pins of IoT devices like Raspberry Pi. This will allow applications to read and write data from/to sensors, leds and other kind of peripherals connected to those pins. This API should also support most commonly used serial communication protocols like SPI and I2C.

For more details please see [gpio spec](http

[2018-08-13 17:53] joshfree commented on #2426
Nice work getting this design proposal put together @edgardozoppi!  Here's some initial feedback to seed the discussion on the draft

This "double using statement" pattern caught my attention right away

1) What scenarios does a user need a Driver but not a controller?  How common is this?
2) Can we refactor the shape or provide a way to construct the controller directly without the outer driver s

[2018-08-13 19:29] edgardozoppi commented on #2426
Thanks for your early feedback!

Actually, there is no real need to use `using` for the driver and the controller, with only one of them is enough because the controller is only disposing the driver. So the user can use the driver and/or the controller.

The controller takes a driver a parameter in the constructor because the user needs to specify wich driver wants to use with the controller. The

[2018-08-13 19:42] edgardozoppi commented on #2426
public abstract void TransferFullDuplex(byte[] writeBuffer, byte[] readBuffer);
public abstract void Read(byte[] buffer);

Actually, I didn't consider Span because I still don't know too much about it, but I will. Thanks for the suggestion.

I decided that way because those methods can be easily implemented using the already existing `SpiDevice` and `I2cDevice` public methods and this way they wil

[2018-08-13 20:52] ahsonkhan commented on #2426
How about TransferSequential? Similar to this:
https://docs.microsoft.com/en-us/uwp/api/windows.devices.spi.spidevice

[2018-08-13 22:14] edgardozoppi commented on #2426
Could be, but I still like more the name `WriteRead` because with `TransferSequential` is not clear the order of the operations.

We already support that use case. It can be accomplished by just writing the register address first followed by a read or write of the data the user wants to read from or write to the register. Maybe we can add an extension method that do exactly this but takes the regi

[2018-08-13 22:42] danmosemsft commented on #2415
@safern

[2018-08-13 23:13] danmosemsft commented on #2406
As a datapoint, I made a dump of the types that were in the Wintellect PowerCollections https://gist.github.com/danmosemsft/aa88e4ad837a98ab786e679e446a28ea
Amongst those there were Deque. MultiDictionary, OrderedBag, OrderedDictionary, OrderedSet. Some are since obsolete (Triple, Set)

[2018-08-13 23:25] shaggygi commented on #2406
@danmosemsft  From the list, RedBlackTree, and link (http://www.jot.fm/issues/issue_2005_03/column6/) is interesting.  This might be something similar I link above.  🤞🤞🤞

[2018-08-13 23:29] danmosemsft commented on #2406
@shaggygi that is an internal implementation type for the OrderedBag, etc. You can browser with ILSPY if you are interested: https://www.nuget.org/packages/SoftUni.Wintellect.PowerCollections/

[2018-08-14 00:23] danmoseley opened #2428 "Faster dictionary for k-Nucleotide"
Goal is to include in the [proposed](https://github.com/dotnet/corefxlab/issues/2406) corefxlab collection package a dictionary that

1. Outperforms the regular `Dictionary<K,V>` in k-Nucleotide and the existing top C# submission (that uses [reflection tricks](https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/knucleotide-csharpcore-9.html))
1. Is sufficiently general purpose that

[2018-08-14 06:18] YohDeadfall commented on #2426
@edgardozoppi, you can take a look at `NpgsqlReadBuffer` and `NpgsqlWriteBuffer` for an example how they handle such situation. There is an optional parameter to specify the required endianness, but by default Npgsql uses big endianness.

[code]

[code]

[2018-08-14 09:02] AnthonyLloyd commented on #2428
I'm happy to help. You seem to be on a great track with the @mikedn version. Not sure I understand the @Zhantar point.

It would be good if the collections were general purpose but optimized for common problem tasks e.g. int/ulong keys, ref values or aggregation. I think developers would be able to make great use of them.

[2018-08-14 10:45] mikedn commented on #2428
I don't think int/long specialization are actually needed. They're definitely needed in Java due to its generics implementation that makes boxing unavoidable. For C# you could probably get quite far with a few tweaks:
* Avoid `IEqualityComparer`, it's problematic due to the cost of interface calls and lack of devirtualization/inlining (this has actually been solved but only for some specific cases

[2018-08-14 13:12] Zhentar commented on #2428
@AnthonyLloyd in theory, coalesced chaining is a cache unfriendly algorithm; for a large table and random access, you typically take two cache misses for a single lookup; once in the buckets array and once in the entries array. But K-Nuc is not random access; if you look up "gacgaatatatt" then there is a very high probability that the next thing you look up is "acgaatatatta". You're still doing ra

[2018-08-14 14:08] AnthonyLloyd commented on #2428
@Zhentar Ah, thank you.

[2018-08-14 15:49] danmosemsft commented on #2428
@AnthonyLloyd shall I assign this to you? I'm excited to see what numbers you can get.

BTW we actually have a Q6600 based machine that gives numbers very close to the official ones if needed.

[2018-08-14 20:54] AnthonyLloyd commented on #2428
Yes, please do.

Can you give me some pointers on where the code should live and similar coding style to replicate?

[2018-08-14 21:40] danmosemsft commented on #2428
@AnthonyLloyd I sent you a collaborator invite. If you accept, I can assign this. Note, it will auto-subscribe you to notifications for this repo, you may choose to switch that off.

@safern will create the package shortly. That shouldn't block you from experimenting with code of course.

The coding style and practices should be the same as in corefx, eg.,
https://github.com/dotnet/corefx/blob/mas

[2018-08-14 21:44] danmosemsft commented on #2428
Maybe then this can be a dictionary for value type keys - that would be nicely general purpose and very much in the spirit of CLBG.

[2018-08-14 21:57] AnthonyLloyd commented on #2428
Great thanks. Looking forward to seeing what we can do.

[2018-08-15 00:15] danmosemsft commented on #2428
Assigned.

[2018-08-16 19:40] Zhentar commented on #2428
@AnthonyLloyd BTW there's a minor bug the C# K-Nuc implementation - the 12 & 18 base tasks are using masks of `0x7FFFFF` and  `0x7FFFFFFFF`, when they should be `0x3FFFFF` and `0x3FFFFFFFF` (unfortunately this only adds on a few hundred keys so gains from fixing it are pretty small)

[2018-08-17 08:32] AnthonyLloyd commented on #2428
@Zhentar Ok thanks

[2018-08-17 21:07] ahsonkhan opened #2434 "Calling SkipPastAny on a default BufferReader throws IndexOutOfRangeException."
The `End` property is set to false for a default BufferReader, when it should be set to true.

[code]

Other APIs also have unpredictable behavior when BufferReader is default.

[2018-08-18 08:39] kassemsandarusi commented on #1738
[code]

[2018-08-19 02:50] benaadams commented on #2406
A string "intern" dictionary; that you give it Spans and it gives strings back and has Least frequent recently used discards (possibility with ageing so they stay away from Gen2)

[2018-08-19 16:51] danmosemsft commented on #2406
@benaadams I think a collection optimized for string interning would be interesting. We added `HashSet<T>.TryGetValue` to help but that wouldn't help if you had a Span. The policy and how to configure it seems like the hard part. There was some discussion [here](https://github.com/dotnet/corefx/issues/15691#issuecomment-276829637) and in my comment below. Perhaps you'd like to start an issue and s

[2018-08-19 17:06] Zhentar commented on #2406
@benaadams @danmosemsft  one of the use cases I intended to include in #2415 (but apparently left out, updated now) was to support my own string intern collection, although I didn't include any sort of expiration mechanism (for my usage keeping all of the strings for the life of the collection is suitable).

[2018-08-20 14:55] TylerBrinkley opened #2438 "Add a StringKeyedDictionary<T> type"
## Motivation
As part of the #2406 initiative I would like a `StringKeyedDictionary<T>` type added in order to allow using a `ReadOnlySpan<char>` value for dictionary lookups without having to allocate a `string`.

## Proposed API
[code]

## Implementation Details
* The default implementation of the new virtual methods on `StringComparer` would convert the span to a string and use the string metho

[2018-08-20 14:58] TylerBrinkley commented on #2406
@benaadams While not a true string "intern` dictionary, my proposal for a `StringKeyedDictionary<T>` type may work for what you want.

[2018-08-20 20:15] cdmihai commented on #2406
Regarding the string cache, that would be quite interesting for MSBuild. We have a [complicated string cache](https://github.com/Microsoft/msbuild/blob/master/src/Shared/OpportunisticIntern.cs) (bucketed MRU lists) which is addressed via a very [Span looking interface](https://github.com/Microsoft/msbuild/blob/master/src/Shared/OpportunisticIntern.cs#L106-L132). Many of my recent Span-ification at

[2018-08-20 20:16] cdmihai commented on #2438
And the equivalent `ConcurrentStringKeyedDictionary` :)

[2018-08-20 21:30] benaadams commented on #2406
I was seeing something like:
[code]
So you'd always get a `string` back; if it already existed you'd get that one, if it was new it would add the `ROS.ToString()` and give you it back.

Having `ReadOnlyMemory` keys would be problematic as the would retain the whole chunk of data that they referred to the window of; rather than just the window, which might be quite undesirable.

[2018-08-20 21:53] Zhentar commented on #2406
For my own intern dictionary, I just use an xxHash64 of the UTF8 bytes as the key, to avoid keeping the bytes around and to cut the cost of comparing equality of UTF8 bytes against UTF16 strings.

[2018-08-20 22:38] ViktorHofer commented on #2406
Essentially that's the desired data structure that made me write up the proposal to begin with ;)

[2018-08-21 09:59] svick commented on #2406
@Zhentar With that approach, what happens when there is a collision?

[2018-08-21 16:45] TylerBrinkley commented on #2438
To prevent the massive code duplication or re-implementing `Dictionary<TKey, TValue` I'm thinking `StringKeyedDictionary<T>` should just derive from it and have access to some of its internal fields to incorporate the `ReadOnlySpan<char>` overloads.

[2018-08-21 18:13] Zhentar commented on #2406
@svick theoretically speaking, you would get the wrong string back. But the reason I use a 64-bit hash function is that it makes the probability of collision negligible.

[2018-08-21 22:44] ahsonkhan commented on #1738
Fixed in https://github.com/dotnet/corefxlab/pull/2437

[2018-08-21 22:44] #1738 closed

[2018-08-21 23:40] mgravell commented on #2406
"Negligible" worries me a lot. That's not safe enough for anything except
demo scenarios, IMO. "You'll *probably* get the right string" is ... nope.
Sorry.

On Tue, 21 Aug 2018, 19:13 Zhentar, <notifications@github.com> wrote:

[2018-08-22 14:31] AtsushiKan opened #2441 "System.Reflection.Tests.CustomAttributeTests.TestMarshalAsPseudoCustomAttribute Fail on Unix"
Figure out why this is. The likely cause is a discrepancy in how runtime Reflection is parsing the MarshalAs attribute since we use that as the "expected" value.

07:28:33 Failed   System.Reflection.Tests.CustomAttributeTests.TestMarshalAsPseudoCustomAttribute
07:28:33 Error Message:
07:28:33  Assert.Equal() Failure
07:28:33 Expected: VT_EMPTY
07:28:33 Actual:   VT_BSTR
07:28:33 Stack Trace:
07:28

[2018-08-22 15:29] AtsushiKan opened #2443 "TypeLoader does not support signature types."
This code segment:

[code]

throws a NotSupportedException if "_type_" was created by a TypeLoader. That's because we don't have the api needed to support this. (https://github.com/dotnet/corefx/issues/31798)

Assuming that gets approved and implemented, we should light it up on the netcore build of System.Reflection.TypeLoader. This is the code where the new api needs to get called:

https://gith

[2018-08-22 16:27] AtsushiKan commented on #2441
Fixed by https://github.com/dotnet/corefxlab/pull/2445

[2018-08-22 16:27] #2441 closed

[2018-08-22 22:03] ghost opened #2447 "TypeLoader shouldn't police whether a public key is "valid.""
When converting a public key blob to a public key token, System.Reflection.TypeLoader uses the trick of allocating an AssemblyName, setting the public key blob, then accessing the public key token property which triggers AssemblyName's automatic computation of the token:

https://github.com/dotnet/corefxlab/blob/29fa2def98d6de0a41aa9e9b10d7b01ba82fc30c/src/System.Reflection.TypeLoader/src/System/R

[2018-08-23 03:57] danmosemsft commented on #2438
@safern

[2018-08-23 12:45] jnm2 commented on #2406
@Zhentar I've actually seen that approach go painfully wrong in a commercial third party library.

[2018-08-23 12:53] Drawaes commented on #2406
It's basically a non starter for this approach for any system or application I have ever written. Performance is important but correctness is usually more so.

[2018-08-24 07:59] ilmax opened #2451 "Question - System.Reflection.TypeLoader"
Hi, I've just noticed a PR that added `System.Reflection.TypeLoader` so I cloned the repo and started looking into it. Since this is built on top of System.Reflection.Metadata, can we see this as a slightly "faster" reflection? If that's not the case, I'm curious about the purpose of this library.

I've looked into issues but I wasn't able to find anything.

Thanks, Max.

[2018-08-24 08:59] mattwarren commented on #2451
Have you read the [TypeLoader spec](https://github.com/dotnet/corefxlab/blob/master/docs/specs/typeloader.md)? It's got some useful info.

[2018-08-24 09:03] ilmax commented on #2451
Thanks @mattwarren, exactly what I was looking for

[2018-08-24 09:03] #2451 closed

[2018-08-24 20:13] TylerBrinkley commented on #2438
I've moved the proposal to [corefx#31942](https://github.com/dotnet/corefx/issues/31942) as it couldn't reasonably be implemented outside of corefx as it needs access to some internal fields on `Dictionary<TKey, TValue>` as well as updating `StringComparer`.

[2018-08-24 20:13] #2438 closed

[2018-08-25 00:25] safern commented on #2428
@AnthonyLloyd I just merged a PR to create this new package, so please fill free to add your implementation under:

https://github.com/dotnet/corefxlab/tree/master/src/Microsoft.Experimental.Collections

Unit tests under:
https://github.com/dotnet/corefxlab/tree/master/tests/Microsoft.Experimental.Collections.Tests

Finally, perf tests under:
https://github.com/dotnet/corefxlab/tree/master/tests/B

[2018-08-27 18:12] safern commented on #2406
The package is now live, containing `MultiValueDictionary` as the only type as of now:

https://dotnet.myget.org/feed/dotnet-corefxlab/package/nuget/Microsoft.Experimental.Collections

I guess it is a good start. I will close this issue, since the purpose of it was to track the package addition and have some discussion regarding interesting types. But to have better isolated/specialized discussion

[2018-08-27 18:12] #2406 closed

[2018-08-28 09:14] AnthonyLloyd commented on #2428
@safern thanks. Will start to put these in.

[2018-08-28 15:55] TylerBrinkley opened #2456 "Add a generic OrderedDictionary class"
Moved from [corefx#26634](https://github.com/dotnet/corefx/issues/26634).

Often times I've come across places when needing a `Dictionary` where the insertion order of the elements is important to me. Unfortunately, .NET does not currently have a generic `OrderedDictionary` class. We've had a non-generic `OrderedDictionary` class since .NET Framework 2.0 which oddly enough was when generics were a

[2018-08-28 15:57] TylerBrinkley opened #2457 "Add an OrderedSet class"
Moved from [corefx#26638](https://github.com/dotnet/corefx/issues/26638)

Sometimes I've come across places when needing a `HashSet` where the insertion order of the elements is important to me. Unfortunately, .NET does not have an `OrderedSet` class even though it has a `SortedSet` which to me has less value but perhaps not to others. This has led to users rolling their own solution, typically by

[2018-08-28 20:55] ahsonkhan commented on #2434
Fixed in https://github.com/dotnet/corefxlab/pull/2446

[2018-08-28 20:55] #2434 closed

[2018-08-29 20:12] TylerBrinkley commented on #2456
I've implemented an `OrderedDictionary<TKey, TValue>` in my [dev branch](https://github.com/TylerBrinkley/corefxlab/tree/ordered-dictionary). It still needs tests and documentation but it's a start.

[2018-08-30 06:10] fredeil commented on #2322
Is this done yet @ahsonkhan? Would be great for as a first contribution 👍

[2018-08-31 23:35] AtsushiKan opened #2460 "TypeLoader: Consider fast-pathing CustomAttributeData.AttributeType."
This issue has a dependency on this corefx issue:

https://github.com/dotnet/corefx/issues/31614

Once that's done and propagated (i.e. CustomAttributeData.AttributeType is virtual), just delete this line:

https://github.com/dotnet/corefxlab/blob/d9aede5d9500412ea8265b51d667a439422b09c6/src/System.Reflection.TypeLoader/src/System/Reflection/TypeLoading/General/NetStandardBridge.cs#L136

This will

[2018-09-03 00:31] danmosemsft commented on #2456
@TylerBrinkley as you say several mutation operations are O(n) because they keep the `entries` array [ordered](https://github.com/dotnet/corefxlab/compare/master...TylerBrinkley:ordered-dictionary#diff-c6296b643e05d574acacf1206f8e568eR269). Did you decide against a binary tree because of O(log(n)) lookup? It depends on the application of course, but if the size becomes large, mutations would be sl

[2018-09-03 00:31] danmosemsft commented on #2457
Same question as for OrderedSet - should this use a binary tree.

[2018-09-03 00:34] danmosemsft commented on #2426
You have methods named like `ReadUShort` but precedent eg in BinaryPrimitives, BlobBuilder, BinaryReader, UnmanagedMemoryAccessor is to use BCL names not C# names eg `ReadUInt16`.

[2018-09-03 05:11] AlexRadch opened #2463 "Proposal: add IList, IСollection and IEnumerable support to Span, ReadOnlySpan, Memory and ReadOnlyMemory"
Adding new types (Span, ReadOnlySpan, Memory and ReadOnlyMemory) in dotNet increased the speed of work with memory buffers and significantly reduced memory consumption.

Due to the location of the Span and the ReadOnlySpan structures on the stack, they can not implement interfaces. And accordingly Span and ReadOnlySpan structures do not implement such useful interfaces as IList and etc.

Also, the

[2018-09-03 06:10] YohDeadfall commented on #2463
This would make it possible to pass a reference to the interface which is implemented by a structure. Therefore you can store the reference somewhere on the heap. To prevent such things the CLR must check that the reference doesn't point to the heap and thow an exception if this happens, and this will drastically decrease performance.

[2018-09-03 06:34] AlexRadch commented on #2463
IList interface will be implemented by Span structure. Can you add example of decrease performance?

[2018-09-03 22:50] TylerBrinkley commented on #2456
Yes, O(1) lookups are very important to me. Most of the time for me collections are initialized and aren't modified after that point.

It would have the same performance characteristics except for remove as `Dictionary` which is p

[2018-09-04 20:13] TimLovellSmith commented on #2406
For those who like maths, from table courtesy of 'https://en.wikipedia.org/wiki/Birthday_attack'
You have a 50% chance of a collision within 5.1 × 10^9 entries. And that's definitely not a negligible chance, at a dictionary size which is quite achievable on modern hardware.

[2018-09-05 19:25] ghost opened #2467 "Test Debt: System.Reflection.TypeLoader.Tests.dll will need lots of work to run on AOT platforms."
This issue isn't actionable until we productize System.Reflection.TypeLoader to corefx but I'm opening this now to persist the action items.

While `System.Reflection.TypeLoader` itself should work as is on AOT platforms, the same can't be said for `System.Reflection.TypeLoader.Tests`. A significant amount of work is needed to get these tests to pass on that platform.

The tests in that assembly c

[2018-09-05 19:53] AtsushiKan commented on #963
Fixed.

[2018-09-05 19:53] #963 closed

[2018-09-05 19:56] AtsushiKan commented on #1727
Pls reassign.

[2018-09-06 05:08] GrabYourPitchforks commented on #2463
Per https://github.com/dotnet/csharplang/issues/1833, there's little drive from the language side of things to add interface support to ref structs.

Given that interfaces aren't likely to happen, is there something else we can do in the Framework side of things to make this better? Any Span-based extension methods we're missing that can help unblock your immediate scenarios?

[2018-09-06 06:10] YohDeadfall commented on #2463
I don't think that something should be added due to the idea of `Span<T>`. It was designed to increase performance, but wrappers around it would lead to bad results.

By the way, there is a similar issue, dotnet/corefx#5360.

[2018-09-06 15:14] KrzysztofCwalina commented on #2463
I would rather develop a set of adapters that adapt Memory\<T\> to IList\<T\>, than implement IList\<T\> on Memory<T>. Such interface implementations might be useful short term, but after algorithms nativelly understand spans, it will be much more perfromant to get span out of Memory\<T\> once, and then call as many manipulation algorithms as possible.

[2018-09-06 20:03] fredeil commented on #2317
I could take this one @ahsonkhan @karelz , could you fix collaborator invite?

[2018-09-06 20:45] karelz commented on #2317
@fredeil invitation sent. Be aware that becoming collaborator will auto-subscribe you to all repo notifications (500+ per day). You might want to switch it to "Not Watching" which will send you just your mentions assignments and explicit subscriptions.

[2018-09-10 17:55] joshfree commented on #2426
@ianhays can you please drive this going forward now that @edgardozoppi has finished her summer internship?

I'd like to push to have the project through API Review, setup an automated testing environment for IoT devices, and move the project to dotnet/corefx by Thanksgiving this year.

[2018-09-11 23:29] joshfree opened #2473 "System.Devices.Gpio needs xml doc comments"

[2018-09-12 23:28] AtsushiKan commented on #2447
The world won't end if we don't fix this but it's a nice to have.

[2018-09-12 23:29] AtsushiKan commented on #2467
This is something that will come up as part of migrating TyeLoader to corefx.

[2018-09-12 23:44] AtsushiKan commented on #2460
Still holding hope I can get this pushed through this week.

[2018-09-12 23:44] AtsushiKan commented on #2443
Still holding hope I can get this pushed through this week.

[2018-09-13 05:39] fredeil commented on #2322
I was about to remove these tests after finishing up https://github.com/dotnet/corefx/pull/32026, but I see they have been remove from the master branch already. I guess there is nothing for me to do here then @ahsonkhan

[2018-09-13 06:28] fredeil commented on #2323
Should this be moved to the "Benchmarks" part of the project?

[2018-09-13 06:55] ahsonkhan commented on #2322
They were ported over to BenchmarkDotNet (BDN) here: https://github.com/dotnet/corefxlab/pull/2394 by @adamsitnik.

I think we can safely remove the redundant ones.
For instance, this is now unnecessary: https://github.com/dotnet/corefxlab/blob/98ea133b2a3d36d377b59ec44437ae780f8529a7/tests/Benchmarks/System.Text.Primitives/PrimitiveParserBoolPerfTests.cs#L12

I would keep the custom parser benchm

[2018-09-13 06:57] ahsonkhan commented on #2323
Yes, and the tests need to be ported over to use BenchmarkDotNet rather than xunit.performance (like the other tests within "Benchmarks").

[2018-09-13 14:12] #2443 closed

[2018-09-13 14:12] #2460 closed

[2018-09-14 06:53] fredeil commented on #2322
Oh ok, they were ported already?

Does it mean that https://github.com/dotnet/corefx/pull/32026 won't get merged?

[2018-09-14 06:59] ahsonkhan commented on #2322
They were ported to BDN in corefxlab. We should still remove them as they are redundant.

It will. The goal here was to move over the perf tests from corefxlab to corefx since that is where the types/APIs live now.

[2018-09-14 07:08] fredeil commented on #2322
Could you assign me to this one? 😄
Do I need a collaborator invite here too?

[2018-09-14 08:40] ahsonkhan commented on #2322
Yes, I think so. cc @karelz, @joshfree

[2018-09-14 10:34] fredeil commented on #2323
Cool, I will try to port it over when I have some time!

[2018-09-14 17:38] karelz commented on #2322
@fredeil invite sent. Ping us here once you accept.

[2018-09-14 17:56] fredeil commented on #2322
@karelz invite accepted

[2018-09-14 19:01] fredeil commented on #2323
I was experimenting with this, but I see that the `Benchmarks.csproj` uses:
[code]
So I wasn't able to run the performance tests because of this.. Should I downgrade to 2.1 to run the performance tests?

cc @ahsonkhan, @karelz, @adamsitnik

[2018-09-15 01:16] ahsonkhan commented on #2323
Does targeting netcoreapp2.1 **on its own** resolve the issue (or do you have to downgrade the BDN package to 0.11.1 as well)?
https://github.com/dotnet/corefxlab/blob/ef7dd7bffcb1eedda5ed27e63b59af9c6b365a26/tools/dependencies.props#L13

[2018-09-16 18:44] fredeil commented on #2323
I got the project running and tests running. It was VS for Mac that complained that I didn't havet .NET Core installed, so I´ve started using VS Code for this particular repo now.

[2018-09-18 18:54] ahsonkhan commented on #2323
Fixed in https://github.com/dotnet/corefxlab/pull/2480.

[2018-09-18 18:54] #2323 closed

[2018-09-21 00:47] shaggygi opened #2487 "[Proposal] Create System.Devices.I2c API"
## Initial Rambles...
This proposal is to define a new API for I2C devices.  It is somewhat related to the new System.Devices.Gpio work.  However, the intent is to remove and separate into different APIs to focus on each specific type of I/O instead of one gigantic library (with a mix/match of unneeded dependencies.  There are many ways to accomplish this and hope others would chime in.  This prop

[2018-09-21 17:20] joshfree commented on #2487
Thank you @shaggygi for the I2c/I2cDevice proposal.  @ianhays will be back late next week and should be able to collaborate on this then. 😄   Our goal is to get the API shape through https://aka.ms/api-review by November and into the dotnet/corefx repo by then.

[2018-09-22 13:17] shaggygi opened #2489 "[Proposal] Create System.Devices.Spi API"
Similar to #2488, this starts a proposal to define a new API for SPI devices.

The plan is to add initial project with core classes/enums followed by implementations for SpiDevice.

**Update 9/29/2018**.  Closed original PR as it was mentioned it was better to have all within 1 assembly for now.  Will try to clean related in System.Devices.Gpio later.

[2018-09-26 18:13] joshfree opened #2497 "Intermittent TestJsonReaderUtf8 failure in CI"
1. Suspect Merge https://github.com/dotnet/corefxlab/pull/2493
2. failing PR https://github.com/dotnet/corefxlab/pull/2492
3. https://ci.dot.net/job/dotnet_corefxlab/job/master/job/windows_nt_debug_prtest/2446/
4. https://ci.dot.net/job/dotnet_corefxlab/job/master/job/windows_nt_debug_prtest/2446/consoleFull#-410211996a086b3e-df04-41d2-bc4d-43e8f9406d07

[code]

[2018-09-28 12:56] #467 closed

[2018-09-29 12:55] shaggygi commented on #2487
Tried another go at it...  #2505

[2018-10-01 16:29] joshfree commented on #2487
@joperezr @ianhays PTAL

[2018-10-02 14:01] KonH commented on #1816
Hello! I made PR with proposed changes, please review it.

[2018-10-02 20:53] ahsonkhan opened #2509 "Optimize JsonReader for single-segment ReadOnlySequence"
Currently, if we get data within a single-segment ReadOnlySequence, we follow the ReadOnlySpan code-path as an optimization. Ideally, the ReadOnlySpan code-path should be similar in performance to the ReadOnlySequence code-path (for a single-segment) since there is no advancing to the next segment.

However, that isn't the case today. For a single-segment ReadOnlySequence, following the multi-segm

[2018-10-02 22:06] ahsonkhan opened #2511 "Investigate if we can avoid allocations when json data straddles segments"
Try to avoid allocations (if possible) when reading json data that straddles between segments by returning a range or a ReadOnlySequence instead of a single span. Only return back the span (and allocate) when the user actually asks for the value.

However, this would increase the size of the JsonReader struct since it would have additional internal fields. It also introduces an if-check when acces

[2018-10-03 00:33] ahsonkhan opened #2513 "Investigate ways to optimize BufferReader.TryReadTo APIs for the common case"
We should aim to optimize the case where characters are not escaped, and the delimiter being searched for is within the next segment.

See https://github.com/dotnet/corefxlab/pull/2506 for potential optimizations as a starting point (validate and apply to all overloads).

https://github.com/dotnet/corefxlab/blob/e137eb61d704720755440de59f06f5d3823b4716/src/System.Buffers.ReaderWriter/System/Buffer

[2018-10-03 04:18] ahsonkhan opened #2515 "Unconstrained stackalloc based on input that the caller passed"
The following public method calls IsNextSlow with the span that the user passed in which could be of arbitrary length.
[code]

https://github.com/dotnet/corefxlab/blob/ce1ee0c85afdefaff162e97db8c5a7caf6b4358b/src/System.Buffers.ReaderWriter/System/Buffers/Reader/BufferReader_search.cs#L723

cc @KrzysztofCwalina, @GrabYourPitchforks

[2018-10-05 19:10] joshfree opened #2521 "Intermittent TestJsonReaderUtf8 failure in CI"
Related PR https://github.com/dotnet/corefxlab/pull/2520

[code]

[2018-10-05 20:12] ahsonkhan commented on #2521
Duplicate of https://github.com/dotnet/corefxlab/issues/2497

[2018-10-05 20:12] #2521 closed

[2018-10-06 02:13] #2497 closed

[2018-10-08 17:37] knocte commented on #2020
Sorry for the intromission in this issue, but it might be related (and since this is the only issue in this repo that mentions ArgumentOutOfRangeException...).

I have some code System.IO.Pipelines-based code which when using System.Buffers, it normally works, but under special circumstances (debugging in an Android phone, maybe slower, thus racy code?) I get the aforementioned ArgumentOutOfRangeE

[2018-10-08 19:48] ahsonkhan commented on #2020
@knocte, can you please file an issue related to your scenario in corefx (label System.Memory)?
https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Aarea-System.Memory

That is where the implementation of this API lives: https://github.com/dotnet/corefx/blob/9d3bce9a53234a98e25513909a843a277f9b33da/src/System.Memory/src/System/Buffers/BuffersExtensions.cs#L18

[2018-10-09 03:08] knocte commented on #2020
Sure done: https://github.com/dotnet/corefx/issues/32711 but I don't think I have permissions myself to add labels. Cheers

[2018-10-10 22:58] ahsonkhan commented on #420
Failed again here: https://github.com/dotnet/corefxlab/pull/2529

https://ci.dot.net/job/dotnet_corefxlab/job/master/job/ubuntu16.04_debug_prtest/2574/
https://ci.dot.net/job/dotnet_corefxlab/job/master/job/ubuntu16.04_debug_prtest/2574/consoleFull#-8536224876a086b3e-df04-41d2-bc4d-43e8f9406d07
[code]

[2018-10-10 23:07] joshfree commented on #420
Moving this to the 3.0 milestone as the issue popped up again

[2018-10-11 08:44] ahsonkhan commented on #420
On OSX:
https://ci.dot.net/job/dotnet_corefxlab/job/master/job/osx10.12_debug_prtest/2630/consoleFull#-8536224876a086b3e-df04-41d2-bc4d-43e8f9406d07

[2018-10-17 08:13] AnthonyLloyd opened #2541 "Concurrent AppendableList<T> collection"
I've hit a case where I only need to Add to a list and never update items in the list.
This should be able to be done by adding the item and increasing the size. Or when a resize is needed to do the resize first then the add.
That way you don't need read locks and just need a lock on add.

This can't be done using `List<T>` as `_size` is set first.

https://github.com/dotnet/corefx/blob/b0f6ef48cc

[2018-10-17 09:57] benaadams commented on #2541
`ConcurrentQueue<T>`?

[2018-10-30 03:04] JamesNK opened #2576 "Option to support trailing commas with JsonReader"
Comments and trailing commas are the most common differences from the JSON spec found in configuration files.

Consider adding an option to allow JsonReader to support trailing comments in JSON arrays and objects.

[code]

[code]

[2018-10-30 23:34] danmosemsft commented on #1938
cc @tannergooding @ericstj fyi

[2018-10-31 10:13] nietras commented on #1938
As a side note to this I have been brainstorming an implementation for this using the same kind of "trickery" that portable span uses. Given the constraints of `ref struct`s I am currently thinking it is better to simply have these as `readonly struct`s (e.g. `TensorView<T>`, `ReadOnlyTensorView<T>`, my own internal names are currently simply `ViewND<T>` and `ReadOnlyViewND<T>` with rank specific

[2018-11-03 21:06] pongba opened #2581 "Is Span<T> usable for .NET Framework 4.6?"
My project targets .NET Framework 4.6 and want to onboard the wonderfulness of Span<T> / Memory<T> (and even Utf8String that .NET Core will bring in the near future).

But to migrate the project as a whole to .NET Core requres a lot more effort.

So my question is, is there a smoother path of migration that involves first using Span<T> on top of .NET Framework 4.6, and then migrate the underneath

[2018-11-03 22:05] ahsonkhan commented on #2581
It depends on what you mean by usable, precisely.

The short answer is, yes. You can reference the System.Memory package (which was shipped as part of the .NET Core 2.1 release) and get access to Span/Memory along with things like Utf8Parser/etc.

What you don't get, though, is all the other APIs that were added to .NET Core that accept and use span across the platform (things like span-based over

[2018-11-03 23:47] pongba commented on #2581
@ahsonkhan awesome! Thanks a lot for the patient and detailed explanation! 👍

[2018-11-04 21:32] ygoe commented on #1740
@mj1856 I've been coming here after reading your older vision about date/time handling in [this comment](https://github.com/dotnet/corefx/issues/8353#issuecomment-219799203). I find it hard to track this since it seems to be spread all over the place. Is there a place I can track this to find out when I can use the new types in entirety?

[2018-11-04 22:44] ahsonkhan commented on #2581
Yes, of course. The portable implementation of span is slower than the in-box implementation, so you will likely see some regression for limited scenarios like just looping over a span vs an array. The .NET Framework runtime/JIT is not aware of span. However, measuring on a larger scope when you are dealing with slicing data, parsing, etc., and you save on the data copy/allocations, you would like

[2018-11-05 07:03] cdrnet commented on #2581
Thanks for the reply and the link! Some of my early benchmarks indeed showed using some of these newer data structures led to worse performance on .Net Framework. I guess I'll have to use `#if` directives in my libraries again to differentate between .Net Framework and .Net Standard builds for a while...

Sorry for hijacking the thread.

[2018-11-05 15:56] KrzysztofCwalina commented on #2581
We don't do it in huge majority of our portable libraries as we found the performance differences insignificant.

[2018-11-07 14:37] danmosemsft commented on #2576
Comments above presumably souls be commas

[2018-11-10 15:38] shaggygi commented on #2387
See https://github.com/dotnet/corefx/issues/33374

[2018-11-10 22:10] hamish-milne commented on #2581
On a related note: if I make a .net standard 2.0 library which references System.Memory and uses Span<T>, compared to a 'native' .net core 2.1 library will I get the same or worse performance when using the same runtime? (iow, does CoreCLR recognise the Span<T> from the nuget package, or only the built-in one?) Just wondering if it's worth making a separate build for that platform if there's a ben

[2018-11-11 05:08] danmosemsft commented on #2581
On a runtime that supports Span it will use the "fast Span".

[2018-11-11 07:48] danmosemsft commented on #1258
this was done.

[2018-11-11 07:48] #1258 closed

[2018-11-11 21:33] danmosemsft opened #2585 "20 warnings building repo"
[code]

It looks like at least some can be fixed. @ahsonkhan

[2018-11-12 02:37] ahsonkhan commented on #2585
[code]

cc @JeremyKuhne

Regarding:
- warning NU1701
- warning CS8002

I am not sure if we should be suppressing these. Should we? We are knowingly including references to these external JSON libaries for benchmarking.

These can be fixed, yes. We had marked them obsolete temporarily a while back to help upstream consumers change the API usage. We can remove the obsolete APIs now.

[code]

I will

[2018-11-17 09:57] BBGONE opened #2588 "What is the purpose of Threading.Channels?"
Threading.Channels looked promising at first but after testing them in different scenarios - they behaved not much better, but sometimes worse than the simple BlockingCollection. And they block the thread on writes as well. I also tried to replace the Channels with a BlockingCollection in the AsyncFileWriter https://github.com/electricessence/AsyncFileWriter and with BlockingCollection the results

[2018-11-17 12:52] BBGONE commented on #2588
Oops, it seems i figured it out. Although, the performance is the same in all usages, the channels have the benefit of nonblocking wait for when the channel can be written. This happens in the bounded scenarios. The BlockingCollection blocks the thread - not allowing to write, the Channels leave the thread to be used by others.

[2018-11-17 13:02] BBGONE commented on #2588
I checked it like this:

[code]

[2018-11-17 13:50] BBGONE commented on #2588
Although it behaves as expected while waiting for the channel can be written One question remains open: Why the performance dropped 2,0- 2,5 if to the channel is written in 4 concurrent threads.
The performance drops with the BlockingCollection as well. But i think that with the channels it can be optimized.
If it can not be optimized, then close the issue please.
I will reopen it for checking thi

[2018-11-17 17:02] stephentoub commented on #2588
Because there's contention.  If you can optimize it, please submit a PR to do so.  I'm going to close this issue, though, as it's not actionable as is, and the right repo now for channels-related issues is corefx.  Thanks.

And asynchronous reads when channels are empty.

[2018-11-17 17:02] #2588 closed

[2018-11-17 18:08] BBGONE commented on #2588
Sorry. I converted it to CoreFX. It started to perform **2,5 times faster** - with the same code and the same settings
I did not know that it had so big influence on the perfomance.

[2018-11-18 08:55] danmosemsft commented on #2585
We should suppress, with open issues of necessary, any warning we do not plan to promptly fix. Similar for introducing new warnings. We should  always be totally clean or new ones are hidden. (I know corefx isn't currently)

[2018-11-18 11:08] markusschaber commented on #1471
Somehow, it seems that this Proposal focuses on `int` type for interop - however, on all relevant platforms, an `int` in C is 32 bit nowadays.

We currently use p/invoke to call into a C interface for a C++ library (which cannot change it's type declarations as they need to stay binary compatible with existing clients). They expose masses of `long` and `unsigned long` parameters, return values and

[2018-11-19 17:02] TylerBrinkley opened #2592 "DictionarySlim Improvements"
## Potential API Changes

[code]

## Updates
* Removed `IDictionary<TKey, TValue>` support.

[2018-11-19 17:02] TylerBrinkley commented on #2592
@danmosemsft @AnthonyLloyd Thoughts?

[2018-11-19 17:03] danmosemsft commented on #2592
Would you mind including existing API in the diff above?

[2018-11-19 17:09] TylerBrinkley commented on #2592
Done.

[2018-11-19 18:05] danmosemsft commented on #2592
Should there be a constructor over `IDictionary<TKey, TValue>` (as well or instead of `IEnumerator<KeyValuePair<TKey, TValue>>`). That is what Dictionary chooses - not sure why.

Either way, in .NET Core it probes for the concrete Dictionary type, which it treats specially - I guess it could literally copy both the arrays in such a case, although it does not.

[2018-11-19 18:08] danmosemsft commented on #2592
One thing to consider is the cost of code instantiation - the code must be generated separately for each different size of TKey/TValue (I am not stating this precisely - the point is that while all reference types can share a single instantiation, this is not the case for various structs). That cost has caused us to reject certain more API on Dictionary (mainly where extension methods could be off

[2018-11-19 18:29] danmosemsft commented on #2592
Interesting. Key and Value enumerators could be pulled into their own classes, so they were pay for play, but I guess that would not add much value over using simple Linq to get the key or value out of the KVP enumerator.

[2018-11-19 21:30] TylerBrinkley commented on #2592
`Dictionary<TKey, TValue>` added the `IEnumerable<KeyValuePair<TKey, TValue>>` constructor after the `IDictionary<TKey, TValue>` constructor was already there. Since `IDictionary<TKey, TValue>` implements `IEnumerable<KeyValuePair<TKey, TValue>>` the `IDictionary<TKey, TValue>` constructor is superfluous.

I'm not saying we should add all these API's but am simply listing potential API additions t

[2018-11-19 23:20] danmosemsft commented on #2592
OK. Of the list, we already added Clear() since it didn't seem like we could claim to be a self respecting mutable collection otherwise. I will go ahead and remove the Key and Value enumerators. Let's leave this issue open, get it up on NuGet, and see what feedback we get.

[2018-11-19 23:22] danmosemsft commented on #2592
We should probably hide Capacity as well it's really only there for the tests.

[2018-11-19 23:56] danmosemsft commented on #2592
I'll add XML comments too.

[2018-11-20 01:00] danmosemsft commented on #2592
Hmm, how can I enumerate over the dictionary without copying every key and (particularly) value? @stephentoub is there a by ref enumerator pattern? I see some [language discussion](https://github.com/dotnet/csharplang/issues/1424), meantime what is the recommendation?

[2018-11-20 05:11] #2456 closed

[2018-11-21 03:03] ahsonkhan commented on #2581
You can check where Span is coming from to answer that question for yourself.

**Netstandard library:**
[code]
[code]

**.Net Core 2.0 application (or a .NET full framework app):**
[code]
[code]

[code]

**.Net Core 2.1 application:**
[code]

[code]

[2018-11-21 14:52] TylerBrinkley commented on #2592
Since we've removed the Keys and Dictionary collections I suppose it doesn't make much sense to implement `IDictionary<TKey, TValue>` anymore.

[2018-11-21 19:14] TylerBrinkley commented on #2592
Do you think we should remove the standard `TryGetValue` if we're going to add the `TryGetValueRef` method?

[2018-11-22 08:58] los93sol commented on #2426
@joperezr Any update on the status of this?  I know a lot of us are looking for a good Gpio solution in .net core and this looks to have been a great start!

[2018-11-22 10:49] danmosemsft commented on #2426
Cc @rlander

[2018-11-22 11:59] shaggygi commented on #2426
Cc @richlander

[2018-11-22 17:40] danmosemsft commented on #2426
Thanks for the correction, sorry @rlander

[2018-11-22 18:10] joperezr commented on #2426
@los93sol we have moved this work to It’s own independent repo that we will make public very soon. We have made some great progress in this space. We will update this thread with a link to the blogpost once that happens to invite all of you guys to contribute!

[2018-11-22 18:58] shaggygi commented on #2426
@joperezr while i would like to see a progressed API and something more supported (both MS and community), i question why would this even be in a private repo?  What happened to the openness?  This is one reason I gave up trying to put in little extra time to provide feedback and such (e.g. I2C, SPI, etc).

Anyways, i'm still looking forward to the public release.

[2018-11-22 19:07] #2489 closed

[2018-11-22 19:07] #2487 closed

[2018-11-22 19:07] #2387 closed

[2018-11-22 19:08] #2388 closed

[2018-11-23 09:48] buybackoff commented on #2592
Would be nice to have `bool TryAdd(TKey key, TValue value)` possibly with an overload with `..., out TValue existing)` . With `GetOrAddValueRef` I need to compare returned value to default and then set the new one. If default value could be in dictionary then one has to call `ContainsKey`.

[2018-11-24 18:08] danmosemsft commented on #2585
@ahsonkhan I have addressed all of these in #2600 except the 6 UrlEncoder ones. It is not clear to me what fix you expect for those - some non obsolete methods are implemented in terms of the obsolete ones. Can you please fix those so we can get clean? Then we can enable warning-as-error perhaps.

[2018-11-24 18:09] danmosemsft commented on #2581
@pongba does this answer all your questions? If so let's close the issue.

[2018-11-24 18:21] danmosemsft commented on #2447
Checking mentioned above is at
https://github.com/dotnet/coreclr/blob/030a3ea9b8dbeae89c90d34441d4d9a1cf4a7de6/src/strongname/api/strongnameinternal.cpp#L187

Presumably another option is to catch the SecurityException and use a dummy PKT in that case.

[2018-11-24 19:58] danmosemsft commented on #2428
I tried reordering the chain to bring the hit to the front of the chain. This hurts k-Nuc substantially (3.7s->6.1s) because k-Nuc hits are not clustered.

Here is some logging from 25M -- there are 7 dictionaries. 5 are small or tiny, 2 have 138K items, but all are used for 125M lookups. Essentially every lookup is a hit - which would be good for reordering - but nevertheless ~50% of lookups resu

[2018-11-25 01:06] danmosemsft commented on #2428
I also experimented with different initial sizes (as shown above, some of the dictionaries stay small or tiny, but the large ones resize 7 times (from 1024 to 262,144). It made no measurable difference: the resizing cost itself is negligible, and small arrays presumably have a locality benefit. BTW, the benchmark requires that the dictionaries have a fixed reasonable initial size.

[2018-11-25 01:30] danmosemsft commented on #2428
I also did some simple investigation of whether the 7 tasks are packed well onto the 4 CPU.

Here is a trace of a typical run on the Q6600 (the loading from file is about 240ms and initializing about 315ms before these start)
[code]
This shows the default scheduler starts the first 4 tasks immediately, then the next 3 in turn each time one finishes.

Running them sequentially to see how much work

[2018-11-26 17:33] TylerBrinkley commented on #2592
@buybackoff A `GetOrAddValueRef(TKey key, TValue defaultValue)` overload would work for your scenario. That was the original overload I proposed with the `defaultValue` parameter specified as optional.

[2018-11-27 06:57] ahsonkhan commented on #2585
Fixed in https://github.com/dotnet/corefxlab/pull/2600 / https://github.com/dotnet/corefxlab/pull/2602. Closing.

[2018-11-27 06:57] #2585 closed

[2018-11-27 07:03] ahsonkhan commented on #420
Disabling the test for now. Failed again for Windows in https://github.com/dotnet/corefxlab/pull/2603

https://ci.dot.net/job/dotnet_corefxlab/job/master/job/windows_nt_debug_prtest/2778/console
[code]

[2018-11-27 18:03] krwq commented on #420
@ahsonkhan is it possible that the fix just needs a port to 2.1? from the paths it seems that's what you're using

[2018-11-27 21:04] pongba commented on #2581
@danmosemsft it does, thanks you:)

[2018-11-27 21:04] #2581 closed

[2018-11-29 19:13] krwq commented on #420
@ahsonkhan I meant those changes were merged into master/3.0 but you seem to be using 2.1:
https://github.com/dotnet/corefxlab/pull/2253
https://github.com/dotnet/corefxlab/pull/2258
or is this library an OOB package?

[2018-11-29 21:20] ahsonkhan commented on #420
Which changes are you referring to?

Also, the library targets netcoreapp2.1, so I should be able to test/run on that: https://github.com/dotnet/corefxlab/blob/b43a07bbe24f4072deb555cff9ce5d3aec237948/src/System.IO.FileSystem.Watcher.Polling/System.IO.FileSystem.Watcher.Polling.csproj#L5

All corefxlab libraries are "OOB" effectively.

[2018-11-30 20:32] krwq commented on #420
@ahsonkhan ahh nvm, I thought those were corefx PRs

[2018-12-02 18:23] iSazonov opened #2610 "Unicode Case Folding"
Come from https://github.com/dotnet/corefx/issues/17233
Related discussion https://github.com/PowerShell/PowerShell/issues/8120
~~First alfa code https://github.com/iSazonov/PowerShell/tree/add-unicode3/src/System.Management.Automation/utils/unicode~~
Beta code and help utils https://github.com/iSazonov/SCF

Initial PR #2637.

# Suggestion

S1. Implement internal API for case-insensitive language-

[2018-12-03 00:32] ahsonkhan commented on #2610
Based on https://github.com/dotnet/corefx/issues/17233#issuecomment-434909772, do you plan to produce this functionality in a stand-alone NuGet package? If so, do you have a package name/namespace name in mind?

[2018-12-03 00:45] tarekgh commented on #2610
You are including the whole BMP Unicode plane data which is too much.

I think we can optimize storing the data in better way which will reduce the size. you can use the 8-4-4 mapping technique.

[2018-12-03 04:05] iSazonov commented on #2610
The best target for me is to get the API, at least `System.StringComparison.SimpleCaseFolding, in .Net Core 3.0. Is it possible implement `System.StringComparison.SimpleCaseFolding` in the repo? If yes the package name/namespace name would be obvious. If no I still can not imagine where it is better to place and how name. Perhaps `System.Globalization` is a good place for all helper methods and ca

[2018-12-03 08:48] nietras commented on #1938
@tannergooding what is your view on my comments above? It seems to me the System.Numerics.Tensors design still is based on reference types and does not have value type views?

[2018-12-04 02:53] tarekgh commented on #2610
I have crafted some sample show how to read the case folding Unicode data and then generate and access the size optimized tables https://gist.github.com/tarekgh/55dfaf0f44689738c3a6ca67941ccdc2

[2018-12-04 03:31] iSazonov commented on #2610
@tarekgh Thanks!
I calculated the first byte for both 1 and 2 panes (ignore first "1" ) and had 18+5=23 unique values. It is 23*256 = 5888 elements. Total size 5888+256=6153.
Could it be easier implement and faster?

[code]

[2018-12-04 03:43] tarekgh commented on #2610
@iSazonov could you explain more what you mean?

[2018-12-04 03:44] tarekgh commented on #2610
do you mean you make it 2 lookup tables instead of 3? this may work too if the size difference is small. should be simpler too.

[2018-12-04 03:50] iSazonov commented on #2610
From CaseFolding.txt  I take first byte and count unique values. Yes, it will be 2 levels. Perhaps in this case there will be less pointer transformations and memory accesses.

[2018-12-04 03:50] tarekgh commented on #2610
you can try and measure.

[2018-12-04 03:56] iSazonov commented on #2610
Will try.

In my alfa code I tried cache array of ushort type and catch slow type cast from ushort to char so I began to use arrays of char type. I see you use int[] in your gist. What is more correct way?

[2018-12-04 11:37] jaykrell commented on #2368
Reversing a string is useful in converting integer to string.
Though it is borderline.
You either make a pass over the integer to compute the length, allocate the buffer, iterate over the integer again, placing characters correctly.
Or you make a pass over the integer, placing characters backwards, and then reverse the string.

Reversing a string is useful for plain text search maybe.
Suffix searc

[2018-12-04 18:12] tarekgh commented on #2610
I'll not be able to help before the new year :-) as I am currently off. but you got the idea and it is easy to generate the needed data.

[2018-12-04 18:44] joshfree commented on #2426
Closing as this package has moved to the https://github.com/dotnet/iot/ repo

[2018-12-04 18:44] #2426 closed

[2018-12-05 18:12] danmosemsft commented on #446
[Nit, `BiDirectional` woudl be capitalized `Bidirectional` because `bi` is not a word]

Some good motivating scenarios would be valuable. I have probably used one (at least, two dictionaries) a few times but good examples do not come to mind.

[2018-12-05 19:35] edgardozoppi commented on #2426
It is great to see how this project moved forward to support Windows 10 and other pin features like PWM.  It is also good to have device bindings using the new public API like ADC. I can't wait to see more bindings for LCD, BME280 and the other devices we used, as well as new contributions from the community!

Great work guys!! 😄

[2018-12-05 22:56] joperezr commented on #2426
@edgardozoppi Thanks for all the hard work you did on this project. You were key to delivering the foundations of the project 😄

[2018-12-06 00:37] BreyerW commented on #446
JSON.Net uses bidirectional for cyclic references (de)serialization. I guess bidirectional is useful whenever you need cyclic features like when object contain key to itself (e. g. tag system)

[2018-12-10 14:12] TylerBrinkley commented on #446
I've added a motivation section and have submitted a the PR implementation #2613.

[2018-12-11 16:26] roji commented on #2368
See the great work being done here (i.e. https://github.com/dotnet/corefx/issues/30503), I'm hoping that a no-copy, zero-allocation alternative/complement to UTF8String is still being considered. As above:

and

Indeed, some sort of way to work directly on a `Span<byte>` as UTF8 data seems to be highly desirable, with .NET's current perf goals and approach. Have I missed a conversation around this

[2018-12-13 22:25] joshfree opened #2617 "Test Failure: System.Text.JsonLab.Tests.WriteToPipeTests.WriteToPipeUsingMemory"
https://ci.dot.net/job/dotnet_corefxlab/job/master/job/osx10.12_debug_prtest/2896/consoleFull#-15162477432d31e50d-1517-49fc-92b3-2ca637122019
[code]

[2018-12-16 07:39] FilipTowarnicki opened #2621 "DictionarySlim does not implement IEnumerable consistently"
The System.InvalidOperationException: 'Collection was modified; enumeration operation may not execute.' exception is not thrown in the following scenarios:

[code]

[2018-12-16 08:03] mikedn commented on #2621
Well, it's called "Slim" for a reason.

[2018-12-18 01:21] danmosemsft commented on #2621
Yes that's pretty much it: we did have iterations of this with the traditional checks in the enumerators, but removed them. At the cost of adding a `_version` field and incrementing it all over, you get some exceptions that might not even indicate a problem. I am skeptical about the value that the `_version` checks add in the traditional collections.

If it was possible to somehow cause enumeratio

[2018-12-28 14:38] iSazonov commented on #2610
I created code with 2-level cache https://github.com/PowerShell/PowerShell/pull/8515
but I just can’t get acceptable performance.

[2019-01-03 13:19] StefanKoell opened #2627 "Can System.IO.FileSystem.Watcher.Polling be used with .net Full Framework?"
Hi!

There's a dependency on FileSystemEnumerator - which seems only be available in .net core. Is there a way to get this on .net full framework to run as well?

Thanks!
Stefan

[2019-01-03 20:18] danmosemsft commented on #2627
I don't think is any plan to put up a public Nuget package for FileSystemEnumerator
 that would run on .NET Framework. @JeremyKuhne owns it, though.

[2019-01-04 11:45] iSazonov commented on #2610
@tarekgh  I got some performance progress for SMP. Then I started testing the code for surrogates and discover that your gist code works only for SMP. Do you have any thoughts how best to handle them?

[2019-01-04 15:18] tarekgh commented on #2610
@iSazonov for surrogates we'll need to generate a tables for that too the same way. I didn't look but if surrogates don't have many folding cases we can special case those and handle then differently. we'll just need to look how many folding ranges there. if I get some time I can try to take a look.

[2019-01-04 15:31] iSazonov commented on #2610
Thanks @tarekgh !  There is ~225 codepoints from Pane1 in SimpleCase.txt. The stats I published above https://github.com/dotnet/corefxlab/issues/2610#issuecomment-443957930

[2019-01-04 15:42] tarekgh commented on #2610
looking at https://www.unicode.org/Public/5.2.0/ucd/CaseFolding.txt I am seeing it is just one range from 10400 ~ 10427 so we can have just a simple check like

if (c is Surrogate and in range 0x10400 ~ 0x10427) return c + 0x28

[code]

[2019-01-04 15:49] iSazonov commented on #2610
Source is two surrogates (high and low). So we have to calculate codepoint, then +0x28, then decode to new surrogate pair. It looks very-very slow . Or is the case very rare and we could be slow?
Also what about codes below 10427?

[2019-01-04 15:56] tarekgh commented on #2610
The check is very simple like

[code]

[2019-01-07 01:37] ahsonkhan opened #2628 "Update and replace uses or RangeLab with System.Range within corefxlab"
.NET Core 3.0 contains the new `Range` type https://github.com/dotnet/corefx/blob/4378851bc5fd0e3c5043a6d0a3ac835e838fcf7d/src/Common/src/CoreLib/System/Range.cs#L9

We need to remove the RangeLab type from corefxlab and update its uses with the new `Range`.

cc @tarekgh

[2019-01-07 18:06] KrzysztofCwalina commented on #2627
The implementation used to support .NET Framework. It's indeed unfortunate that it regressed.

[2019-01-07 21:32] tarekgh commented on #2628
ok, will get into this at some point after finishing the Range/Index in corefx.

[2019-01-09 21:32] dotChris90 opened #2630 "Plans and roadmap for Tensor class?"
Hello experts! :)

a friend of me and I just found out today that your lab is doing something impressive for our taste.
I am talking about the Tensor class in System.Numerics.

The reason why we impressed and interested is that we are (just for fun) working on a numpy port with nearly identical APIs - https://github.com/SciSharp/NumSharp. Unfortunately it is not too mature like we wish but we stil

[2019-01-09 22:09] ahsonkhan commented on #2630
cc @eerhardt, @tannergooding

[2019-01-09 22:18] dotChris90 commented on #2630
@Oceania2018

[2019-01-09 22:52] danmosemsft commented on #2630
@NiklasGustafsson fyi.

[2019-01-10 12:01] grahamehorner opened #2632 "Q: System.IO.Pipelines - Performance and Memory Allocation"
Great work, give the improvements in performance and memory allocations are there any plans to provide new/additional implementations for features like XmlSerializer and other features that currently use System.IO. Stream etc.. IMHO it would be good if implementations of Text, Xml, Json, and/or Csv reader/writers where included especially given the memory improvement for when a developer is target

[2019-01-10 14:01] khellang commented on #2632
It's already being worked on, with JSON as first priority (see https://github.com/dotnet/corefx/pull/33216 and https://github.com/dotnet/corefx/pull/34485). I doubt XML and CSV will come around in the near future as most things are JSON anyway nowadays. Maybe a nice opportunity for a community project?

[2019-01-10 14:10] grahamehorner commented on #2632
@khellang that is great to hear; I do think however XML serialization is important as a large number of services are very much WSDL/SOAP based and XML is IHMO the performance of SOAP client/server performance would benefit greatly from using the pipeline version of the serialization; while maintaining backwards compatibility.

I'll have a look at the WIP referenced and possible start of an XmlPars

[2019-01-10 20:44] tannergooding commented on #1682
This issue was moved to dotnet/corefx#34510

[2019-01-10 20:44] #1682 closed

[2019-01-10 20:44] tannergooding commented on #1683
This issue was moved to dotnet/corefx#34511

[2019-01-10 20:44] #1683 closed

[2019-01-10 20:44] tannergooding commented on #1685
This issue was moved to dotnet/corefx#34512

[2019-01-10 20:44] #1685 closed

[2019-01-10 20:44] tannergooding commented on #1763
This issue was moved to dotnet/corefx#34513

[2019-01-10 20:44] #1763 closed

[2019-01-10 20:45] tannergooding commented on #1793
This issue was moved to dotnet/corefx#34514

[2019-01-10 20:45] #1793 closed

[2019-01-10 20:45] tannergooding commented on #1798
This issue was moved to dotnet/corefx#34515

[2019-01-10 20:45] #1798 closed

[2019-01-10 20:45] tannergooding commented on #1816
This issue was moved to dotnet/corefx#34516

[2019-01-10 20:45] #1816 closed

[2019-01-10 20:46] tannergooding commented on #1817
This issue was moved to dotnet/corefx#34517

[2019-01-10 20:46] #1817 closed

[2019-01-10 20:46] tannergooding commented on #1820
This issue was moved to dotnet/corefx#34518

[2019-01-10 20:46] #1820 closed

[2019-01-10 20:46] tannergooding commented on #1846
This issue was moved to dotnet/corefx#34519

[2019-01-10 20:46] #1846 closed

[2019-01-10 20:46] tannergooding commented on #1847
This issue was moved to dotnet/corefx#34520

[2019-01-10 20:46] #1847 closed

[2019-01-10 20:46] tannergooding commented on #1849
This issue was moved to dotnet/corefx#34521

[2019-01-10 20:46] #1849 closed

[2019-01-10 20:46] tannergooding commented on #1867
This issue was moved to dotnet/corefx#34522

[2019-01-10 20:47] #1867 closed

[2019-01-10 20:47] tannergooding commented on #1869
This issue was moved to dotnet/corefx#34523

[2019-01-10 20:47] #1869 closed

[2019-01-10 20:47] tannergooding commented on #1893
This issue was moved to dotnet/corefx#34524

[2019-01-10 20:47] #1893 closed

[2019-01-10 20:47] tannergooding commented on #1938
This issue was moved to dotnet/corefx#34525

[2019-01-10 20:47] #1938 closed

[2019-01-10 20:47] tannergooding commented on #1976
This issue was moved to dotnet/corefx#34526

[2019-01-10 20:47] #1976 closed

[2019-01-10 20:48] tannergooding commented on #2630
This issue was moved to dotnet/corefx#34527

[2019-01-10 20:48] #2630 closed

[2019-01-11 18:24] iSazonov commented on #2610
I created https://github.com/iSazonov/SCF/ with my current code.
Three mapping is used:
- for chars <= 0x5ff - 1-level mapping (~3 Kb)
- for chars > 0x5ff (not surrogates) - 2-level mapping (~10 Kb)
- for surrogates - 2-level mapping (~6 Kb)
Total size ~19 Kbyte.

Status:
- surrogates is not still processed.
- working on optimization of comparer CompareUsingSimpleCaseFolding() method.

Best perfor

[2019-01-12 13:16] ahsonkhan commented on #2632
Definitely.

If you have a concrete usage scenario and can showcase significant performance improvements, feel free to file an API proposal within corefxlab (following up with a project with the implementation).

I am sure we can find some steward to review it and provide feedback along the way. Feel free to ping me on the issues as well.

cc @danmosemsft, @joshfree, @krwq, @davidfowl, @pakrym

[2019-01-14 10:39] iSazonov commented on #2610
I see .Net Core team updated Marvin https://source.dot.net/#System.Private.CoreLib/shared/System/Marvin.OrdinalIgnoreCase.cs,40
to increase performance for OrdinalIgnoreCase if chars is ASCII.
With the simple case folding the Marvin code could be faster for chars <= 0x5ff that is most of the commonly used characters.

[2019-01-15 11:05] iSazonov commented on #2610
Benchmarks for simple case folding vs String.ToUpperInvariant
[code]
|                 Method |         StrA |     Mean |     Error |    StdDev | Ratio | RatioSD |
|----------------------- |------------- |---------:|----------:|----------:|------:|--------:|
| **CoreFXToUpperInvariant** | **CaseFolding1** | **40.21 ns** | **0.2205 ns** | **0.1722 ns** |  **1.00** |    **0.00** |
| CoreFXToLowerInv

[2019-01-15 15:07] iSazonov commented on #2610
I grub Marvin to my local (with minor changes to get compile) and replace ToUpperInvariant() with simple case folding (I haven't done any more optimizations.).  We can see again great performance win for chars > 0x5ff.
[code]
|                        Method |         StrA |     Mean |     Error |    StdDev | Ratio |
|------------------------------ |------------- |---------:|----------:|----------:

[2019-01-15 15:11] iSazonov commented on #2610
I moved the project from .Net Core 2.1 to 3.0-preview (latest daily build) and overall performance noticeably higher for all perf tests!

[2019-01-17 14:12] iSazonov commented on #2610
@ahsonkhan @tarekgh what can I do next?

[2019-01-17 17:12] tarekgh commented on #2610
As I originally suggested to have this in NuGet package and let's see the demand on this library, and if we see enough demand we can consider moving the functionality to the core. My concern to move this to core from now is the data size and not clear if this feature will be used by many people.

[2019-01-17 17:36] iSazonov commented on #2610
I am ready. Is there a manual?
Package name and namespace is a question. Need help.

Yes, data size is relatively big. On the other hand, benefits are also significant - this code may be even faster than OrdinalIgnoreCase for char < 0x7f. It is even possible that MSFT experts can make it even faster.

I don't think that the package will be used many people directly because most of benefits that we

[2019-01-17 18:10] tarekgh commented on #2610
I recall the libraries in corefxlab got packaged as nuget package. @ahsonkhan may confirm that.

@joshfree can advice if we can host this library in corefxlab. but in general, you may look at https://www.nuget.org/ for the documentation how you can create your own NuGet library.

[2019-01-17 19:02] ahsonkhan commented on #2610
Libraries from corefxlab are built and published to MyGet: https://dotnet.myget.org/gallery/dotnet-corefxlab (as long as the project is included in the corefxlab.sln solution). Consider following an existing project as a starting point to make it easier to build the package and publish it.

Feel free to ping me on the PR/branch that attempts to add the new project to this repo and I can provide fe

[2019-01-17 20:26] tarekgh commented on #2610
I would suggest assembly and namespace name like System.Globalization.Utils (or something similar). and if this going one day to move to core, we'll include it in System.Globalization.Extensions assembly (or maybe in coreclr if proven need some core dependencies somehow).

[2019-01-18 03:53] iSazonov commented on #2610
@ahsonkhan @tarekgh Thanks for clarify! Will do.

@tarekgh Could you please comment System.Text vs System.Globalization.Utils (or something similar)
If you prefer System.Globalization can it be System.Globalization.Fold or it is very special?

[2019-01-18 15:32] tarekgh commented on #2610
Folding is in the boarder line between Text and Globalization. If your library regarding folding only, I would say this can go to System.Text as I am seeing this functionality like casing which we have it in System.Text. if you are going to provide more functionality like Comparing strings (using folding), that may go to globalization. I don't mind to have it in System.Text though if the name of t

[2019-01-18 15:40] iSazonov commented on #2610
Thanks! I'll use System.Text.Primitives if it is not for UTF-8 only.

[2019-01-18 16:11] iSazonov commented on #2610
@tarekgh System.Text.Primitives uses System.Buffers.Text namespace.
We could use System.Text.Folding for start. Can we still put it in System.Text.Primitives or better create new package?

[2019-01-18 18:33] joshfree commented on #2610
@tarekgh The bar for corefxlab prototyping is that we believe the prototype may be productized and promoted to dotnet/corefx (or similar) shipping repos in the future.

[2019-01-18 19:27] tannergooding opened #2635 "[Proposal] Start a project around various numeric types"
We have a number of proposals on CoreFX around exposing various new numeric types. It would likely be a good idea to have a project here to prototype some of these.

Some of the ideas that I think would likely be applicable are the following:

Types which are generally considered ABI primitives:
* The IEEE `binary128` (quad-precision) floating-point type
* The IEEE `decimal32`, `decimal64`, and `d

[2019-01-18 23:32] tarekgh commented on #2610
Maybe it is better idea to have System.Text.CaseFolding library and use the same name for the namespace too. I looked more at corefxlab and we have multiple System.Text libraries for different functionality so it will make sense to introduce System.Text.CaseFolding

[2019-01-23 03:06] iSazonov commented on #2610
@tarekgh @ahsonkhan PR was pushed.

[2019-01-24 01:24] #2576 closed, assigned to nobody

[2019-01-26 00:02] AlgorithmsAreCool commented on #2635
This is cool, I just had to roll my own BigRational to support exact precision decimal arithmetic for a project.

Would you consider mutable arbitrary precision numbers?
I recall the original discussions around wanting to keep the semantics of BigInteger the same as normal ints.

But when you are doing alot of calculations the copying becomes a big (heh) pain.

It would be really nice to have a Bi

[2019-01-27 16:10] fanoI commented on #2635
Happy to see this moving forward.

Can I hope the implementations of these new numeric types will be all in managed code?

[2019-01-27 17:55] tannergooding commented on #2635
Yes. Although they likely will take advantage of the new hardware intrinsics feature, where applicable.

[2019-01-27 18:01] tannergooding commented on #2635
@AlgorithmsAreCool, I think having the various `arbitrary precision types` and corresponding `Builder` types is probably the correct way forward.

This is a pattern that has been used with fairly good success for other data types and `BigInteger` has already shipped as `readonly`, so it would likely be good to keep things consistent moving forward.

[2019-01-31 01:55] danmoseley opened #2640 "Optimizing HashSet<s/byte> (and other small numbers) to use a single or few Vector256?"
_From @simplejackcoder on January 21, 2019 7:50_

It will be awesome if `HashSet<byte>`/`Dictionary<byte, V>` could be made to use to Intrinsics feature in CoreCLR and optimize the heck out of the this case. It is provable that with Vector256 all operations are basically bit mask operations in one single register.

This also got me thinking if we could have a hash code selection algorithm for Hash

[2019-01-31 01:55] danmosemsft commented on #2640
_From @simplejackcoder on January 21, 2019 8:5_

I left out an important point from my issue. The reason why I'm thinking about Vector256 is because I would like to do multiple checks, i.e. comparing multiple values, so think of it likes ContainsMultiple(array of input) and not Contains. Obviously the Contains could be implemented without any vector instructions at all.

[2019-01-31 01:55] danmosemsft commented on #2640
_From @mikedn on January 21, 2019 20:12_

Why is this case worthy of such an optimization? Or to put it another way, if this case is so important to you, why don't you use a more suitable data structure - `BitArray` or some other suitable "bit vector" implementation?

[2019-01-31 01:55] danmosemsft commented on #2640
There are certainly fast maps that use SIMD instructions, such as Abseil's Swiss table
https://abseil.io/about/design/swisstables
https://github.com/abseil/abseil-cpp/blob/0dffca4e36791c7beeda04da10460b534283948a/absl/container/internal/raw_hash_set.h

It would be interesting to experiment with that approach, but that should start with a proposal or experiment in the dotnet/corefxlab repo (and if

[2019-01-31 01:55] danmosemsft commented on #2640
If you plan to do experiments of your own @simplejackcoder I would be interested to see numbers and code, in the corefxlab repo.

[2019-01-31 01:55] danmosemsft commented on #2640
Mind if I move this issue over there @simplejackcoder ?

[2019-02-06 11:18] iSazonov commented on #2610
@tarekgh Could you please share an information what is InvariantCulture mapping tables? I don't found any information in Unicode standard. Seems it is internal Windows implementation like different "C" locales on different Unix-es. In the case Simple Case Folding looks good standardized candidate for unified implementation of invariant comparisons for all platforms.

[2019-02-06 16:47] tarekgh commented on #2610
I am not sure what exactly the ask here. are you asking about the casing mapping for invariant? we don't carry any data and we just use the underlying OS for doing the casing.

[2019-02-07 03:00] iSazonov commented on #2610
Yes, my ask about underlying Windows implementation.

[2019-02-07 17:25] tarekgh commented on #2610
Windows has the casing tables file. it is easy to generate the mapping through looping the whole Unicode range and do ToUpper, ToLower using Invariant culture. by the way, we are talking here about casing and not case folding. just in case we confuse both together.

[2019-02-08 04:14] iSazonov commented on #2610
Sorry for the inaccuracy of my question. My question come from https://github.com/PowerShell/PowerShell/issues/8064 and https://github.com/dotnet/corefx/issues/28611 -
i.e. comparison. Using InvariantCulture gives different results because of differences in underlying OS implementations. So I think of Simple Case Folding as a standardized alternative.

[2019-02-08 23:20] tarekgh commented on #2610
case folding is not going to help in the linguistic (non-ordinal) operations.

[2019-02-11 20:34] buybackoff commented on #2592
Just found in profiler that [`TryGetValue`](https://github.com/dotnet/corefxlab/blob/28e381836571d9234725858bd37a352ddabffeda/src/Microsoft.Experimental.Collections/Microsoft/Collections/Extensions/DictionarySlim.cs#L131) was not inlined.  Adding `[MethodImpl(MethodImplOptions.AggressiveInlining)]` improves its performance by 20%. Other methods should probably also benefit from that.

[2019-02-11 20:39] TylerBrinkley commented on #2592
`TryGetValue` is a public method with a sizable body. If it were being used internally it would make sense to inline its use but I don't think external consuming code should inline its body given the body size.

[2019-02-11 20:50] buybackoff commented on #2592
@TylerBrinkley I thought that this is maybe intentional, but the purpose of the new dictionary was to get last bits of performance. In my case with rare writes `DictionarySlim` with `SpinLock` became 10% faster than `ConcurrentDictionary`, whose enumerator [still allocates](https://github.com/dotnet/corefx/issues/28046).

But never mind, I have `DictionarySlim` imported as source code.

[2019-02-11 21:06] danmosemsft commented on #2592
@jkotas @AndyAyersMS what is your feeling about marking public methods as aggressive inline? It does cause arbitrary sized bloat - it's a shame there's not a way for the caller to force the inline instead.

Plus the usual caveat of inlining showing up disproportionately well in microbenchmarks, and the code bloat is multiplied by the instantiations, ..

[2019-02-11 21:14] jkotas commented on #2592
Marking large public methods like `TryGetValue` as `[MethodImpl(MethodImplOptions.AggressiveInlining)]` would hurt majority of our users because of code bloat and slower startup.

The rare cases that need that can include a source copy of the dictionary and tweak it as necessary, just like @buybackoff has done.

[2019-02-11 21:37] buybackoff commented on #2592
This is true of cause. But consider a situation when consumers of this low-level building blocks have their own public methods, which usually call several methods of such primitive building blocks and which are virtual or contain `try/catch` or other things that prevent inlining (or are deliberately non-inlined with the attribute). For such very hot methods we have already paid for a method call,

[2019-02-11 22:10] AndyAyersMS commented on #2592
I'm probably rehashing some discussions I've had elsewhere, but I often feel `AggressiveInlining` is solving the problem the wrong way around. Usually it's the caller that indicates if an inline is important for perf, not the callee. A per-call-site attribute may not be practical, but a per-method one might be, something like (or perhaps exactly) `AggressiveOptimization`.

I also expect that somed

[2019-02-21 16:54] MarcoRossignoli commented on #2621
@danmosemsft slightly different but related to IEnumerable implementation, remove item during enum throw exception https://github.com/dotnet/corefx/blob/5524fb540121fa69380c3279708d5fc5c462fbee/src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.Tests.netcoreapp.cs#L117

https://github.com/dotnet/corefxlab/blob/master/src/Microsoft.Experimental.Collections/Microsoft/Collections/Exte

[2019-02-21 16:58] danmosemsft commented on #2621
@MarcoRossignoli yes if I understand you correctly, that's also a consequence of removing `version`. It's deterministic, so it's simply a different exception than big Dictionary.

[2019-02-21 17:07] MarcoRossignoli commented on #2621
More or less, Dictionary support this scenario removing item doesn't change version, only TryInsert, EnsureCapacity and TrimExcess.
I think that's only a feature.

[2019-02-21 17:10] danmosemsft commented on #2621
Ah yes, the way Dictionary is implemented, it is safe to remove during enumeration so we removed the version check there. I don't think it is worth making things less "slim"

[2019-02-24 19:07] YohDeadfall commented on #1760
@ahsonkhan This issue and [other](https://github.com/dotnet/corefxlab/labels/area-System.CommandLine) should be closed since the project is archived.

[2019-03-02 20:01] j-diffy opened #2650 "Memory spec question"
[Reference](https://github.com/dotnet/corefxlab/blob/master/docs/specs/memory.md)

Q: This line:
`...at the cost of significant performance penalties for reading and writing to the memory.`

What is it about using `Memory` over `Span` that incurs "significant performance penalties"? This is not explained and I can't find anything anywhere about this.

[2019-03-03 01:01] ahsonkhan commented on #2650
If you want to read/write from/to a `Memory`, you have to first access its `Span` property and then index into it/etc. Accessing the property, though optimized recently (https://github.com/dotnet/coreclr/pull/20386 / https://github.com/dotnet/coreclr/pull/20771), isn't free (especially if you are going through the `MemoryManager`), and that's where part of the performance cost comes from. The `Mem

[2019-03-06 17:16] j-diffy commented on #2650
Great info thx👍

[2019-03-06 17:16] #2650 closed

[2019-03-10 23:25] trampster commented on #1287
#1290 only works on memory and the Create method is internal which means the only way to use it is through it's constructor which takes a pointer!  This means it does not allow the pinning of ether Span or Memory without unsafe.

[2019-03-11 01:02] stephentoub commented on #1287
Whether you're using a `void*` or an `IntPtr`, it's equally unsafe, it just happens that the latter doesn't require the C# `unsafe` keyword.

[2019-03-11 02:31] trampster commented on #1287
Yes, they are equally unsafe, however use of the unsafe keyword puts restrictions on where the code can run. Whereas IntPtr does not.

I've found that Memory<T> has a Pin() method which would do exactly what I need except I need it for Span.

Seeing as this issue says memory/span and the solution only does memory and not span. Then this issue was not actually resolved.

[2019-03-11 02:35] stephentoub commented on #1287
You can directly pin a span, e.g.
[code]
There's no need for any additional API to do so (you can also use its GetPinnableReference method directly and pin via the resulting ref, or MemoryMarshal.GetReference and do the same).  Memory can live on the heap, and thus you need a GCHandle-like API that allows for pinning it with a scope beyond that of the stack; that's not the case with span.

[2019-03-11 02:37] trampster commented on #1287
Yes but that code uses pointers, so requires the unsafe keyword, which restricts where the code can run.

[2019-03-11 03:01] jkotas commented on #1287
Pointer-like operations with IntPtr were prohibited in partial trust environments as well.

Also, note that partial trust is not a thing with .NET anymore. It was never supported in .NET Core, and it was officially deprecated in .NET Framework as well: https://docs.microsoft.com/en-us/dotnet/framework/misc/code-access-security-basics

[2019-03-11 03:05] trampster commented on #1287
Thank jkotas,

What about mono/xamarin environments? If they are fine, then I'm OK with unsafe.

If this is the case why do we still have compiler warnings about unsafe in dotnet core. Why do we still need to build with /unsafe etc if this makes no difference.

[2019-03-11 03:53] jkotas commented on #1287
Yes, they are fine.

The unsafe `code is still less desirable than safe code. The compiler warnings, etc. make it less convenient to write unsafe code.

[2019-03-11 03:56] trampster commented on #1287
Good to know. Thanks for the patent replies.

[2019-03-13 01:07] danmosemsft commented on #2652
As an aside, it is possible to make a List that is smaller than real List at first. [Eg.,](https://github.com/Microsoft/msbuild/blob/e70a3159d64f9ed6ec3b60253ef863fa883a99b1/src/Build/Collections/MultiDictionary.cs#L165)

[2019-03-13 09:59] eeegs opened #2653 "System.Time millisecond constructor should be a double"
In the current constructors that take milliseconds as an argument it is an int.  The precision of the time object is 100 nS.  The millisecond argument should be a double to allow for this.

[2019-03-13 10:23] YohDeadfall commented on #2653
It's made for compatibility with existing types which accept milliseconds as an `int`. If you want to specify a more precise value use the `Time(long ticks)` constructor or do something like `default(Time).AddMilliseconds(value)` if you have milliseconds only.

Probably there is a lack of the `Zero` constant and some methods to construct a value from one of time parts, i.e. `FromMilliseconds`, etc

[2019-03-14 10:55] eeegs commented on #2653
Time is a new type, so I don't entirely agree with compatibility rational - I get that you mean in other similar circumstances.

[2019-03-14 11:03] roji commented on #2653
One more thought - it seems like floating point types are best avoided in this context because of their precision issues. Rather than floating point, it seems wiser to use ulong if more precision is needed.

[2019-03-14 11:31] YohDeadfall commented on #2653
`ulong` is CLS compliant, but otherwise @roji is right. Ticks provide better precision.

[2019-03-14 19:45] mj1856 commented on #2653
Review the [constructors of `DateTime`](https://docs.microsoft.com/dotnet/api/system.datetime.-ctor) or the [constructors of `TimeSpan`](https://docs.microsoft.com/dotnet/api/system.timespan.-ctor).  I wouldn't want to set a different precedent here.

[2019-03-14 19:45] #2653 closed

[2019-03-14 23:03] benaadams commented on #2350
Will `Utf8String` have value equality with `string`? e.g.
[code]
As string and Utf8String have known encodings; so should be able to be compared without allocating the other type to change the encoding to compare.

Similarly
[code]

[2019-03-14 23:38] GrabYourPitchforks commented on #2350
@benaadams Undecided. I've been experimenting with `operator ==(Utf8String, string)` as a convenience method for equality comparisons. I've also been experimenting with adding those operators with a "referential equality only" implementation and slapping `[Obsolete]` on them to discourage their use. In either case we can't add the overloads until we figure out what to do about https://github.com/d

[2019-03-14 23:49] benaadams commented on #2350
Ah, yes, unfortunate :-/

[2019-03-29 11:13] dzmitry-lahoda opened #2654 "Make DictionarySlim to use ArrayPool?"
Could

https://github.com/dotnet/corefxlab/blob/master/src/Microsoft.Experimental.Collections/Microsoft/Collections/Extensions/DictionarySlim.cs

allocate via `ArrayPool`?

In next calls:
[code]

Similar to https://github.com/jtmueller/Collections.Pooled.

[2019-03-29 11:20] DaZombieKiller commented on #2654
Wouldn't this cause `DictionarySlim` to then need to implement `IDisposable` so it can return the arrays? That'd cause the correct usage of the type to change from what it is currently.

[2019-03-29 12:47] dzmitry-lahoda commented on #2654
May be need to implement, may be need to call, may be some other named method. Really, my question is broader - how to produce pooled counterpart for each container, with no need to copy whole source code?

[2019-03-29 19:40] YohDeadfall commented on #2654
A finalizer could help in that scenario.

[2019-03-30 06:05] dzmitry-lahoda commented on #2654
Another possible issue - `new` is fast, how fast is `abstract  ArrayPool.Rent`. If default `Rent` could be implemented as `new` and inlined by JIT/AOT like new than it could be OK. But if not, than if I want pooled slim dictionary I have to maintain my copy of code.

[2019-04-07 22:24] verelpode opened #2655 "BigInteger deficiencies and solutions"
[System.Numerics.BigInteger](https://docs.microsoft.com/en-us/dotnet/api/system.numerics.biginteger) is really great, except for a few issues that could be easily fixed.

## Nasty conversion from 128-bit integer to BigInteger
Currently, in order to convert a 128-bit integer to BigInteger, it requires the following ugly workaround that creates **4** instances of BigInteger including the 4 internal

[2019-04-07 22:43] verelpode commented on #2655
The last one, MultiplyAdd, is intended to be like:  https://en.wikipedia.org/wiki/Multiply–accumulate_operation

[2019-04-08 00:42] #2655 closed

[2019-04-08 00:42] ahsonkhan commented on #2655
Issue moved to [dotnet/corefx #36682](https://github.com/dotnet/corefx/issues/36682) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-09 01:16] omariom commented on #2652
Interesting approach.
 It is WPF repo
https://github.com/dotnet/wpf/blob/master/src/Microsoft.DotNet.Wpf/src/Shared/MS/Utility/FrugalMap.cs

[2019-04-14 05:51] dzmitry-lahoda commented on #2654
Finalizer may help. With caveat that it runs on background thread and when it throws exception - things look bad. So single thread or thread affined allocators may not work.

[2019-04-15 18:16] pgovind opened #2657 "Optimize binary operations on DataFrame"
The binary operations implemented in [2656](https://github.com/dotnet/corefxlab/pull/2656) are not optimized yet. They are setup to be vectorized/parallelized though. Other optimizations are welcome too

[2019-04-15 18:19] pgovind opened #2658 "Add string support to the DataFrame columns"
[2656](https://github.com/dotnet/corefxlab/pull/2656) only implements primitive data type support. Add support for string columns

[2019-04-15 23:45] ahsonkhan commented on #2657
I created an `area-Microsoft.Data` label for this space. Let me know if that works for you and please use it :)

[2019-04-16 19:49] pgovind opened #2659 "DataFrame: DataFrameBuffer should hold a Memory<T> directly instead of Memory<byte>"
`Buffer.Span` is a cast at the moment for each call. Having a Memory<T> as the backing store would avoid the cast.

Creating this to address feedback from [2656](https://github.com/dotnet/corefxlab/pull/2656)

[2019-04-17 21:32] danmosemsft commented on #2627
@StefanKoell you could probably build one yourself though.

[2019-04-17 21:32] #2627 closed

[2019-04-23 21:33] pgovind opened #2661 "Improve PrimitiveColumn.Round() to take in the number of decimal places"

[2019-04-30 14:55] breyed opened #2667 "Character width context design proposal"
**Proposal:** Define a "character width context" that indicates whether `System.Char` represents a UTF-16 code unit, a UTF-8 code unit, or could represent either. The character widths are designated as "16", "8", and "Any". Character width contexts can be designated at the project or code levels akin to [nullable contexts](https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references#nullable

[2019-05-01 06:07] ahsonkhan commented on #2667
cc @GrabYourPitchforks

[2019-05-09 19:29] Krakean opened #2672 "DictionarySlim arithmetic overflow"
There is a few issues with DictionarySlim.cs mentioned in my comment here - https://github.com/dotnet/corefxlab/pull/2458#issuecomment-491014279

[2019-05-09 19:31] danmosemsft commented on #2672
@Krakean a PR would be easy? I think it would be OK to not have a test for it, since it would require building a new assembly for the test.

[2019-05-13 11:45] Jaygem opened #2675 "Question : How to add corefxlab packages through the dotnet cli/manually"
I can't find any documentations about adding a myget feed manually (i can't use visual studio), so i'd like to know if there's a way to do it without VS.
Thanks in advance

[2019-05-14 00:33] ahsonkhan commented on #2675
The feed is listed here: https://github.com/dotnet/corefxlab#how-to-use

You could add the feed to a NuGet.config file local to your app or within your user app data folder (on Windows - `C:\Users\<user>\AppData\Roaming\NuGet`).

From the dotnet cli, you can do `dotnet restore -s https://dotnet.myget.org/F/dotnet-corefxlab/`

See https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore?ta

[2019-05-14 08:40] Jaygem commented on #2675
Well I don't know why the dotnet restore had no effect but i could use the [link found here](https://github.com/dotnet/corefxlab#how-to-use) this way :
[code]

[2019-05-14 08:40] #2675 closed

[2019-05-14 20:50] pgovind opened #2680 "Consider if DataFrame Binary Ops and Computations need to return a copy"
Returning a copy for every call is inefficient. However it may feel "natural" in a notebook. I'm opening this primarily to have a place to discuss this. Some points:
1. Pandas returns a copy, not that we necessarily have to keep the same semantics
2. If we operate in place, do we need to support an "undo" and/or "redo" of some sort? I'm not sure how "natural" this would feel in a real notebook. My

[2019-05-14 22:59] pgovind opened #2681 "Improve indexing in DataFrame"
Improve the indexing performance in the DataFrame. At the moment, indexing finds the "right" buffer to look up, returns the index of the buffer and then looks up the value in that buffer. This is a remnant of the first design where buffers could be of arbitrary length. The new design enforces(or should enforce) that all buffers are of the same length and that each buffer has to be full before a ne

[2019-05-16 18:13] pgovind opened #2684 "Add strongly typed APIs to DataFrame"
Binary Ops and Computations should have more strongly typed APIs. Generating APIs for all combinations of all column types seems like overkill, but straightforward strong typing seems like a reasonable compromise. For ex:

[code]

[2019-05-20 04:11] iSazonov opened #2685 "Move to latest .Net Core"
Can we move to latest .Net Core 3.0 Preview 5?

There is a compile problems with Json. Perhaps it is a time to remove the code from the lab.

[2019-05-20 05:51] ahsonkhan commented on #2685
I did update recently. See the SDK version that should get installed: https://github.com/dotnet/corefxlab/blob/47818b94f7cf25dad586d171030981ad4d713c65/DotnetCLIVersion.txt#L1

See https://github.com/dotnet/corefxlab/pull/2676.

Are you still seeing issues compiling from head of master? Try building from root (it should install the latest preview 6 SDK).

[2019-05-20 06:16] iSazonov commented on #2685
@ahsonkhan Thanks! I rebased and the new update.

[2019-05-20 07:18] ahsonkhan commented on #2685
Great. Closing the issue.

[2019-05-20 07:18] #2685 closed

[2019-05-20 08:07] iSazonov commented on #2610
@ahsonkhan Can we publish the package?

We measure performance with latest 3.0 Preview6 and there is no performance benefits or regressions.
I believe there can still be made performance improvements but only by experts with deeper skills than I have.

[2019-05-20 08:12] ahsonkhan commented on #2610
Its already available on the corefxlab MyGet feed: https://dotnet.myget.org/feed/dotnet-corefxlab/package/nuget/System.Text.CaseFolding/0.1.1-e190517-1

[2019-05-20 08:28] MelnikovIG commented on #2456
@danmosemsft Hello, when this change will be available in .net core?

[2019-05-20 12:47] Jaygem commented on #2680
What problems would be faced if a DataFrame stored operations rather than the changed states ?

Having both APIs where one returns a copy and the other not could help users with memory usage i think.

[2019-05-20 16:41] danmosemsft commented on #2456
@MelnikovIG right now you need to get the nuget package
https://www.nuget.org/packages/Microsoft.Experimental.Collections

As with anything in corefxlab, it may go into .NET Core proper in future. It depends on things like how widely used the package is, whether we feel good about the implementation and API, whether it feels like a good fit (eg is there a reason why a package couldn't be used inde

[2019-06-03 22:52] GrabYourPitchforks commented on #452
The `Utf8String` type in coreclr / corefx - along with the `System.Text.AsciiEncoding` and `System.Text.UTF8Encoding` implementations - have been enlightened to use vectorization for most operations. I'm resolving this as fixed. If there's something else that needs to be tracked please reopen the issue.

[2019-06-03 22:52] #452 closed

[2019-06-11 05:56] JosefBackovsky commented on #420
Hello. I have issue with The active test run was aborted on dotnet core 3 preview 5.

`The active test run was aborted. Reason: Unhandled Exception: System.ObjectDisposedException: Cannot access a disposed object.
   at System.Reactive.Concurrency.EventLoopScheduler.Schedule[TState](TState state, TimeSpan dueTime, Func`3 action)
   at System.Reactive.Concurrency.Scheduler.<>c__DisplayClass49_0`1.<

[2019-06-14 08:11] YohDeadfall commented on #1912
@tarekgh I would like to take this issue and productize date and time types, but there is a blocker. I need to modify the `DateTimeParse` class to throw an exception if some required part wasn't supplied. Should I copy the whole class, or is there another approach?

/cc @karelz

[2019-06-14 18:23] tarekgh commented on #1912
@YohDeadfall

@mj1856 mentioned in his last comment the following:

This recommend copying the needed tests from corefx and try to use it here. could you please give more details what exactly you are trying to do?

[2019-06-26 23:50] buybackoff opened #2691 "How about making release tag on every important merge or milestone"
I do really want to follow what's preparing next for `corefx`, but physically cannot follow every notification (usually just miss important ones among others). This repo has zero releases. And since this is a "lab" repo, releases could be quite arbitrary for any important change, just make it a `date` or `counter+1`. E.g. when you merged finally `DictionarySlim` or Json stuff, it would be so nice

[2019-06-27 20:46] ahsonkhan commented on #2691
Since this repo has zero releases (like you mentioned), I am not sure if it makes sense to make such guarantees to avoid adding overhead/expectations which this repo doesn't adhere to. What you should be watching is check-ins/announcements/releases in corefx itself since that is where "ship-ready"/"productized" code lives.

Some of the projects within corefxlab may never reach that stage which and