[2017-08-09 21:30] ericstj commented on #1679
One of the problems we have today is that the constructor which takes an Array can accidentally overlap with the constructor that takes params int[] dimensions, which is why we should move all the array methods out.

[2017-08-09 23:53] danmosemsft commented on #1685
Meta question @ericstj (and you likely covered this) but how commonly do you expect users to do arithmetic on these through .NET (as opposed to use them as exchange types, initialize them, or read from them)
My understanding is that in ML scenarios it's common for these tensors to be huge and operations like Contraction one would want to be highly optimized. That's fine we can do that (with hardwa

[2017-08-09 23:55] danmosemsft commented on #1685
Is devirtualization relevant to calls through interfaces or only through virtual calls on concrete types? I'm curious why some of those calls are showing up faster than direct.

[2017-08-10 17:46] danmosemsft commented on #1684
@Taritsyn do you want to contribute a PR?

[2017-08-10 18:02] ericstj opened #1695 "Add support for column-major Tensor layout"
This should be easier now that we're computing in terms of strides.

We should just be able to change the order of the stride calculation to support this and fix a few asserts.

[2017-08-10 18:09] ericstj commented on #1691
This turns out to be a requirement for dealing with real data sets.  We should support at a minimum both CSR and CSC.  These are defined in the following terms:

**values** - one entry for each non-zero value in the tensor, ordered
**cumulative-count**  - for the compressed dimension, gives the count of non-zero values that occur before that index in the dimension
**value-index** - corresponding i

[2017-08-10 18:29] Taritsyn commented on #1684
Here is [my microscopic PR](https://github.com/dotnet/corefxlab/pull/1696).

[2017-08-11 06:53] #1684 closed

[2017-08-11 19:07] ericstj commented on #1691
I plan to change the class heirarchy as follows:

public abstract class Tensor<T>
public class DenseTensor<T> : Tensor<T>
public class CompressedSparseTensor<T> : Tensor<T>

DenseTensor will support either row-major (last dimension with stride of 1) or column-major (first dimension with stride of 1).
CompressedSparseTensor will support either compressed row (CSR) or compressed column (CSC).

We sh

[2017-08-14 16:21] BrennanConroy opened #1704 "Define semantics of value passed to buffer.Ensure"
`WriteableBuffer.Write(...)` can end up passing 0 into `buffer.Ensure` if it skips the fast path which results in an infinite loop and memory "leak"

https://github.com/dotnet/corefxlab/blob/master/src/System.IO.Pipelines/WritableBufferExtensions.cs#L40

@pakrym

[2017-08-15 14:52] ebekker commented on #1311
While there are still various other libraries that to consider as described by the previous post, at least to address my original question about M.E.CLU, it looks like that has been answered.

As described in [this commit](https://github.com/aspnet/Common/commit/2230370a3985fd1bbeebbdd904a3dd348f612d35), M.E.CLU will not be further published as a stand-alone CLI parsing library, effectively deprec

[2017-08-17 17:14] KrzysztofCwalina opened #1709 "Add methods to convert from arrays to Buffer<T>"
We already have the following extension methods converting from arrays to Span\<T\>:
[code]

We should add methods to convert from arrays to Buffer\<T\>:
[code]

[2017-08-20 09:23] asmichi commented on #927
+1, it would be great if we can define common options which can appear before the command.

I'd like to add one point. We can only allow options common to all commands. Consider the following definition:

[code]

If we allowed options not common to all commands, `tool -c grep commit` would be ambiguous because it could be interpreted as both `tool grep commit -c` ('grep' as a command') and `tool c

[2017-08-21 19:52] KrzysztofCwalina commented on #1688
@lloydjatkinson, your code does not work because the watcher gets disposed right after it's started (at the end of the using statement).

[2017-08-21 19:52] #1688 closed

[2017-08-21 19:59] KrzysztofCwalina opened #1711 "Move Buffer<T> and friends to corlib, netstandard, system.runtime"

[2017-08-21 20:01] KrzysztofCwalina commented on #1711
Before the move, we also agreed to do the following cleanup:

1.	Cleanup span/buffer equality APIs (as discussed in review) <= Done (https://github.com/dotnet/corefxlab/pull/1646)
2.	Rename Buffer<T> to Memory<T>
3.	Remove offset from OwnedBuffer.Pin
4.	Remove OwnedBuffer.Add (will submit PR for this soon – using Unsafe.Add - https://github.com/dotnet/corefx/pull/20886)
5.	Remote IsRetainable and

[2017-08-21 20:48] KrzysztofCwalina commented on #1296
this is a duplicate of #1711

[2017-08-21 20:48] #1296 closed

[2017-08-21 23:02] KrzysztofCwalina commented on #1298
Seems like all the items are done.

[2017-08-21 23:02] #1298 closed

[2017-08-21 23:03] KrzysztofCwalina commented on #1439
We will rename Buffer<T> to Memory<T>

[2017-08-21 23:03] #1439 closed

[2017-08-22 19:27] ahsonkhan commented on #1566
@shiftylogic, can we close this issue now?

[2017-08-22 20:17] #1529 closed

[2017-08-22 20:17] #1566 closed

[2017-08-22 20:41] KrzysztofCwalina opened #1714 "API Review Cleanup for System.Text.Primitives"
These are cleanup workitems based on API reviews, and other discussions that we would like to do before moving the component to corefx repo:

- [x] hide byte* and char* parsing APIs. Span APIs should be used instead
- [ ] More datatypes can be formatted than parsed. We should make the parse/format API symmetrical. #1755
- [x] PrimitiveParser has inner types for efficient invariant and hex parsing.

[2017-08-22 20:47] KrzysztofCwalina opened #1716 "Move System.Text.Primitives to Corefx"
- [ ] Move the following types (with dependencies): PrimitiveParser, PrimitiveFormatter, Utf16, Utf32, Utf8
- [ ] The types should move to System.Buffers.dll
- [ ] Most types move to System.Buffers.Text namespace. ParsedFormat moves to System.Buffers

[2017-08-23 10:52] A-And commented on #1510
@migueldeicaza
Could you clarify the `TrimStart ` and `TrimEnd ` functionality?

Were you thinking of Go's `TrimPrefix` and `TrimSuffix` functions (i.e. removing a specified prefix/suffix if present, string is unchanged if not) or more of a managed string's `TrimStart ` and `TrimEnd` (i.e. remove any occurrence of a character in a set passed as an argument)?

[2017-08-23 13:48] andresmoschini commented on #1689
@MichaelSimons, @daveaglick, @bricelam do you think that it could work?

[code]
 Am I missing something? Is there a better approach?

[2017-08-23 14:59] mjp41 opened #1717 "Struct tearing issue with Buffer<T>?"
I have been a bit remis on checking on the progress of `Buffer<T>`.  I just read the code. Is there a struct tearing issue with it? There are a bunch of checks like

[code]

And then they go on to do some unsafe cast based on this.

[code]

But by this point the underlying storage could have been updated to point to an array instead of an `OwnedBuffer`, and thus the method won’t exist on this obje

[2017-08-23 15:35] jkotas commented on #1717
Buffer<T> is unsafe type. It has struct tearing issues, conversions to Span have lifetime issues, ... . It was decided that squeezing every cycle out of it is more important than safety.

I think the problem now is how to explain this in documentation, how to ensure that code that operates on `Buffer<T>` is treated as security risk and gets same level of scrutiny as unsafe code, etc.

[2017-08-24 13:58] MichaelSimons commented on #1689
@andresmoschini - looks reasonable to me.  My preference however would be to bake this into the library as the default behavior.

[2017-08-25 21:52] #1695 closed

[2017-08-26 19:58] ektrah commented on #1566
@ahsonkhan @shiftylogic I was monitoring this issue because some of my test cases fail with the same exception (System.IO.FileNotFoundException : Could not load file or assembly 'System.Numerics.Vectors, Version=4.1.4.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified. **at** `System.SpanHelpers.SequenceEqual(Byte& first, Byte& second, Int32 length)`) w

[2017-08-27 03:20] davidfowl opened #1722 "PipeCompletionCallbacks are root the state object even after callback executes"
I need to look at a dump to see what is rooting the PipeCompletionCallbacks itself but it was making kestrel fail. I had to work around it like this https://github.com/aspnet/KestrelHttpServer/blob/7854c0604a3e6e50a0bea84c4fa9d9e6ca5d7057/src/Kestrel.Core/Internal/HttpConnectionMiddleware.cs#L71-L91.

/cc @pakrym

[2017-08-27 17:36] davidfowl opened #1723 "Add CancellationToken to ReadableChannel<T>"
So that I don't have to convert this task (https://github.com/dotnet/corefxlab/blob/1d690999ac3d4010b282def0cb946bea72a214a3/src/System.Threading.Tasks.Channels/System/Threading/Tasks/Channels/ReadableChannel.cs#L22) to a `CancellationToken` (related https://github.com/dotnet/corefx/issues/23590)

[2017-08-29 11:49] mjp41 commented on #1717
Closing as this is addressed in the PR on CoreCLR: https://github.com/dotnet/coreclr/pull/13583

[2017-08-29 11:49] #1717 closed

[2017-08-29 16:09] KrzysztofCwalina opened #1727 "Support 8859-* Encodings"

[2017-08-29 16:12] KrzysztofCwalina commented on #1091
All of the items except for 8859-* support are done. I created #1727 to track the remaining item and so closing this issue.

[2017-08-29 16:12] #1091 closed

[2017-08-29 16:15] KrzysztofCwalina opened #1728 "Productize System.IO.Brotli"

[2017-08-29 16:25] KrzysztofCwalina commented on #775
Added this as a workitem to #1090

[2017-08-29 16:25] #775 closed

[2017-08-29 16:33] KrzysztofCwalina opened #1729 "Productize System.Binary.Base64"
Probably in this order:

- [x] Move non-obsolete APIs to  ~System.Buffers.dll~ System.Memory.dll in corefx and namespace ~System.Buffers~ System.Buffers.Text
- [x] Port SignalR to the new APIs
- [x] Remove corfxlab project.
- [x] Ensure good test coverage

[2017-08-29 16:34] KrzysztofCwalina opened #1730 "Productize System.Binary Reader/Writer"
- [x] hide public static void RequiresInInclusiveRange(int start, uint length);
- [x] Why don't we have Try* versions of BE and LE?
- [x] Conduct API review
- [x] Move the code to corefx repo into ~System.Buffers~ System.Memory dll and System.Buffers namespace
- [ ] Port SignalR to the new APIs
- [x] Remove corfxlab project.
- [x] Ensure good test coverage

[2017-08-29 16:38] KrzysztofCwalina opened #1731 "Productize System.Threading.Tasks.Channels"
- [x] Clean up API
- [x] Conduct API review
- [ ] Move the package to corfx repo and publish package on nuget
- [ ] Performance work
- [ ] More concurrency-focused testing
- [x] Delete corfxlab implementation

[2017-08-29 16:39] stephentoub commented on #1723
@davidfowl, can you be more specific?  You want to pass a CancellationToken to a ReadableChannel?  You want ReadableChannel to expose a CancellationToken that's canceled when it completes?  Something else?  And specific to ReadableChannel?

[2017-08-29 16:39] KrzysztofCwalina opened #1732 "Productize System.Text.Http.Parser"
- [ ] Replace Kestrel's parser with System.Text.Http.Parsing ensuring no TechEmpower regressions
- [ ] Add non-allocating APIs to the parser: #1733
- [ ] Add HTTP response parser
- [ ] Move the component to corefx repo and publish a nuget package

[2017-08-29 16:46] KrzysztofCwalina opened #1733 "Add non-allocating HTTP parser APIs"
I think we should add the following APIs:
[code]
And the following method on HttpParser and IHttpParser:
[code]
Similarl APIs for IHttpRequestLineHandler

The ranges passed to OnXxx methods would be ranges in ReadOnlyBytes passed to the method. The header names and values could be then materialized on demand using:
[code]

The Range type is located in https://github.com/dotnet/corefxlab/blob/maste

[2017-08-29 21:33] KrzysztofCwalina commented on #1510
This APIs were added by @A-And and merged into master.

[2017-08-29 21:33] #1510 closed

[2017-08-29 22:00] KrzysztofCwalina commented on #358
In general, the workitem is to:
1. Review existing System.String APIs and decide which of these would make sense on Utf8String
2. Design the APIs to be added to Utf8String
3. Implement the APIs.

[2017-08-30 00:40] ahsonkhan commented on #1711
Is this work item solely about removing Memory(T[], int) ctor or are there other constructors we want to add/remove?

[2017-08-30 07:09] davidfowl commented on #1723
This. Specific to ReadableChannel because that's where the Task that represents completion exists today.

[2017-08-30 12:31] stephentoub commented on #1723
Thanks.  I'm hesitant to add another "this is completed property", but I'll think about it some more.  In the meantime, it's of course possible to add one's own Task->CancellationToken conversion: https://github.com/dotnet/corefx/issues/23590#issuecomment-325975594

[2017-08-30 19:06] KrzysztofCwalina commented on #1680
Yes, Buffer<T> (now renamed to Memory<T>) will be in System.Memory.dll, which is an out-of-band package that should work down level.

cc: @ahsonkhan

[2017-08-30 19:09] KrzysztofCwalina opened #1738 "Possible optimization in ToUpper/ToLower"
See comment from @omariom in https://github.com/dotnet/corefxlab/pull/1655#issuecomment-313256683

[2017-08-30 20:25] ericstj commented on #1680
Got it.  I've started playing around with this and think it'll work.  I'll probably have both array and buffer
 (and potentially unsafe T*) overloads for convenience but store as a buffer internally and expose as a buffer for interop.

[2017-08-30 20:28] ahsonkhan commented on #1680
We currently do not have a way to construct `Buffer<T>` from a `T*`.

Yes, that is in the works currently: https://github.com/dotnet/coreclr/pull/13583

[2017-08-30 20:52] stephentoub commented on #1680
I'll re-share my previous feedback that there should be a way to construct a `Buffer<T>` from a `T*` , and ideally without allocation :smile:

[2017-08-30 21:13] KrzysztofCwalina commented on #1680
There is a way to construct Memory<T> from T*, it just requires 50 or so lines of boilerplate code (to create a subtype of OwnedMemory).
We of course should (and will) add such subtype to the platform

[2017-08-30 21:28] KrzysztofCwalina commented on #1680
BTW, if we changed OwnedMemory.Pin and AsSpan to again support ranges (i.e. these two methods taking index and count), we could create a subtype of OwnedMemory that would manage lifetimes of multiple native pointers. This way, using native memory with Memory<T> would not have allocation overhead.

[2017-08-30 21:49] Drawaes commented on #1680
I had this exact discussion with @davidfowler the other night. The problem comes in SSLStream. You pass in a buffer and it decrypts in place. But that means you either slice a new buffer to return where the decrypted data is (allocate a buffer) or pass out an index and count which is just messy. Span doesn't work because it's async and you need to hold the result off stack.

[2017-08-30 22:01] KrzysztofCwalina commented on #1680
@Drawaes, why not use, and slice, Memory<T>?

[2017-08-31 00:08] KrzysztofCwalina commented on #1733
I think we should add the following APIs:

    public interface IHttpHeadersRangeHandler
    {
        void OnHeader(Range name, Range value);
    }

And the following method on HttpParser and IHttpParser:

public bool ParseHeaders<T>(ref T handler, ReadOnlyBytes buffer, out int consumedBytes) where T :  IHttpHeadersRangeHandler

Similarl APIs for IHttpRequestLineHandler

The ranges passed to OnXx

[2017-09-01 19:38] Drawaes commented on #1680
So I was still working in a world were it was buffer and a class ;) so it should be fine with a struct.  Would be nice to have a struct that carries a pin plus the memory but I can write that myself ;)

[2017-09-02 21:05] mj1856 commented on #338
This is pretty much handled now with my [TimeZoneConverter](https://github.com/mj1856/TimeZoneConverter) library, and is a dup of dotnet/corefx#111897 so I'm closing it here.  Thanks.

[2017-09-02 21:05] #338 closed

[2017-09-02 21:14] mj1856 opened #1740 "Promote System.Time to corefx?"
As discussed in aspnet/Mvc#6648, the types in the `System.Time` package would be useful in providing support in MVC tag helpers for `<input type="date" />` and `<input type="time" />` which are in the HTML5 spec.

I see only one open issue, #300, which is a feature request.  Other than this, what are the steps necessary to promote `System.Time` to corefx and make it available on nuget.org?

[2017-09-05 20:16] #1642 closed

[2017-09-07 20:00] #1127 closed

[2017-09-07 20:00] #1723 closed

[2017-09-07 20:19] shaggygi commented on #1127
Thanks @stephentoub

[2017-09-11 20:59] A-And opened #1751 "New UTF8String APIs"
## Rationale
As it stands UTF8String lacks full feature parity with System.String. To help alleviate this and taking Issue #358 as a guideline, below are a number of proposed methods to be added to UTF8String.

## API Proposal

[code]

## Discussion

In the original proposal @krwq mentioned that `+` operator as well as `Remove` and `Replace` methods may cause issues with views of strings. However,

[2017-09-13 19:48] KrzysztofCwalina opened #1755 "Parsers and Formatters should be symmetric"
If a parser can parse a datatype, the formatter should be able to format it, and vice versa.
Right now, the following APIs are not symmetric:

[code]

[2017-09-14 00:15] ahsonkhan commented on #1711
@KrzysztofCwalina, can we consider this work/issue complete? The extension work can be tracked by the api review issue - https://github.com/dotnet/corefx/issues/23862

[2017-09-14 09:34] A-And commented on #1751
@KrzysztofCwalina @ahsonkhan @shiftylogic

[2017-09-14 15:14] KrzysztofCwalina commented on #1711
Yeah, go ahead and close it. Just make sure the extensions issue does not get lost.

[2017-09-14 15:22] KrzysztofCwalina commented on #1751
Thanks. Some questions/comments:

1. System.String is immutable. Do we want Utf8String to be immutable too?
2. System.String can be put on the heap. Utf8String currently cannot. Should Utf8String be heapable?
    - BTW, I think concatenation only makes sense for heapable strings.
3. Do we have APIs to do ToUpper/ToLower?
4. We should consider adding something like String.Split. It would be great i

[2017-09-14 16:34] VSadov commented on #1751
I think Utf8String should be as close as possible to String.  Strings are units of data - want to store/compose them, use as keys in hashtables and so on.

Also it would be useful to have Utf8Extensions that work with ReadOnlySpan<byte> and Span<byte>, if In-place mutating like Replace.

Maybe add similar Utf16Extensions over spans of Char for completeness.

[2017-09-14 19:38] A-And commented on #1751
@KrzysztofCwalina Answers below:

1. It probably should be. I think deviating behavior between Utf8String and System.String is unnecessary and confusing. To that end it would be worth it to change `Remove` and `Replace`  to fit with the System.String API, i.e.

[code]

2.  Heap allocation for `Utf8String` would definitely fit its performance focus, but might be outside of the scope of the issue. W

[2017-09-14 20:32] #1711 closed

[2017-09-14 20:39] migueldeicaza commented on #1751
`Utf8String` needs to be usable on the heap, otherwise its usefulness greatly decreases

I wrote my own version precisely to work around that current limitation:

https://github.com/migueldeicaza/NStack/blob/master/NStack/strings/ustring.cs

The above implementation (ustring) is to a large extent a port of the Go string, and contains some useful features.  Docs here:

https://migueldeicaza.github.

[2017-09-14 20:50] ahsonkhan commented on #1751
From: https://blog.golang.org/strings

The Go language defines the word rune as an alias for the type int32, so programs can be clear when an integer value represents a code point. Moreover, what you might think of as a character constant is called a rune constant in Go. The type and value of the expression
'⌘'
is rune with integer value 0x2318.

That is an interesting term for code point. cc @tar

[2017-09-14 20:53] blowdart commented on #1751
Code point is the phrase in the standards. Just because someone else made something up is not a good reason to use it. Especially as there is an actual runic block.

[2017-09-15 20:29] ebekker commented on #1311
Looks like M.E.CLU has been [reincarnated](https://github.com/natemcmaster/CommandLineUtils/issues/1) ...

[2017-09-16 00:01] migueldeicaza commented on #1751
Some of us lack taste, but we try to learn from the masters.

The same people that came up with "rune" came up with the encoding that revolutionized the Unicode world by introducing the UTF encoding.   This is a great -and completely unrelated- read:

http://doc.cat-v.org/bell_labs/utf-8_history

[2017-09-16 00:29] Drawaes commented on #1751
I had a somewhat similar argument about bigendian network encoding when almost everything is litte endian. The only good reason seems to be "because a million years ago someone said it would be so". And now we have to flip everything that comes off the network......

[2017-09-16 01:18] KrzysztofCwalina commented on #1751
So, what do people think about the following:

[code]

[2017-09-16 01:34] migueldeicaza commented on #1751
If I follow the proposal, is the idea that we would have two data types, one heap-friendly, one stack-only?   I like that plan.

I would like to steal the idea that was used in `Span` recently where a naive implementation was provided for older runtimes, but modern runtimes were made aware of the type and a better implementation was available.

So the idea would be to make Utf8String a class and r

[2017-09-16 01:51] KrzysztofCwalina commented on #1751
Yes.

What would be the representation of the maive representation? An array inside a class? It would mean two GC objects per naive string.

[2017-09-16 02:06] migueldeicaza commented on #1751
Yes, for the native representation it would cause an extra allocation.

[2017-09-16 02:21] KrzysztofCwalina commented on #1751
The difference between fast and slow span is very small. The difference between these two string representations would be very significant. I worry that people would just not want to use it.

[2017-09-16 02:27] benaadams commented on #1751
Is mapping an array inside a struct wrapper to a class too much of a stretch?

e.g.
Older
[code]
Newer
[code]

[2017-09-16 02:34] KrzysztofCwalina commented on #1751
@benaadams, I am not sure I follow.

[2017-09-16 02:36] benaadams commented on #1751
Type forwarding from struct to class; whether it would make things too weird

[2017-09-16 02:42] migueldeicaza commented on #1751
@KrzysztofCwalina we have a high-performance version, it just does not go into the heap ;-)

In a moment of insanity, but mostly because I am going to sleep now and what better end of the day than throwing a grenade and leaving, what if we had "interface IUtf8String" and have "struct SUtf8String : IUtf8String" and "Utf8String : IUtf8String"

/me runs from @benaadams

[2017-09-16 03:00] benaadams commented on #1751
Need a `[CanOnlyBeUsedAsGenericConstraint]` attribute for the interface

[2017-09-16 13:15] ghost opened #1760 "System.CommandLine - Is it possible to strip dependencies?"
Hello everyone,

after experimenting with CLAP: .NET Command-Line Auto-Parser, Command Line Parser Library and Fluent Command Line Parser I finally was pointed to System.CommandLine and instantly setup NuGet and gave it a try and I am pleased that I have found a decent library that wasn't as outdated or bad as the other projects.

Unfortunately NuGet installed a huge amount of dependencies which r

[2017-09-16 16:53] VSadov commented on #1751
I would prefer Utf8String to be a class if at all possible.
Experience with ImmutableArray being struct shows that while perf is good, there is a number of unfortunate scenarios around boxing/interfaces/IntrlockedExchange/nullable and so on.

ImmutableArray could not be no-indirection class without VM support since elements may contain references that must be reported to GC. Utf8String does not ha

[2017-09-16 17:39] jkotas commented on #1751
This is what @migueldeicaza suggested above - modern runtimes could create Utf8Strings that have the string data inlined in the body of the object. It can be done, but it requires runtime support. I do not think we would implement it by patching the vtable - it is dirty and it would not actually work as written above.

I think it would be about the same as difference between slow span and fast spa

[2017-09-16 17:46] jkotas commented on #1751
E.g. The difference on .NET Core x64 is: The fast version allocates `AlignUp(21 + length, 8)` bytes on GC heap and the slow version allocates `AlignUp(49 + length, 8)` on GC heap.

[2017-09-16 17:52] VSadov commented on #1751
Of course the new runtimes can take mplement it natively.

The suggestion above is for "slow" Utf8String on legacy runtimes.
I wonder why VTable patching would not work. Other that it is "dirty" on which i agree.

[2017-09-16 18:09] KrzysztofCwalina commented on #1751
See https://github.com/SixLabors/ImageSharp/issues/327 for an example how some people dislike small differences in performance

[2017-09-16 18:19] jkotas commented on #1751
The GC needs to be able to compute size of on object. Any variable sized objects have to have special vtable that make them variable sized.

Real-world portable libraries tend to have workarounds for both functional and performance issues in older runtimes. There is nothing to like about those, but it is the reality.

[2017-09-16 18:25] KrzysztofCwalina commented on #1751
Yeah, I am not saying that two object string is ano-go, just pointing out that some people are very sensitive about it.

[2017-09-16 18:30] KrzysztofCwalina commented on #1751
Not naive at all, I probably worded it too strong. I was thinking that if people are willing to live with the limitations of a stack only string, they probably would not be happy with concat allocating like crazy.

[2017-09-16 18:47] VSadov commented on #1751
I did not know that variable-sized objects have special vtable. I thought GC knows the size and only needs info about layout to know what objects are reachable from current.
Oh well...

[2017-09-16 23:20] Megasware128 opened #1761 "System.Threading.Tasks.Channels - System.InvalidOperationException 'Collection was modified'"
When using `AsObservable` on `ReadableChannel` and when using the `Where` clause from `System.Reactive.Linq`. `ChannelObservable.ForwardLoopAsync` will throw an exception when this code is running:
`foreach (IObserver<T> observer in _observers)
{
    if (error != null)
    {
        observer.OnError(error);
    }
    else
    {
        observer.OnCompleted();
    }
}`
This is because when `observe

[2017-09-17 19:53] #1761 closed

[2017-09-18 15:47] #1691 closed

[2017-09-18 15:48] ericstj opened #1763 "Sparse tensors should have a sparse-ness abstraction"
I've created SparseTensor (backed by dictionary) and CompressedSparseTensor (backed by arrays).  Both have a concept of non-zero-value-count but don't provide a way to access only non-zero values.

Here are some of the options for API shape:
1. Methods that take an index [0,  ValueCount - 1] and return both the indices and Value at that index.  This is challenging for SparseTensor since Dictionary

[2017-09-18 16:01] KrzysztofCwalina opened #1765 "Make Decimal formatting non-allocating"
TryFormat(decimal ....) is implemented using CLR's ToString, which means it's allocating.
At some point we should implement an non-allocating version.

[2017-09-18 16:16] joshfree commented on #1765
@AtsushiKan @shiftylogic

[2017-09-18 16:17] KrzysztofCwalina commented on #1751
Another option I thought about for slow string: abstract class with multiple implementations like follows:
[code]

But it will make calls on the fast string virtual

[2017-09-18 16:20] stephentoub commented on #1765
The plan for https://github.com/dotnet/corefx/issues/22403 is to add a non-allocating TryFormat methods.  That can be used instead of ToString.

[2017-09-18 17:00] KrzysztofCwalina opened #1766 "Formatters need to throw for formats that are not supported"
For example, the Guid formatter just accepts any format. We need to change it because otherwise we won't be able to add formats in the future.

[2017-09-18 18:51] ericstj opened #1767 "Should n-d Tensors expose a single-dimension accessor?"
The base Tensor<T> type defines a mechanism for transforming n-dimensional indices to a single dimension via strides.

Should we also expose a get/set method that takes the single dimension?

This can save us from duplicating the index calculation and can also provide more efficient setting/translation when a 1-d index has already been calculated.

[2017-09-18 19:26] KrzysztofCwalina commented on #1765
@stephentoub, we need to support UTF8 buffers.

[2017-09-18 19:50] stephentoub commented on #1765
Sure, I'm not sure how my comment goes against that.

The PR added both UTF16 and UTF8 formatting.  For UTF16, the TryFormat method could be used to go directly into the caller-supplied output buffer; non-allocating.  For UTF8, the TryFormat method could be used to go into a stack-allocated `Span<char>`, since you know the longest a decimal can possibly be and it fits easily on the stack, and then

[2017-09-18 21:05] KrzysztofCwalina commented on #1765
@stephentoub, we also want to support existing versions of .net.

[2017-09-18 21:07] stephentoub commented on #1765
In which case we can multi-target and the build against .NET Core can use the newer APIs.

[2017-09-18 21:22] KrzysztofCwalina commented on #1765
What would it buy us? It would just make the packages more complicated (i.e. cross-compiled)

[2017-09-18 21:25] stephentoub commented on #1765
The same thing it generally buys us: not having to re-implement the same functionality, or even if we choose to implement that functionality, getting the benefit of a non-allocating version until we do.  I'm not sure why this is controversial: this whole thread started because you said it's allocating due to using ToString, and all I suggested was being able to use TryFormat instead once it's ther

[2017-09-18 21:35] KrzysztofCwalina commented on #1751
Anyway, I think we all agree that we want Utf8String to be heapable.

@A-And, if you'd like to keep running with this project, please:
1. Rename Utf8String to Utf8Span
2. Add a class called Utf8String that for now just stores an array of bytes (UTF8 coding units). We can optimize it later
3. I think the class class should have roughly the same APIs like the Utf8Span type, in fact, the Utf8Span's i

[2017-09-18 21:41] KrzysztofCwalina commented on #1765
It's controversial because: a) today the package is not-cross compiled, i.e. simple. b) decimal is really here for completeness, i.e. I kind of don't care too much that it's allocating. Note that the rest of the parser are non-allocating already.

[2017-09-18 22:38] A-And commented on #1751
@KrzysztofCwalina Great. Also glad this caused so much discussion.

[2017-09-22 17:17] tannergooding commented on #1751
As a reference, I have a proposal to support declaring UTF8String constants using data declarations here: https://github.com/dotnet/csharplang/issues/909

I believe the only requirement would be that `Utf8String` be allowed to map directly to a some format that contains a length and a byte*

[2017-09-23 09:39] JanEggers opened #1782 "Improve Diagnose Api of (Buffered)Channel"
hi there,

im currently experimenting with System.Threading.Tasks.Channels.Channel.

for perfromance analysis it would be really great if BoundedChannel would be a public type and has properties that express the current buffer fill level.

Right now im using reflection to get that Info but i wonder why you make that an internal. (the info is there via debugview but neither toString or any public a

[2017-09-23 13:36] JanEggers opened #1783 "BytesReader seems not to work correctly"
im using System.Buffers.Experimental 0.10-e170922-1

and i have two issues with BytesReader:

1. Advance and ReadBytes dont increment Index (acording to source it looks fine so i dont know if im missing something)

![image](https://user-images.githubusercontent.com/6747376/30773637-c0720d9e-a074-11e7-914f-782e03b33459.png)

2. When reading more bytes then present i get a nullpointer exception, i w

[2017-09-23 13:46] Drawaes commented on #1783
Bytesreader is a struct right? I would presume you are passing it into a function and reading and then in the outer function it hasn't advanced. You need to pass by ref if this is your situation.

[2017-09-23 14:29] JanEggers commented on #1783
thx man. i passed it in the constructor if my reader if i pass it to every call it works as expected. im not used to structs anymore :)

[2017-09-23 14:29] #1783 closed

[2017-09-23 16:55] Drawaes commented on #1783
👍

[2017-09-25 16:57] jkotas commented on #1765
Right, this is the case today but it is unlikely to be the case once it moves to corefx. All similar packages got cross-compiled very quickly as soon as they are moved to corefx. This one is not going to be exception - folks will want to make it run better on .NET Core using constructs that are available in .NET Core only.

Also, I do not think we will want to have the optimized parsing routines d

[2017-09-25 18:41] GrabYourPitchforks opened #1784 "EncodingHelpers.IsSupportedCodePoint incorrectly disallows noncharacters"
`EncodingHelpers.IsSupportedCodePoint` returns _false_ for values outside the valid Unicode range, for surrogates, and for private-use or noncharacters in the BMP. [Per the Unicode Consortium](http://www.unicode.org/faq/private_use.html) this behavior is incorrect, as private use and noncharacters are perfectly valid in well-formed UTF strings.

If the intent of this method is instead to determine

[2017-09-27 05:53] JanEggers opened #1790 "Endpoints not accessable when using SocketConnection"
System.IO.Pipelines.Networking.Sockets.SocketConnection should either expose the complete underlying Socket as Property or at least the endpoint information of that socket.

[2017-09-27 06:21] #1784 closed

[2017-09-27 11:09] JanEggers opened #1791 "Index out of range while slicing ReadOnlyBuffer"
hi there im having issues with ReadOnlyBuffer.

![image](https://user-images.githubusercontent.com/6747376/30910204-196eb9a8-a384-11e7-94a4-c1004f809826.png)

![image](https://user-images.githubusercontent.com/6747376/30910282-61fa484a-a384-11e7-9bab-0222d1536701.png)

the ReadCursor is at 4018 end is 4032 and im trying to slice 2. why do i get index out of bounds exception? for me the segment in

[2017-09-27 11:40] JanEggers commented on #1791
the issue seems to be that the buffer is not a single span buffer and end.index is smaller than start.index

[2017-09-27 15:31] ericstj commented on #1767
I plan to do this.  I'll make the this[Span<int>] accessor virtual and have it call Get|SetValue(int index), which is abstract.

[2017-09-27 15:33] ericstj commented on #1763
For accessing indices I plan to return those in linearized form (processed with strides) which can be used once we add https://github.com/dotnet/corefxlab/issues/1767

[2017-09-27 15:40] ericstj opened #1793 "Consider dynamic growth of tensors along the outermost dimension"
This is interesting when you start thinking about tensors as a holder for record data.  The act of adding a record is growing the tensor by one in the record dimension.

We already have Resize that permits an inplace resize, but this requires that the backing storage be identical.

We should consider a new method (or potentially a creation mode) that can allow for the addition of many new rows/col

[2017-09-27 16:01] ericstj opened #1794 "Consider a data type that has similar characteristics to Tensor but can handle heterogeneous data"
Basic idea is a DataTable that is more friendly to interop.  It could be composed of tensors.

Python uses a Pandas DataFrame.

An open standard for such a format is https://arrow.apache.org/

An implementation of this in python (and a few other languages) is feather https://github.com/wesm/feather.  We could create .NET bindings for feather or implement arrow ourselves in .NET.  It could be compo

[2017-09-28 16:19] migueldeicaza commented on #1751
I am so happy to hear about the move for Utf8String to become heapable @KrzysztofCwalina!

[2017-09-28 18:37] KrzysztofCwalina commented on #1751
I am so happy you are pushing for UTF8 string in general @migueldeicaza! :-)

[2017-09-28 20:32] ericstj commented on #1680
So I'm getting back to this and I see now that Buffer (now Memory<T>) doesn't have an array accessor.  Is the idea that you grab the Span and access with that?

If I'm going to be doing a lot of accesses would it make sense to get a pointer out of the span and interact with that instead?

In my scenario Slicing isn't important so I wonder if I end up paying overhead wrapping an array in a Memory o

[2017-09-28 20:35] ahsonkhan commented on #1680
Yes

You shouldn't need to get the pointer. Span indexer should be fast (at least for fast span).
cc @jkotas

[2017-09-28 20:39] ericstj commented on #1680
Got it, just wanted to understand best practice.  Do you suppose it matters that I'm also making this work on desktop where we won't have fast span?  I suppose we can measure that when we get there.

[2017-09-28 20:42] jkotas commented on #1680
It is the similar trade off as indexing into array vs. pinning the array and using unsafe pointers to avoid bounds checks.

[2017-09-28 20:48] ahsonkhan commented on #1680
This is a good question. I am not certain which approach would be best. I am leaning towards using Span since it is meant to cover such a scenario and provide value to developers. If there are performance concerns with using Span for your scenario, we should address them.

cc @KrzysztofCwalina

[2017-09-28 20:51] ericstj commented on #1680
I thought the JIT would understand array indexing inside a loop and avoid method calls and bounds checks even though the array wasn't pinned, where with Span I'll have both.

Ultimately this is all hypothetical and I need to try it out and measure to see if it matters.  It sounds like folks are saying: use Memory/Span and don't pre-emptively optimize.  I'll give it a try and let you know.

[2017-09-28 21:01] jkotas commented on #1680
For fast Span (ie .NET Core today), the JIT does the exact same optimizations (bounds check removal, etc.) as for arrays. It understands the span indexing the same way as array indexing.

[2017-09-29 01:08] KrzysztofCwalina commented on #1680
You can read about the bounds checks optimizations at https://github.com/Microsoft/dotnet-blog/pull/256

[2017-09-29 16:17] ericstj commented on #1680
Thanks folks.  I want to make it clear that I'm aware of the optimizations that are happening, but its always good to have that information.

I'm pointing out that a good percentage of the customers of this library will not have fast-span, so I'll be moving from an array-based implementation (where they did get bounds check optimizations) to slow-span (where they will not get bounds check optimiza

[2017-09-29 16:26] jkotas commented on #1680
You should use Span or Memory as exchange type - not matter whether it is slow Span or fast Span.

If you find bad performance bottlenecks in particular methods with slow Span, you can optimize them using unsafe as necessary. These should be local optimizations. They should not affect overall design of the library.

FWIW, ASP.NET Core Kestrel in .NET Core 2.0 shipped with their own local copy of s

[2017-09-29 16:31] ericstj opened #1798 "Is Tensor arithmetic really needed for V1 (or future?)"
The scenarios we're aiming at in V1 have tensor as primarily an interop type: a way to safely pass dense and sparse multi-dimension data without copy, yet still access from the managed side.  We're not planning for heavy computation on tensors in managed code.

As such, we may want to scope out the math operators for v1.

[2017-09-29 22:20] GrabYourPitchforks opened #1799 "Introduce new primitive type System.Utf8Char"
While looking at the encoding and transformation APIs I noticed that all data is represented by `Span<byte>`. I believe this behavior to be incorrect because it doesn't draw a distinction between textual data (data that consists of letters, symbols, and graphemes) and binary data (data that consists of arbitrary octets). I believe that if we just expose all data - both textual and binary - as `Spa

[2017-09-30 06:16] JanEggers opened #1803 "InvalidOperationException while reading a pipe with maximumSizeHigh"
Advancing examined to the end would cause pipe to deadlock because FlushAsync is waiting
 bei System.IO.Pipelines.PipelinesThrowHelper.ThrowInvalidOperationException(ExceptionResource resource, String location)
   bei System.IO.Pipelines.Pipe.System.IO.Pipelines.IPipeReader.Advance(ReadCursor consumed, ReadCursor examined)

i get this exception while reading from a pipe created with maximumSizeHig

[2017-09-30 18:37] JanEggers commented on #1791
i switched to ReadableBufferReader and now the issue is more clear. the end of the buffer is set wrong by System.IO.Pipelines.Socket.SocketConnection. the reader has readcursor at index 3116 with end = true but the read result (input) of the socket pipe says end is readcoursor at 3120 but that does not have IsEnd = true so i suppose the endcoursor of the readbuffer produced by the socket is wrong.

[2017-09-30 18:47] davidfowl commented on #1791
@JanEggers just FYI, we have no plans to ship:

- System.IO.Pipelines.Networking.Libuv
- System.IO.Pipelines.Networking.Sockets
- System.IO.Pipelines.Networking.Windows.RIO

These implementations exist to help push the design of pipelines forward but the true implementations will ship as part of the bedrock effort described here https://github.com/aspnet/KestrelHttpServer/issues/1980.

We should s

[2017-09-30 18:50] JanEggers commented on #1791
im just experimenting with the bits i can find until the rock rocks

[2017-09-30 18:51] davidfowl commented on #1803
If you're getting that exception it means that you keep advancing without consuming anything. Are you're trying to parse a length prefixed payload?

[2017-09-30 18:54] davidfowl commented on #1791
Kewl. Also you might want to look at https://github.com/aspnet/KestrelHttpServer/blob/bb9840a5529405fb0a78d8acf748e9390786e9b0/src/Kestrel.Core/Internal/Http/HttpParser.cs to see how a very fast parser can be written using pipelines APIs today.

[2017-09-30 19:06] JanEggers commented on #1803
i consume bytes in that case.

![image](https://user-images.githubusercontent.com/6747376/31048680-9e1a749e-a622-11e7-9791-4876d7ab4444.png)

the code is at
https://github.com/JanEggers/MQTTnet/tree/system.io.pipelines

if you enable the test at https://github.com/JanEggers/MQTTnet/blob/603313353089e8d274c49563fd645075eacf58eb/MQTTnet.TestApp.NetCore/PerformanceTests/PerformanceTestSelector.cs#L31

[2017-09-30 19:45] JanEggers commented on #1803
found the issue myself :) problem was that i didnt provide maximumSizeLow and default is 0 so the writer was never sheduled when reading. so maybe the constructor of the pipe should verify the options so that if max is provided min must be > 0

[2017-09-30 21:16] JanEggers commented on #1791
my fault after all, reader.end == input.end, the issue was my parser that calculated the remaining bytes based on reader.Index and not reader.ConsumedBytes. for me it would have been less confusing if the reader has a Length property with the length of the buffer or Index could be renamed to IndexInCurrentSpan like the Span property should be CurrentSpan to indicate it is not the complete span, or

[2017-10-01 18:08] fanoI commented on #1799
Hmm but an Uft8 "char" can really be more than a byte how you will represent this as an alias of Byte?

[2017-10-02 15:10] jaredpar commented on #1751
Why are we using `byte[]` as the storage here instead of `Memory<byte>`.

[2017-10-02 15:38] KrzysztofCwalina commented on #1751
I agree. We should consider Memory<byte>.

[2017-10-02 15:51] jkotas commented on #1751
Memory would add 8 more bytes to the instance footprint and it would make primitive operations like indexing significantly slower...

[2017-10-02 16:24] KrzysztofCwalina commented on #1751
We need to decide if we copy the data in the ctor or not. If we don't copy, Utf8String will not be immutable.  If we do copy, we can take Memory<byte>, or even Span<byte>.

[2017-10-02 17:22] KrzysztofCwalina opened #1807 "Binary Write/Put/Poke/Set and Read/Peek/Get"
cc: @ahsonkhan, @stephentoub, @davidfowl, @weshaggard, @terrajobst, @joshfree, @AtsushiKan, @pakrym, @anurse, @GrabYourPitchforks, @ianhays, @bartonjs, @benaadams

Today, [Binary](https://github.com/dotnet/corefxlab/blob/74ca8904031daf2d734104b90a6a5dadd22285c0/src/System.Binary/System/Binary/BufferReader.cs#L7) class has methods named Read/Write, e.g.
[code]

During the API review people commente

[2017-10-02 17:23] KrzysztofCwalina commented on #1807
[code]

[2017-10-02 17:23] KrzysztofCwalina commented on #1807
[code]

[2017-10-02 17:23] KrzysztofCwalina commented on #1807
[code]

[2017-10-02 17:23] KrzysztofCwalina commented on #1807
[code]

[2017-10-02 17:24] KrzysztofCwalina commented on #1807
[code]

[2017-10-02 17:30] benaadams commented on #1751
Copying leads to user behavior side effects.  For example with string, creating N size and mutating in place with `fixed` at creation :pensive:

Shady non-(additionally)-allocating approach (data written 1 time):

1. Fast allocate empty string size N (`new string('\0', N)`) - Pre 0-init
2. Fix string
3. (Write) Write N chars

Alternative non-(additionally)-allocating approach (data including zeroi

[2017-10-02 17:39] KrzysztofCwalina commented on #1751
we could solve the problem with something like: https://github.com/dotnet/corefx/issues/21472
[code]

[2017-10-02 17:41] KrzysztofCwalina commented on #1751
If we only had function pointers, i.e. allocation free delegates :-)

[2017-10-02 17:44] tannergooding commented on #1751
@KrzysztofCwalina, there is a championed proposal that would add such functionality: https://github.com/dotnet/csharplang/issues/302

I just don't know where it is in the priority queue for language features

[2017-10-02 18:06] ycrumeyrolle opened #1808 "Consider implementing Base64url transformation"
Base64url is widely used by web applications.
Current implementations are based on base64 encoding then replacing characters and trimming padding.
It can be optimized by directly implementing the base64url specifics within the main transformation loop.

[2017-10-02 18:16] anurse commented on #1807
Agreed with the name confusion on `Write`. I think I would lean towards `Set` (I'm not too worried about the confusion around replacing the whole span, it's got "32 bits" right in the name so I'd assume it would fill the first 32 bits only) or `Put`. I'd love to have `Poke` but I think other than the nostalgia, it's not a very approachable name :)

[2017-10-02 18:20] benaadams commented on #1807
`Set` (or `Put`)

However, this should definitely exist 😉
[code]

[2017-10-03 00:07] migueldeicaza commented on #1751
My take is that we should not copy, this is what I did for ustring.   A convenience method could be used by those that desire a copy of the data to take place.

That design decision has the side effect of making `Utf8String` a proxy for interpreting data encoded in Utf8 format.    This also means that like `NStack.ustring` it should also allow for invalid UTF8 data to be specified, and provide the

[2017-10-03 02:08] tannergooding commented on #1751
I think forced copying would also provide a perf hit for UTF8 string literals (https://github.com/dotnet/csharplang/issues/909), if they (or some variation) get championed/approved in the future.

I will say, no matter which is the default (copying or not), there should be an API that explicitly allows the other to be possible.

[2017-10-03 03:39] GrabYourPitchforks commented on #1808
Ideally we'd support base64, base64url, and hex transformations as the first batch when the transformation API design is finalized.

[2017-10-03 15:34] #1767 closed

[2017-10-03 15:36] ericstj commented on #1679
Fixed with https://github.com/dotnet/corefxlab/pull/1806

Span APIs will be tracked with https://github.com/dotnet/corefxlab/issues/1680

[2017-10-03 15:36] #1679 closed

[2017-10-03 15:36] ericstj commented on #1678
Fixed with https://github.com/dotnet/corefxlab/pull/1806

[2017-10-03 15:36] #1678 closed

[2017-10-03 18:04] GrabYourPitchforks commented on #1799
@fanoI `Utf8Char` is intended to be treated as an 8-bit _code unit_ (see http://www.unicode.org/glossary/#code_unit), similarly to how `System.Char` is intended to be treated as a 16-bit code unit. Neither is guaranteed to be an actual _character_ in the linguistic sense.

[2017-10-03 20:03] pakrym opened #1811 "Capture exception via ExceptionDispatchInfo instead of just rethrowing it"
/cc @halter73

[2017-10-03 22:15] KrzysztofCwalina commented on #1799
This proposal seems to imply that Utf8Char has value because it is a "validated code unit"
But:
a) As you observed, Span<byte> can be just cast to Span<Utf8Char> so the consumers cannot simply assume that validation has happened.
b) I am not sure it's interesting to know that a single code unit is validated. I think it would be more interesting to know that a sequence of such code units represents

[2017-10-03 22:27] BrennanConroy opened #1813 "Channel.WaitToReadAsync ignores cancellation token when there are items in buffer"
https://github.com/dotnet/corefxlab/blob/9ac45562a90a46201d15cf17c3b538ebbdbb013c/src/System.Threading.Tasks.Channels/System/Threading/Tasks/Channels/UnboundedChannel.cs#L117-L119

Generally expected behavior when a token is cancelled is for methods to throw, but here it will check the item buffer and short circuit without checking the token if an item exists.

[2017-10-04 00:57] GrabYourPitchforks commented on #1799
@KrzysztofCwalina

It's not quite a "validated code unit". Consider the existing behavior that .NET has regarding `byte[]`, `char[]`, and `String`. Today, pretty much all factories that create `String` (or `char[]`) instances from an incoming `byte[]` will ensure that the output is well-formed. _Even if using a UTF-16LE decoder_, the conversion from `byte[]` to `char[]` performs validation rather

[2017-10-04 01:19] GrabYourPitchforks commented on #1799
BTW, for library or framework developers, you could imagine a convenience API that switches between the two.

[code]

The exact shape is TBD, but the idea is that if the input is well-formed UTF8, it would simply re-cast the `Span<byte>` to a `Span<Utf8Char>`; and if the input is malformed UTF8, it would allocate a `Utf8Char[]` under the covers where all invalid code units have been converted to `

[2017-10-04 02:18] stephentoub commented on #1813
FWIW, I did this on purpose for performance reasons.  If you look back through the commit history, there's a PR somewhere where I made all of the channels consistently check for data first before checking for cancellation.

[2017-10-04 03:14] BrennanConroy commented on #1813
Oh. It's just unexpected, the issue I ran into with it is very easily worked around, just wanted to raise an issue because of how odd it seemed.
________________________________
From: Stephen Toub <notifications@github.com>
Sent: Tuesday, October 3, 2017 7:18:55 PM
To: dotnet/corefxlab
Cc: Brennan Conroy; Author
Subject: Re: [dotnet/corefxlab] Channel.WaitToReadAsync ignores cancellation token whe

[2017-10-04 11:36] ektrah commented on #1799
(A better name might be `Utf8CodeUnit`. See D77 of the [Unicode Standard](http://www.unicode.org/versions/Unicode10.0.0/ch03.pdf).)

[2017-10-04 15:57] KrzysztofCwalina commented on #1799
I have to say I still don't understand the value of this type. i.e. what guarantees does it give you above byte?

Here I am treating arbitrary byte[] ats UTF8:
var text = Encoding.UTF8.GetString(new byte[] { 255 });

So, I don't think we can prevent developers from "treating arbitrary byte[] as UTF8", nor it's probably the goal you had in mind. And so, I would love if we articulated very precisely

[2017-10-04 17:24] GrabYourPitchforks commented on #1799
That's a fair point. I don't think I have elucidated the scenario very well. Give me some time to collect my thoughts and we can discuss.

FWIW, as described earlier I'm not concerned about the scenario where the developer intentionally splits a valid Span in such a way as to create a new invalid Span.

[2017-10-04 18:36] #1811 closed

[2017-10-04 21:41] ericstj opened #1816 "Tensor should be in System.Numerics.Tensors namespace"
This was feedback from the API review.  Folks don't want us to put this in the root Numerics namespace.

[2017-10-04 21:49] ericstj opened #1817 "Consider supporting TensorFlow's sparse tensor shape"
https://www.tensorflow.org/api_docs/python/tf/SparseTensor

They just use two parallel arrays to represent the elements. 1-D for values: n length where n is number of non-zero values.  2-D for indices: n * Rank where n is number of values and Rank is the rank of the tensor (and individual indices are stored).

Unlike our sparse representations they don't combine the indices into a single value via

[2017-10-05 00:47] davkean commented on #245
We should close this one in lieu of https://github.com/dotnet/corefx/issues/20378.

[2017-10-05 00:47] #245 closed

[2017-10-05 09:29] 4creators commented on #1817
IMHO supporting data types available in most popular AI frameworks should be very high on a priority list. This is in particular important for tensors and unfortunately missing from dotnet Half (binary16) or even Quart (?) (binary8).

[2017-10-05 18:11] ericstj opened #1819 "Tensor slicing"
The scenario is that you have a Tensor and want to provide a slice of it as another Tensor.

The slice could take a number of forms:
1. n-d Tensor, slice to n-1-d where value for reduced dimension is passed in.  EG: give a tensor for row 5.
2. Slice a range of an n-d Tensor to an n-d Tensor.  Similar to above but over a range. EG: give a tensor for rows 3-6.

It's possible to have more than one sl

[2017-10-05 18:30] ericstj commented on #1817
Data types are a different pivot than layouts.  Currently Tensor<T> supports any T you want to use with it including a user-defined struct of the appropriate size which can be a stopgap to support  any native type that happens to be used by a backing framework.

Note that Tensor is specifically being designed to be an out-of-band component to represent multi-dimension data. It's not the right plac

[2017-10-05 18:39] ericstj opened #1820 "Add slow reflection-based generic tensor arithmetic"
Currently we have no fallback for a T that we don't understand in the Tensor arithmetic methods, we'll just throw.

We could instead construct a ITensorArithmetic that uses reflection to locate operators on that type.  This is slow for a couple reasons:
1. Built in types have operators that the JIT understands and replaces with instructions rather than method calls.
2. We have to use reflection to

[2017-10-05 20:08] #1680 closed

[2017-10-05 20:57] ericstj opened #1821 "Add interop samples to System.Numerics.Tensors"
We should add some samples that demonstrate interop use cases for Tensors.

I haven't done this yet because I haven't looked in to how to build a native DLL in corefxlab.  We could just fake it and write some managed code that behaves like native (using pointers calling VirtualAlloc and what not).

The scenarios we should demonstrate are as follows:
1. Pass managed heap allocated tensor to native

[2017-10-05 22:55] 4creators commented on #1817
@ericstj
Absolutely agree, but my remark was intended to show importance of coordinated support by dotnet of new primitive types required by AI in addition to OOB components like Tensor.

[2017-10-06 22:16] BrennanConroy opened #1824 "Add CancellationToken to StreamPipeConnection.CreateReader"
When the `AsPipelineReader` Stream extensions were removed the cancellation token version wasn't replaced by `StreamPipeConnection.CreateReader`. We were going to use this in SignalR once we started consuming newer bits.

Old API:
https://github.com/dotnet/corefxlab/blob/56763dba0a1c0672c48ab48a8cf5ca768970951e/src/System.IO.Pipelines.Extensions/StreamExtensions.cs#L48

New API:
https://github.com

[2017-10-06 23:23] pakrym opened #1825 "Consider throwing on Writer.Complete() during FlushAsync()"
/cc @davidfowl @halter73

[2017-10-07 19:11] benaadams opened #1831 "Investigate branchless Utf8 Decoder"
http://nullprogram.com/blog/2017/10/06/

https://github.com/skeeto/branchless-utf8

Needs 4 bytes in buffer

/cc @KrzysztofCwalina

[2017-10-07 19:21] davidfowl commented on #1831
I just emailed this to people 😬

[2017-10-08 07:23] benaadams commented on #1831
Discussion https://news.ycombinator.com/item?id=15423674

[2017-10-10 21:51] masonwheeler opened #1837 "Broken link in Span documentation"
In [the `Span<T>` documentation,](https://github.com/dotnet/corefxlab/blob/master/docs/specs/span.md) it talks about a `Memory<T>` type that makes `Span<T>` easier to use, and includes a link to an implementation.  This link resolves to a GitHub 404 page, as do all the subdirectories above it for several levels.

[2017-10-10 21:58] Drawaes commented on #1837
It's probably because they moved to core proper ;)

[2017-10-10 22:16] masonwheeler commented on #1837
@drawaes In that case the documentation should be updated to reflect that.

[2017-10-11 01:59] ahsonkhan commented on #1837
Other links need to be updated too, such as:

[2017-10-11 22:31] Drawaes opened #1838 "Pipelines Writer .... Please bring back BytesWritten"
This was removed from the API review, but its pretty critical and here is why....

You have a framing method that has a size header.

You call a bunch of functions to "write" data into the frame

You exit said functions and now you need to write a footer or back in the header the size of the frame.

How do I know how much I have written?

I have to add a return value from every method that writes

[2017-10-11 22:36] davidfowl commented on #1838
/cc @pakrym

[2017-10-11 23:20] Drawaes opened #1839 "Pipelines bring back the AsReadable on the writer"
Kinda linked to #1838

If you again are writing several layers deep, then at the end you need to say sign the data (hash, or CRC etc) there is no way to get it back. You have to pass around a hash object and write to that for every write....

This makes me sad... can we have it back?

[2017-10-12 18:48] TimLovellSmith opened #1841 "priority queue spec should define decrease-key or some other priority update functionality"
Re: https://github.com/dotnet/corefxlab/edit/master/docs/specs/priority-queue.md

The spec currently leaves as an open questions whether to support updating keys in PriorityQueue class. To close on this question... Yes! Updating priorities, especially decreasing them is important!

It is a generally useful operation, and it is possible to optimize special cases (mainly decrease key) enough, that i

[2017-10-12 19:08] ppcuban commented on #1813
Shouldn't this issue be closed?

[2017-10-12 20:56] pgolebiowski commented on #1841
Please go through the frightfully long discussion over here: https://github.com/dotnet/corefx/issues/574. You'll see voices for and against. I've been fighting for this feature for a long time. Feel free to contribute to the discussion (better post your thoughts **here** rather than in that long thread though [just reference it]). 😄

[2017-10-13 00:39] TimLovellSmith commented on #1841
Recapping, I think some key contentious points related update are:

-worry about how update should work when there are duplicate elements (which we think sometimes we want to support). Is updateFirst weird?
-somewhat unclear where the argument for/against supporting duplicates landed in the first place
-worry that it might be inefficient to have an additional lookup data structure for finding elem

[2017-10-13 00:44] stephentoub commented on #1813
Not if it's surprising enough that we want to change the implementation.

[2017-10-13 16:54] KrzysztofCwalina opened #1844 "Remove Binary type now that we have BinaryPrimitives in corefx"
Maybe we should leave the assembly though. We can use it to experiment with a ref struct reader that advances as it reads

[2017-10-16 16:43] eerhardt commented on #1798
from @ericstj

[2017-10-16 16:45] ericstj commented on #1798
Above is because I've found that the arithmetic tests (esp contraction/multiplication) provide good high-level coverage for the library, so if we drop the operators and static methods from the public surface we should put the static methods in the test assembly and have the tests use them.

[2017-10-16 18:11] ericstj opened #1846 "Consider tensor construction from vector subscripts (eg: indices sequences)"
Fortran has a concept of creating a new array from a subset of indices in another array.  See https://software.intel.com/en-us/node/678553.  We could expose similar functionality on tensor.

Related #1819

[2017-10-16 18:19] ericstj opened #1847 "Consider specification of lower bounds as an option for Tensors"
Some folks may want 1-based indexing, or even negative-based indexing (eg: for scratch space or representing a discrete function that can have negative values).  We could make this an option on construction.

If we did, we may want to roll dimensions/strides(/isReversedStride)/lower-bounds into a class that represents the tensor layout.

[2017-10-16 18:21] ericstj commented on #1682
Dependent on #1798

[2017-10-16 18:21] ericstj commented on #1683
Dependent on #1798

[2017-10-16 18:21] ericstj commented on #1685
Dependent on #1798

[2017-10-16 18:22] ericstj commented on #1686
I've done this in quite a few places when switching to use Span/Memory.

[2017-10-16 18:22] #1686 closed

[2017-10-16 18:22] ericstj commented on #1820
Dependent on #1798

[2017-10-16 20:54] ericstj opened #1849 "Add documentation markdown in the Tensor folder"
We need to summarize the purpose and use cases of Tensor in the System.Numerics.Tensor folder along with some basic usage samples.

[2017-10-17 20:14] halter73 opened #1855 "ReadCursor.BoundsCheck does not take into account start of Segment"
We think [this](https://github.com/dotnet/corefxlab/blob/56763dba0a1c0672c48ab48a8cf5ca768970951e/src/System.IO.Pipelines/System/IO/Pipelines/ReadCursor.cs#L288-L294) should instead be:

[code]

Here's some debug watch window output from when a call to Slice in Http1Connection.ParseRequest in Kestrel threw a "Cursor is out of bounds" InvalidOperationException. @pakrym.

[code]

[2017-10-18 02:24] #1844 closed

[2017-10-18 02:32] ahsonkhan commented on #1730
@KrzysztofCwalina, @muratg, @pavel, this is the only thing left for this work item. Can we consider this issue complete?

[2017-10-18 02:35] ahsonkhan commented on #1709
Since Memory\<T\> is in corefx now, closing this issue as duplicate and will address it there.
I added this to the relevant corefx issue: https://github.com/dotnet/corefx/issues/23862#issuecomment-335662784

[2017-10-18 02:35] #1709 closed

[2017-10-18 15:35] KrzysztofCwalina commented on #1730
I would wait till SignalR is actually ported. It's a good validation for the API

[2017-10-18 20:14] muratg commented on #1730
@moozzyk @BrennanConroy FYI

[2017-10-19 09:24] #1791 closed

[2017-10-19 16:24] ericstj commented on #1819
Here's a real example of the second scenario.

Given a 2-dimensional image represented as a tensor, suppose we wish to crop to a portion defined by rectangle ((100, 600), (200, 800)).  This is really two slicing operations where we slice the first dimension from (100, 600) and the second dimension from (200, 800).

[2017-10-19 22:23] mj1856 commented on #1740
@tarekgh @dougbu

[2017-10-19 22:28] dougbu commented on #1740
/cc @DamianEdwards

[2017-10-20 16:19] ericstj opened #1867 "Make indicies stepping more effecient"
In many cases we do operations using only the linearized index.   There are cases where we instead need to use an indices array/span.  In these cases we should step the indices array rather than continuous composing/decomposing indices from a linearized index.

[2017-10-20 19:54] ericstj commented on #1798
Another thought on this.  Although it is neat to be able to use operators on these its actually a bit scary and non-intuitive when you start thinking about very large arrays.  We could instead only ship the static methods, which could be provided in this assembly (or even in another assembly).

[2017-10-20 19:56] ericstj opened #1869 "Add parameter validation to Tensors"
We should add parameter validation to most of the public and protected API.  We should think about which APIs explicitly need to avoid parameter checking (eg: GetValue/SetValue) for performance and document them as such and potentially change the names.

[2017-10-23 11:51] YohDeadfall opened #1870 "Simplify name of the TimeOfDay struct"
I suppose, it makes sense to rename the `TimeOfDay` struct to `Time`. `Time` is more simple and common name for that type, and there are no classes or namespaces called `Time` in .NET Core and .NET Core Lab (except the `System.Time.Properties` and `System.Time.Tests` namespaces, but they are internal) which will lead to name collisions.

Just a few standards where that type called `time`:

- XSD [

[2017-10-23 19:09] mj1856 commented on #1870
The rationale for `TimeOfDay` name was:

- To distinguish from `TimeSpan` - which is primarily intended for elapsed duration rather than 24-hour clock time.
- To distinguish from the package name, `System.Time` - which is being used as an umbrella term rather than any referring to any particular component.

I'm fine with discussing / debating the merits of changing the struct name to just `Time`.

[2017-10-23 20:23] YohDeadfall commented on #1870
- Yes, currently developers use `TimeSpan` to store time because they have no alternative. But `TimeSpan` has the `Span` suffix which means range or interval. `Time` have no suffix so it's just time without date part. The summary says that too. So developers should understand what is the `Time` structure and be happy to have it.
- I don't think that umbrella is really needed, because the current p

[2017-10-24 17:25] ericstj opened #1876 "Implement generic interfaces on Tensor<T>"
Also look at what's exposed by T[,] and make sure we have everything.

Originally I just looked at Array so I was missing all the generic interfaces.

[2017-10-24 18:09] YohDeadfall commented on #1870
Maybe the types should be moved to .NET CLR. They are most wanted, and many things will depend on them. Then the problem with distinguishing from the package name will be eliminated.

[2017-10-24 19:10] #1821 closed

[2017-10-24 22:19] eerhardt commented on #1819
Here's an experiment as a step towards this

https://github.com/ericstj/corefxlab/commit/870d7b8a22b432d362b783f501d510ce98ceffaf

[2017-10-24 23:12] mj1856 commented on #1740
Also, when we originally discussed this proposal back in 2005 (see dotnet/corefx#2116), it seemed that a `System.Time` nuget package was the appropriate course of action.  But now here we are two years later, and the world has changed a bit.  It seems that it may be more appropriate for this to land in the `System.Runtime` package, which is where `DateTime`, `DateTimeOffset`, `TimeSpan` and `TimeZ

[2017-10-24 23:13] mj1856 commented on #1740
We should also get consensus on #1870 before doing so.

[2017-10-24 23:50] YohDeadfall commented on #1870
So, the `System.Time` package is eliminated.

[2017-10-25 00:26] mj1856 commented on #1870
If there is agreement about merging to `System.Runtime`, then yes.  Still, I'd like some other opinions here.  If none, then I'll bring up the name options when pitching to the main corefx repo.  Thanks.

[2017-10-25 09:37] drieseng commented on #1740
Some questions/remarks:

**System.Date**
* Why are there no addition and subtraction operators (but instead we have `MonthsSince(Date)`, `MonthsUntil(Date)`, `DaysUntil(Date)`, ...)?
* Why is there no support for the optional timezone designator in [xs:date](http://www.w3.org/TR/xmlschema-2/#date)?
* Will WCF (client and eventually server) be updated to support mapping **xs:date** to **System.Date

[2017-10-25 09:51] benaadams commented on #1870
Could call the package `System.DateAndTime`?

`Time` vs `TimeSpan` are fine, they both work as described

[2017-10-25 09:55] benaadams commented on #1870
Or following on from https://github.com/dotnet/corefxlab/issues/1740#issuecomment-339273498

Could add both types?

`Time` - Timezone neutral time
`TimeOfDay` - Time including timezone

[2017-10-25 11:53] YohDeadfall commented on #1870
But what's about `Date` with timezone? `TimeOffset` and `DateOffset` would be more preferable because of the `Offset` suffix which `DateTimeOffset` has.

From https://github.com/dotnet/corefxlab/issues/1740#issuecomment-339273498

[code]

Also the `DateTimeKind` should be stored in `Time` and `Date` like in the `DateTime` struct ([source](https://github.com/dotnet/coreclr/blob/980def6282c9c64d38a2

[2017-10-25 18:21] halter73 commented on #1855
@pakrym I think you should close this. The relevant PR is dotnet/corefxlab#1860.

[2017-10-25 18:25] #1855 closed

[2017-10-26 03:56] mj1856 commented on #1740
@drieseng - great questions.  Thanks!

There are no addition/subtraction operators between two `Date` objects because adding two `Dates` would be a meaningless operation, and subtracting two dates would require a type capable of holding years, months, and days as separate units, such as `Period` in the Noda Time library.  We would have to expand the scope of this to include such a type.

It would

[2017-10-26 04:03] mj1856 commented on #1870
No, we do not need `TimeOffset` or `DateOffset`.  I addressed why in #1740, so won't repeat here.  (Just because we can, doesn't mean we should.)

Regarding `DateTimeKind`, no we don't need that either.  One can ask what date it currently is in UTC or in the local time zone (or in any time zone), but once you have it as just a `Date` (year, month & day only) then any such reference to Kind becomes

[2017-10-26 07:39] benaadams commented on #1740
@mj1856 agree with everything except

It would return a `TimeSpan` where the maximal unit is days. Though isn't really a huge issue.

[2017-10-26 08:55] drieseng commented on #1740
@mj1856 Thanks for taking time to respond to my questions!

Adding two dates is indeed meaningsless.
I was thinking of the following for addition:
[code]
However I agree that the individual **Add** methods are also useful, since they  allow you to avoid going though **DateTime** to arrive at another **Date** instance.

As @benaadams already mentioned, for subtraction one could indeed define the fo

[2017-10-26 16:40] #1731 closed

[2017-10-26 16:40] #1813 closed

[2017-10-27 17:33] mj1856 commented on #1740
@benaadams - Subtracting two `Dates` to get a `TimeSpan` would be problematic.  `TimeSpan` has a resolution down to 100ns ticks.  Its concept of "days" are a fixed 24-hours (exactly) of time.   However, when working with dates, a "day" is not a fixed unit of time.  Some days have more or less than 24 hours depending on how they are evaluated.

For example, this coming Sunday is `2017-10-29`.  When

[2017-10-27 19:42] benaadams commented on #1740
Fair enough, subtraction may be ambiguous and it does have the `DaysUntil` and `DaysSince` apis which are specific for this scenario.

[2017-10-27 19:46] mj1856 commented on #1740
Yep.  I chose `DaysUntil`/`DaysSince`, `MonthsUntil`/`MonthsSince` and `YearsUntil`/`YearsSince` APIs as an alternative for having a `Period`-like structure as a result of subtraction operations.

[2017-10-28 16:39] YohDeadfall commented on #1740
@drieseng It's not a problem to add `TimeOfDay` and `Date` support to `DataContractSerializer` which is used by WCF. I can do that if it's assigned to me.

But what's about landing? I agree with @mj1856 that the `System.Runtime` package is the best place for these types. It's better to have all time types in a single library since they will be widely used in the correct way. `Date` for dates inste

[2017-10-28 16:59] drieseng commented on #1740
@YohDeadfall I'm sure there's a lot more to it than that. For example, the SOAP importer and exporter should be updated to support exposing Date and TimeOfDay as xs:date and xs:time, and should deserializing xs:date and xs:time as Date and TimeOfDay.

[2017-10-28 17:40] YohDeadfall commented on #1740
@driesebng which could be done by data contracts, `XmlWriter` and `XmlConvert`. Take a look at `DateTime` serialization in the `System.Private.DataContractSerializer` project from the CoreFx repository.

[2017-10-28 17:45] drieseng commented on #1740
@YohDeadfall Is it feasible to update WCF server (.NET Framework) as well?

[2017-10-30 15:31] eerhardt opened #1893 "Consider implementing struct Enumerator on Tensor<T>"
See https://github.com/dotnet/corefxlab/pull/1884#issuecomment-340010018.

Implementing a struct Enumerator has better performance characteristics when directly enumerating the type - no allocations; no virtual calls, inlining.

We should determine if this makes sense for Tensor, and implement it, if so.

[2017-10-30 17:02] #1876 closed

[2017-10-30 18:01] mconnew commented on #1740
@mj1856 If this is intended to be used as the data type for xs:time, you need to think about being able to round trip data. Although you have found little value in the offset, someone has and are using it in xml documents. If there is no offset in the .Net data type, it isn't a match for xs:time and shouldn't be suggested to be. Otherwise what do you do in the XmlSerializer when you come across an

[2017-10-30 18:09] mconnew commented on #1740
@YohDeadfall, adding support to DataContractSerializer isn't as simple as you think. We have the .Net native pre-gen serializer implementation which isn't open source which needs to be updated to match. XmlSerializer also needs support added. NetDataContractSerializer would also need support, although I don't think that's available on .Net core. Then you have the JsonDataContractSerializer would a

[2017-10-30 20:18] AtsushiKan commented on #1766
This is being done as part of productizing. No need to track it here in corefxlab since it will no longer be the home for that package.

[2017-10-30 20:18] #1766 closed

[2017-10-30 20:19] AtsushiKan commented on #1714
Official api review is done.

[2017-10-30 20:19] #1714 closed

[2017-10-30 22:21] ianhays commented on #1673
Either way we're going to have to maintain and update an implementation manually as we can't rely on Brotli being already being available on the machine.

So our choices are:
- Use a fully managed implementation. Write our own encoder. Use Google's decoder and spiff it up to make it performant and remove the java-isms.
  - Pros:
    - Runs anywhere.
    - Don't have to worry about distributing our

[2017-10-30 22:28] ianhays commented on #1673
Personally, I prefer the managed approach despite the extra work required to write the encoder in C#. Having a native zlib implementation on Windows provided a great perf improvement over our old managed deflater, but man is it a hassle to keep up with. I've spent so much time resolving packaging errors, import issues, platform library availability problems, compiler version snafus, binscope failu

[2017-10-30 23:00] stephentoub commented on #1673
@ianhays, you might be able to use https://github.com/master131/BrotliSharpLib to jump start a port.

[2017-10-31 00:23] mj1856 commented on #1740
Don't we already get `DataContractSerializer` support by implementation of `IXmlSerializable` and `XmlSchemaProviderAttribute` being implemented on the types?

Regarding the optional offset allowed by XSD, I would expect it would drop an offset if encountered on deserialization.  However, I can understand that might be seen as a bug.  Then again, I also expect `xs:dateTime` with an offset to be se

[2017-10-31 09:13] YohDeadfall commented on #1740
@mj1856 The problem is that the `IXmlSerializable` interface is located in `System.Private.Xml`. This makes impossible to land the types in the `System.Runtime` package.

[2017-10-31 09:49] YohDeadfall commented on #1837
#1894

[2017-10-31 17:35] akoeplinger commented on #1673
Sounds good, a managed implementation would definitely be less hassle to integrate into all our platforms.

[2017-10-31 18:14] mconnew commented on #1740
@mj1856, DataContractSerialier et al handle xml primitive types natively and don't use anything like IXmlSerializable. As xs:time is an xml primitive, the convention is that the serializers have innate knowledge how to handle them. IXmlSerializable is meant for custom serializable types. As for how xs:datetime is handled, just search stackoverflow or use your favorite search engine and look for is

[2017-10-31 19:42] ahsonkhan commented on #1837
Resolved in https://github.com/dotnet/corefxlab/pull/1894

[2017-10-31 19:42] #1837 closed

[2017-10-31 21:15] mj1856 commented on #1740
I see.  Well then, it seems that the best option would be to remove the XML serialization aspect from the structs entirely.  Then other components can determine whether or not to support them, when, how, etc. separately.  Or are there other ideas?

[2017-10-31 23:55] mconnew commented on #1740
I think it ultimately comes down to what is the justification/reasoning for adding these types? Is the primary reason to enable marshalling back and forth to the web? In which case what would be the right choice when designing a data type from scratch is irrelevant as you need to map to the existing data types that someone else has designed. Then any disagreement with the design choices made by ot

[2017-11-01 11:39] YohDeadfall commented on #1740
1. Having timezone in `Time` and `Date` without needing it is a bad idea. Probably we should add `TimeOffset` and `DateOffset` as proposed in https://github.com/dotnet/corefxlab/issues/1870#issuecomment-339305177.
2. Not only. That types should be also used by data providers for example. See https://github.com/dotnet/corefx/issues/700.
3. See https://github.com/dotnet/corefx/issues/2116 and https:

[2017-11-01 19:23] mconnew commented on #1740
Before any discussion about what values should be stored in a type, you need to define the purpose, the intended usage for that type. Can we define that first? Below is just a discussion of why this is important but this is the key point. A new type needs to be suitable for its intended purpose (which probably should include explicit non-goals) and unless that's defined, people will be talking at

[2017-11-01 20:29] mj1856 commented on #1740
@mconnew - you bring up a good point, but the "why" has already been asked and answered.  We're well past that point.  This work is the result of long discussions in dotnet/corefx#700 and dotnet/corefx#2116.  If you've read through those and feel it's still not clear why these types are needed, please let me know.  Perhaps I can summarize more succinctly.

[2017-11-01 21:00] mj1856 commented on #1740
@YohDeadfall respectfully, I really don't think `OffsetDate` and `OffsetTime` types have as broad applicability as `Date` and `Time` types would have.

In general, trying to cover all edge cases in the domain of date and time will eventually lead to a design like Noda Time, which is already available for those that need it.  I've expanded nodatime/nodatime#864 to discuss adding `OffsetTime` and `O

[2017-11-01 21:26] mj1856 commented on #1870
@tarekgh - Any objections to renaming `TimeOfDay` to `Time`?

[2017-11-01 21:38] YohDeadfall commented on #1740
@mj1856 I'm fully agree with you, `DateOffset` and `TimeOffset` will be rarely used. But without them there are problems with serialization out of the box.

Is it a good idea to publish the types with partial serialization support (without timezones)? For many devs it would be enough for now I think.

[2017-11-02 20:12] drieseng commented on #1740
I'm all for these new types, but specifically for XML/SOAP (de)serialization I would either like to have serialization support that is fully compatible with XML Schema data types (meaning with timezones), or no serialization support at all.

I would prefer the former, but the latter may at least allow "us" to add full serialization support in a future iteration without introducing breaking changes

[2017-11-03 18:57] mattjohnsonpint opened #1901 "Support optional offset from UTC in Date and Time types to align with XSD"
@mconnew and I met yesterday to discuss some of the feedback from #1740, and came to a consensus on the following:

- [`xs:date`](https://www.w3.org/TR/xmlschema11-2/#date) and [`xs:time`](https://www.w3.org/TR/xmlschema11-2/#time) require supporting an optional offset from UTC.
- Though this is an edge case, it is valid by spec and can appear in customer data.
- We cannot truncate or otherwise ig

[2017-11-03 18:59] mj1856 commented on #1740
@mconnew an I met in person yesterday to discuss the tradeoffs and different approaches.  The consensus we came to is that if `Date` and `Time` are to be treated as *primitives* that they will indeed need to be directly and fully aligned with `xs:date` and `xs:time`.  I have written up the plan in #1901.  Please use that issue for any discussion around XSD and offsets.

I'd still like to leave thi

[2017-11-03 19:01] mj1856 commented on #1870
WRT the offset question, I have reversed my thoughts on that.  Please see #1901 for further.

I am still thinking *yes* to renaming the `TimeOfDay` type to `Time`.  Unless others object, I will create a PR for this shortly.  Thanks!

[2017-11-03 19:10] mj1856 commented on #300
This will need to be re-thought with respect to #1901.  Clearly there will be need for all of the following scenarios:

- `Date` without offset + `Time` without offset = `DateTime` with `DateTimeKind.Unspecified`
- `Date` without offset + `Time` *with* offset = `DateTimeOffset`
- `Date` *with* offset + `Time` without offset = `DateTimeOffset`
- `Date` + `Time` both with *same* offset = `DateTimeOf

[2017-11-03 19:26] mj1856 commented on #1901
Some precedent:
- [SQL Server 2014](https://msdn.microsoft.com/en-us/library/ee240708(v=sql.120).aspx) (regarding typed XML data only):

- [Example from 2011 of how customers have been working around the lack of support for this feature](https://www.codeproject.com/Articles/182960/WCF-Support-for-xs-date).  Particularly:

(lots of others... just thought I'd link a couple)

[2017-11-03 19:57] mj1856 opened #1902 "Consider making casts explicit from DateTime to Date"
We currently have implicit casts [between `DateTime` and `Date` in both directions](https://github.com/dotnet/corefxlab/blob/71c4081e97c1b1cafe52e7149ec874656b9a5607/src/System.Time/System/Date.cs#L1490-L1545) and [between `TimeSpan` and `TimeOfDay` in both directions](https://github.com/dotnet/corefxlab/blob/71c4081e97c1b1cafe52e7149ec874656b9a5607/src/System.Time/System/TimeOfDay.cs#L1586-L1638)

[2017-11-03 19:57] mj1856 commented on #1902
/cc: @mconnew

[2017-11-03 20:00] YohDeadfall commented on #300
Why not `DateTimeOffset` with zero offset? The `DateTime` property of `DateTimeOffset` returns `DateTime` with `DateTimeKind.Unspecified` ([source](https://github.com/dotnet/coreclr/blob/8ef735c71d18d41b9fc4695cd994b4aa6e14b6b3/src/mscorlib/shared/System/DateTimeOffset.cs#L186)). So if someone wants `DateTime` then he should use `date.At(time).DateTime`.

[2017-11-03 20:08] mj1856 commented on #300
I don't agree, we shouldn't make the presumption that because an offset was not provided that the offset is zero.  That is incorrectly mapping an unspecified (abstract, floating, civil, etc.) value to a specific point in time.

[2017-11-03 20:11] YohDeadfall commented on #300
So how should this situation be solved? By an additional method for that case only?

[2017-11-03 20:56] mj1856 commented on #300
Perhaps.  I'm open to ideas.  I will experiment with a few things myself and report back here.  Thanks. :)

[2017-11-03 22:02] tarekgh commented on #1870
Only if this can break anyone already using the old name. If you are working to get this library to the core, I would say wait and rename it when you move it there.

[2017-11-04 02:08] KrzysztofCwalina opened #1905 "ReadOnlyBytes.Index can wrap/overflow"
cc: @ahsonkhan

[2017-11-04 20:24] YohDeadfall commented on #1902
The implicit cast from `DateTime` to `Date` is okay because it doesn't throw any exceptions and doesn't lead to overflows. Specifying `Date` as a parameter or a property type means that you don't care about the time part.

The cast from `Date` to `DateTime` should be explicit because `Date` doesn't have the time part. If someone asks date and time then they both should be provided, not only date.

[2017-11-04 20:43] benaadams commented on #1902
Can't be implicit as it involves data loss; much like float -> int

This is an int -> float type conversion with no data loss

[2017-11-04 20:55] YohDeadfall commented on #1902
At some point you're right :) But what's about the following scenario?

[code]
[code]
The second involves data loss, but DoSomething doesn't need the time portion and doesn't care about it. In my opinion, we should think different about date and time because `DateTime` is composite type even if it stores data as `long`. It consists of two parts, date and time. But I can be wrong :)

[2017-11-04 21:15] YohDeadfall commented on #1902
Imagine that you ask questions and get answers.

**What date is it now?**

|Answer             |Is it accaptable?|Result    |
|-------------------|-----------------|----------|
|2009-06-15T13:45:30|Yes              |2009-06-15|
|2009-06-15         |Yes              |2009-06-15|

**What datetime is it now?**

|Answer             |Is it accaptable?|Result                     |
|-------------------|-

[2017-11-04 21:17] Drawaes commented on #1902
Doesn't matter date and time aren't special here. In as much as datetime is a composite class so is a decimal or a float. There is the number and the number of decimal places.

I always thought the rule was pretty simple, loss of information means explicit cast.

[2017-11-04 21:20] Drawaes commented on #1902
From the MS guidelines

[2017-11-04 21:31] YohDeadfall commented on #1902
Yep, I know that and at some point agree with others as I said. But I had the idea and shared it because it's a discussion.

[2017-11-04 21:34] Drawaes commented on #1902
It's worth discussing and you may have a point. I just expect the bar to be pretty high on breaking a one rule that seems to have withstood the test of time.

[2017-11-04 21:39] benaadams commented on #1902
Maybe implicit doesn't makes sense either way and date <-> datetime should both be explicit.

With adding time to date being the suggested route to getting a datetime?

[2017-11-04 22:22] YohDeadfall commented on #1902
Yes, it was proposed in https://github.com/dotnet/corefxlab/issues/1740#issuecomment-339598603. Answer from https://github.com/dotnet/corefxlab/issues/1740#issuecomment-340064239:

[2017-11-04 22:39] benaadams commented on #1902
Don't necessarily mean + operator e.g date.At(time) is fine

[2017-11-05 09:50] mj1856 commented on #1870
@tarekgh - Yes, it would be a breaking change.  However this is all still in pre-release.  Everything on corefxlab is only on the private myget feed and the current version is `0.1.0-e171104-4`.  The [semver spec](http://semver.org/#spec-item-4) allows major breaking changes while in 0.x, so I don't think that's an issue.

I seriously doubt anyone is actually using it beyond testing anyway.

[2017-11-06 10:48] benaadams commented on #1620
May also be interesting [Essential Cheat Sheets for Machine Learning and Deep Learning Engineers (Python)](https://startupsventurecapital.com/essential-cheat-sheets-for-machine-learning-and-deep-learning-researchers-efb6a8ebd2e5)

[2017-11-06 11:35] YohDeadfall commented on #1902
I though a bit more about my suggestion and found that it isn't good. If the cast from `DateTime` to `Date` is implicit then an implicit cast from `DateTime` to `Time` should exists too, but it looks like a `long` to `int` cast and it isn't intuitive. This is the first reason why the `DateTime` to `Date` cast shouldn't be implicit.

The second reason isn't only about implicitness, but also about c

[2017-11-06 16:58] tarekgh commented on #1870
ok, if you think this is not an issue, then I am fine too renaming it.

[2017-11-06 22:58] mj1856 commented on #1902
Yes, unfortunately the existing `.Date` property on `DateTime` and `DateTimeOffset` can't be changed to return type `Date`.  That's been with us far too long, returning `DateTime`.

Also, the existing `.TimeOfDay` properties can't be removed, and I feel like putting a `.Time` property on the same structs would lead to confusion.

I did already expose `.GetDate()` and `.GetTime()` extension methods

[2017-11-06 23:13] benaadams commented on #1902
Explicit casts + methods (that do same), no implicit casts?

[2017-11-07 00:27] ahsonkhan commented on #1729
Waiting for SignalR to start using these APIs for validation as the last work item for this issue, similar to https://github.com/dotnet/corefxlab/issues/1730#issuecomment-337632375.

@muratg, @moozzyk @BrennanConroy

[2017-11-07 03:54] moozzyk commented on #1729
I will start looking into tomorrow.

[2017-11-07 19:22] mconnew commented on #1902
Just to throw some chaos into the mix 😀 what about constructor conversion? E.g.
[code]

[2017-11-07 19:27] benaadams commented on #1902
Wrong constructor 😉
[code]

[2017-11-07 19:30] mconnew commented on #1902
So giving this more than 30 seconds of thought, in the general case of an explicit cast, you are saying "I know there's potentially some loss here, so I'm either okay with the loss, or I know something about the data and I know there won't be any loss (e.g. int32 will only ever have numbers < 1000)" and a cast shouldn't ever throw. Are there any scenarios where casting from a `DateTime\[Offset\]`

[2017-11-07 19:34] mj1856 commented on #1902
Ok, if that's a hard rule, then the cast from `TimeSpan` to `Time` is out because it can thrown an `ArgumentOutOfRangeException` if the timespan isn't representable as clock-time.  For example, negative timespans, or timespand >= 24 hours.

[2017-11-07 19:36] mj1856 commented on #1902
We wouldn't have any casts between `DateTimeOffset` and `Date` in either direction.  For `Date` to `DateTime` there is no data loss, but for `DateTime` to `Date` we'd be truncating both time and kind.

[2017-11-07 19:42] mconnew commented on #1902
That's my understanding, it's possible it's allowable by CLR spec but I can't remember a cast being allowed to throw other than the cast isn't compatible, e.g. trying to explicitly cast a string to an int. I'll try and see if I can find anything in the spec as I'm not completely comfortable with a "in my experience" justification.

[2017-11-07 19:51] mj1856 commented on #1902
[CA1065: Do not raise exceptions in unexpected locations](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1065-do-not-raise-exceptions-in-unexpected-locations) says not to throw exceptions in *implicit* cast operators only.

[2017-11-07 20:00] mconnew commented on #1902
So I read the [guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/operator-overloads) and it says this:

It doesn't say the same thing for explicit casts. It does say:

It could be argued that a `TimeSpan` that is > 24 hours being cast to `Time` would be lossy as the maximum value you can represent is 24 hours (ignoring leap seconds and other finer points) and you would

[2017-11-07 20:04] mconnew commented on #1902
The guidelines also say:

It lists for cast operators to create the methods `To<TypeName>/From<TypeName>`. So at the very least all conversions should have methods with this naming convention.

[2017-11-07 20:05] benaadams commented on #1902
Out of range aside; `TimeSpan` -> `Time` is a bit weird? What does it mean?

Could see
`Time.Add(TimeSpan)` where it keeps wrapping. e.g. its 14:35 now; what's the time in 26 hrs

But not sure how/why `3hrs` should return `3:00am`

[2017-11-07 20:15] mconnew commented on #1902
@benaadams, `DateTime.TimeOfDay` returns a `TimeSpan`. So we have an existing case of the time being represented as the length of time that has passed since midnight being represented as a `TimeSpan`. You might want to convert that to a Time. I'm not a big fan of needing to do things like create a `Time` object which represents midnight and adding the `TimeSpan` to it for the sake of semantic puri

[2017-11-07 20:28] mj1856 commented on #1902
Ok.  let's just focus on one of these for now.  `TimeSpan` to `Time`

If we didn't have to keep the old APIs intact, I'd just make `DateTime.TimeOfDay` return a `Time` type.  But we do, and it returns a `TimeSpan`.  That's really misleading since timespans are durations, and there could be more or less time *elapsed* since midnight than represented due to DST and other time zone transitions, if mi

[2017-11-07 20:34] mj1856 commented on #1902
I think we are agreed that the implicit cast should go away due to the necessary exception, and that the exception should change to `InvalidCastException` if we allow the explicit cast.

[2017-11-07 20:44] mj1856 commented on #1902
Also, perhaps:
[code]

[2017-11-07 21:15] mconnew commented on #1902
You missed a few (not sure which variant the docs are suggesting should exist so providing both):
[code]
I like the simplicity of these options:
[code]
The docs do say that any casts should have a To or From variant so I see these as being equivalent. Although a cast is simpler and I generally prefer them, I do get annoyed sometimes by the verbosity and number of parenthesis needed with casts. For

[2017-11-07 21:16] benaadams commented on #1902
Oh 😢

I'd go for?
[code]

[2017-11-07 21:19] mconnew commented on #1902
Carrying on with the theme that @benaadams was using:
[code]

[2017-11-07 22:30] mconnew commented on #1902
Although it wouldn't matter in this particular case, can't midnight also be 24:00:00?

[2017-11-07 22:35] benaadams commented on #1902
Not in base 24

[2017-11-07 22:36] benaadams commented on #1902
Parse should probably parse it though

[2017-11-07 22:47] mj1856 commented on #1902
@benaadams - Yes, exactly.  And it doesn't currently.  I will create a bug.

[2017-11-07 22:48] mattjohnsonpint opened #1909 "Support parsing "24:00" as midnight"
The `Time.Parse` and `Time.ParseExact` methods should allow for midnight to be representable by *either* "00:00" or "24:00".

[2017-11-07 22:49] mj1856 commented on #1902
https://github.com/dotnet/corefxlab/issues/1909

[2017-11-07 22:50] #1870 closed

[2017-11-07 23:56] mattjohnsonpint opened #1912 "Need unit tests for parsing methods on Date and Time types"
Need to add unit tests for all `Parse`, `ParseExact`, `TryParse`, and `TryParseExact` public methods on the `Time` and `Date` types.

[2017-11-09 19:37] mj1856 commented on #1902
I've decided the simplest thing to do for now is to change the casts from `DateTime` to `Date` and from `TimeSpan` to `Time` to be explicit.  The other direction is still implicit.  Done in 007a404 as part of #1923.

[2017-11-09 19:40] KrzysztofCwalina commented on #1807
Well, we chose the boring old Read/Write :-)

[2017-11-09 19:40] #1807 closed

[2017-11-09 19:46] KrzysztofCwalina commented on #1808
The following sample shows how it can be done today: https://github.com/dotnet/corefxlab/blob/master/src/System.Azure.Experimental/System/Azure/CosmosDbAuthorizationHeader.cs#L45

How much more efficient can the specialized encoder be?

[2017-11-09 19:50] KrzysztofCwalina commented on #1799
We are settling on Memory<Char> and Span<Char> being the representation for slices of UTF16Strings, i.e. we dont think we need a special heap-friendly Utf16Segment.

If we wanted to do the same for Utf8String, we would need some other type than byte, as we don't want text specific extensions methods to show in Memory<byte>/Span<byte>.

The main thing for me would be the perf impact of using a stru

[2017-11-09 19:53] KrzysztofCwalina commented on #1437
We enabled Memory\<T\> to wrap arrays directly.

[2017-11-09 19:53] #1437 closed

[2017-11-09 19:55] KrzysztofCwalina commented on #1031
@ahsonkhan, can you triage this issue? I would like to remove all System.Memory issues from corfxlab. thanks.

[2017-11-09 19:55] stephentoub commented on #1437
@KrzysztofCwalina, is there an issue somewhere tracking adding an `OwnedMemory<T>`-derived type that let's me easily create one from a pointer and length? e.g.
[code]
so that I can still used `Memory<T>` with a pointer and length?

[2017-11-09 19:55] KrzysztofCwalina commented on #952
closing as I think we settled on the architecture we want.

[2017-11-09 19:55] #952 closed

[2017-11-09 19:56] KrzysztofCwalina commented on #949
@ahsonkhan, can you triage this issue? I would like to remove all System.Memory issues from corfxlab. thanks.

[2017-11-09 19:56] KrzysztofCwalina commented on #936
@ahsonkhan, can you triage this issue? I would like to remove all System.Memory issues from corfxlab. thanks.

[2017-11-09 19:57] KrzysztofCwalina commented on #932
@ahsonkhan, can you triage this issue? I would like to remove all System.Memory issues from corfxlab. thanks.

[2017-11-09 19:57] KrzysztofCwalina commented on #922
@ahsonkhan, can you triage this issue? I would like to remove all System.Memory issues from corfxlab. thanks.

[2017-11-09 19:57] KrzysztofCwalina commented on #903
@ahsonkhan, can you triage this issue? I would like to remove all System.Memory issues from corfxlab. thanks.

[2017-11-09 20:01] KrzysztofCwalina commented on #1479
@ahsonkhan, if we are happy with the investigation, please close this issue. Thanks.

[2017-11-09 20:01] KrzysztofCwalina commented on #1403
@ahsonkhan, can we close this?

[2017-11-09 20:02] KrzysztofCwalina commented on #1314
@ahsonkhan, we have a similar issue in corefx, don't we? If yes, can you move undone items to corefx and close this issue?
Thanks.

[2017-11-09 20:03] KrzysztofCwalina commented on #1313
@ahsonkhan, is that something we should track in corefx now?

[2017-11-09 20:03] KrzysztofCwalina commented on #1306
@ahsonkhan, do you still want to keep this open?

[2017-11-09 20:04] KrzysztofCwalina commented on #1253
@ahsonkhan, do you still feel we need this?

[2017-11-09 20:04] KrzysztofCwalina commented on #1122
@ahsonkhan, should this be tracked in corefx now?

[2017-11-09 20:09] KrzysztofCwalina commented on #1782
@stephentoub, is this still relevant? If yes, should we move it to corefx? I would like to remove System.Threadin.Channels issues from corfxlab

[2017-11-09 20:10] stephentoub commented on #1782
It's still relevant (though debatable whether we should do it or not).  Feel free to move it to corefx. Thanks.

[2017-11-09 21:29] KrzysztofCwalina commented on #443
I think it's now covered in https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L335.

I will close the issue. @JamesNK, if you still need some datatype that is not covered, please open an issue in corfx repo. thanks.

[2017-11-09 21:29] #443 closed

[2017-11-09 21:29] ycrumeyrolle commented on #1808
Not sure to understand the sample. It is Base64 encoding, not Base64Url encoding.
If we have to encode in Base64Url in this sample, it is required to replace '+' and '/' characters by '-' and '_', and to trim the trailing '=' .

[2017-11-09 21:29] KrzysztofCwalina commented on #692
I think this is done.

[2017-11-09 21:29] #692 closed

[2017-11-09 21:30] KrzysztofCwalina commented on #1560
I think this is done.

[2017-11-09 21:30] #1560 closed

[2017-11-09 21:31] KrzysztofCwalina commented on #1450
I think this is done/outdated.

[2017-11-09 21:31] KrzysztofCwalina commented on #1303
I think this is done.

[2017-11-09 21:31] #1303 closed

[2017-11-09 21:31] benaadams commented on #1807
But you know it makes sense for the VB namespace...

https://en.wikipedia.org/wiki/PEEK_and_POKE

[2017-11-09 21:31] KrzysztofCwalina commented on #1110
I think we now cleaned up and documented the contact.

[2017-11-09 21:31] #1110 closed

[2017-11-09 21:32] KrzysztofCwalina commented on #748
this is done

[2017-11-09 21:32] #748 closed

[2017-11-09 21:34] KrzysztofCwalina commented on #750
done

[2017-11-09 21:34] #750 closed

[2017-11-09 21:34] KrzysztofCwalina commented on #752
done

[2017-11-09 21:34] #752 closed

[2017-11-09 21:34] KrzysztofCwalina commented on #753
done

[2017-11-09 21:34] #753 closed

[2017-11-09 21:34] KrzysztofCwalina commented on #754
done

[2017-11-09 21:34] #754 closed

[2017-11-09 21:36] KrzysztofCwalina commented on #779
These APIs were removed.

[2017-11-09 21:36] #779 closed

[2017-11-09 21:36] #780 closed

[2017-11-09 21:37] KrzysztofCwalina commented on #953
We finished the review and moved the APIs to corefx.

[2017-11-09 21:37] #953 closed

[2017-11-09 21:40] KrzysztofCwalina commented on #963
Ati, might be worth measuring the perf impact and either doing the change or closing this issue.

[2017-11-09 21:43] KrzysztofCwalina commented on #968
The parsers has been productized and moved to corefx. I think hex parsing is now case insensitive:
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Buffers/Text/Utf8Parser/ParserHelpers.cs#L29

[2017-11-09 21:43] #968 closed

[2017-11-09 21:45] #1902 closed

[2017-11-09 21:48] KrzysztofCwalina commented on #1070
I updated the list at the top of the issue with workitems that we have completed.
The remaining workitems are the following:

- [ ] remove all custom parsers from System.IO.Pipelines (and other corefxlab components)
- [ ] ASCII, UTF16BE, and ISO-8859-1 (required by networking protocols)
- [ ] full support for non-invariant cultures
- [ ] support BigInteger parsing
- [ ] support URI parsing
- [ ] a

[2017-11-09 21:48] #1070 closed

[2017-11-09 21:51] KrzysztofCwalina commented on #1782
@JanEggers, could I please ask you to move this to corefx repo? The component itself was moved there and it would be good to have the issue there as well.

[2017-11-09 21:51] #1782 closed

[2017-11-09 21:53] KrzysztofCwalina commented on #1765
I think this is done.

[2017-11-09 21:53] #1765 closed

[2017-11-09 21:55] KrzysztofCwalina commented on #1755
done

[2017-11-09 21:55] #1755 closed

[2017-11-09 21:55] KrzysztofCwalina commented on #1716
done (not Utf16 and 32, but we will track it separately)

[2017-11-09 21:55] #1716 closed

[2017-11-09 21:57] KrzysztofCwalina commented on #1585
@ahsonkhan, is this still relevant?

[2017-11-09 21:58] KrzysztofCwalina commented on #1452
We settled on bool and OperationStatus (for streaming APIs)

[2017-11-09 21:58] #1452 closed

[2017-11-09 21:59] KrzysztofCwalina commented on #1211
This was moved to outerloop and then to corefx when we productized Utf8Parser/Formatter.

[2017-11-09 21:59] #1211 closed

[2017-11-09 22:00] KrzysztofCwalina commented on #1148
@ahsonkhan, is this still relevant or we should close?

[2017-11-09 22:01] KrzysztofCwalina commented on #1090
I updated the issue with workitems that have been completed. The two that are not completed are the following:
- [ ] Design APIs to create non-invariant/custom SymbolTables
- [ ] Review the APIs with globalization experts

These two are not part of our 2.1 release. I will track them separately.

[2017-11-09 22:01] #1090 closed

[2017-11-09 22:02] KrzysztofCwalina commented on #1033
@AtsushiKan, shoudl we close this?

[2017-11-09 22:03] KrzysztofCwalina commented on #766
@AtsushiKan, can you review if any of these are still relevant and either fix or close this issue?
Thanks.

[2017-11-09 22:04] KrzysztofCwalina commented on #765
UTF16 LE is the deafult in .NET. I don't think we should be explicit about it as it would be inconsistent. If we ever add UTF16 BE, it will be explicit.

[2017-11-09 22:04] #765 closed

[2017-11-09 22:08] KrzysztofCwalina commented on #385
I think this is done.

[2017-11-09 22:08] #385 closed

[2017-11-09 22:09] KrzysztofCwalina commented on #1089
done

[2017-11-09 22:09] #1089 closed

[2017-11-09 22:11] KrzysztofCwalina commented on #55
done

[2017-11-09 22:11] #55 closed

[2017-11-09 22:11] KrzysztofCwalina commented on #54
done

[2017-11-09 22:11] #54 closed

[2017-11-09 22:11] KrzysztofCwalina commented on #53
done

[2017-11-09 22:11] #53 closed

[2017-11-09 22:11] KrzysztofCwalina commented on #52
done

[2017-11-09 22:11] #52 closed

[2017-11-09 22:11] KrzysztofCwalina commented on #51
moved to corefx

[2017-11-09 22:11] #51 closed

[2017-11-09 22:13] KrzysztofCwalina commented on #49
done as part of Utf8Formatter move to corfx

[2017-11-09 22:13] #49 closed

[2017-11-09 22:13] KrzysztofCwalina commented on #48
done as part of the moved to corfx

[2017-11-09 22:13] #48 closed

[2017-11-09 22:18] KrzysztofCwalina commented on #1807
good idea for my April 1st PR

[2017-11-09 22:26] KrzysztofCwalina commented on #1808
I was just showing how IBufferOperation can be used to combine transformations, wondering if ToBase64Url transformation that swaps the chars a(e.g. + => -) and returns before the trailing == would not be fast enough. I think specialized transformation will be more convenient though.

[2017-11-09 22:29] KrzysztofCwalina opened #1924 "Productize NativeOwnedMemory"
[code]

[2017-11-09 22:29] KrzysztofCwalina commented on #1924
cc: @stephentoub

[2017-11-09 22:30] KrzysztofCwalina commented on #1437
opend issue #1924

[2017-11-09 22:49] stephentoub commented on #1782
This issue was moved to dotnet/corefx#25162

[2017-11-09 22:57] ycrumeyrolle commented on #1808
Ok I see your point.

Another argument in addition to the performance is the API surface. Just last day I spotted a bug on our API gateway, written in Java. The developers were decoding in Base64 the content, then URL decoding, as there is not explicit Base64Url API.
And sometimes "data corruption" strangely occurred...

[2017-11-09 23:44] AtsushiKan commented on #963
`span.ReadInt32LittleEndian()` might have been the feature I was looking for here:

https://github.com/dotnet/corefx/blob/ba0e14d957cd2fed3e1dec54d2c5f2a92a746c74/src/System.Memory/src/System/Buffers/Text/Utf8Parser/Utf8Parser.Date.R.cs#L33

should see if this parser works faster using ReadInt32LittleEndian.

[2017-11-09 23:48] AtsushiKan commented on #1033
I assume this issue was opened before TryParse took a format symbol parameter. Right now, if we support separators, it should be if the 'N' symbol is passed but that's already tracked as a separate issue (https://github.com/dotnet/corefx/issues/24986)

[2017-11-09 23:48] #1033 closed

[2017-11-10 00:47] GrabYourPitchforks commented on #1831
Give me a while to investigate this. My focus right now is on bulk validation / conversion of incoming UTF-8 data, and the branchless decoder seems geared more toward enumeration of individual scalars from a UTF-8 sequence.

I set up a quick benchmark using the branchless decoder in a bulk conversion scenario, and the performance was unfortunately quite bad, even after manually inspecting the code

[2017-11-10 02:52] mellinoe commented on #748
@KrzysztofCwalina I see that things have been reorganized a bit. Where is the float-parsing functionality at now?

[2017-11-10 02:57] KrzysztofCwalina commented on #748
System.Memory package (corefx)

[2017-11-10 21:59] ahsonkhan commented on #1403
No, we have quite a few Span tests still in https://github.com/dotnet/corefxlab/tree/master/tests/System.Buffers.Primitives.Tests and we need to remove them if they are duplicated in the corefx tests (such as [this](https://github.com/dotnet/corefxlab/blob/master/tests/System.Buffers.Primitives.Tests/BasicUnitTests.cs#L10)). Some of them are testing interesting scenarios which did not get ported o

[2017-11-10 22:02] ahsonkhan commented on #1306
That depends on whether we want to support range syntax or not.
This was from the initial discussion/backlog of span items where we were considering slicing using range. I presume that is what the syntax would look like.

Changing to future.

[2017-11-10 22:03] ahsonkhan commented on #1122
Yes, the issue in corefx that is already open should be sufficient to track this work.

[2017-11-10 22:03] #1122 closed

[2017-11-10 22:04] ahsonkhan commented on #1450
We are still using ReadHex instead of our new Parsers here:
https://github.com/dotnet/corefxlab/blob/master/src/System.Text.Encodings.Web.Utf8/UrlEncoder.cs#L302

[code]

cc @GrabYourPitchforks

[2017-11-10 22:05] ahsonkhan commented on #1070
Also UTF16, not just UTF16BE.

[2017-11-10 22:07] ahsonkhan commented on #1585
Yes. I can revisit it once we decide if such Transformation pipeline helper APIs are something we want to productize (along with IBufferOperation/IBufferTransformation).

[2017-11-10 22:07] ahsonkhan commented on #1211
For clarification: The particular tests that this issue was about got removed, but other tests were moved to outerloop/corefx.

[2017-11-10 22:08] ahsonkhan commented on #1148
I don't know if there is value in keeping the Span based implementation but I will look into this to confirm.

[2017-11-10 22:11] ahsonkhan commented on #952
Tracked by https://github.com/dotnet/corefx/issues/23863

[2017-11-10 22:12] ahsonkhan commented on #692
Not for UTF16 though. Shall we re-open or track separately?

[2017-11-10 23:19] ahsonkhan commented on #51
Can you link the issue?

[2017-11-13 18:28] AceHack opened #1928 "Please add file support to System.IO.Pipelines"
I would like to be able to use high performant file reads and writes in a pipeline.  Unbuffered async/overlapped I/O would be great as well so it could be used for a safe durable write ahead log.

[2017-11-13 18:30] davidfowl commented on #1928
There's a prototype here https://github.com/dotnet/corefxlab/blob/97ae47716ed5b25fbe3188429d433914d4550c16/src/System.IO.Pipelines.File/FileReader.cs. It's windows only though.

[2017-11-13 18:41] AceHack commented on #1928
Is this just the reader?  What about the writer?  Is the plan to support this on all OSs?  Thanks.

[2017-11-14 01:36] halter73 commented on #1722
It looks like the PipeCompletionCallback isn't being cleared before returning to the array pool.

[code]

[2017-11-16 12:16] nietras opened #1938 "Add TensorView<T> `ref struct` like Span<T>, avoid coupling to `Tensor<T>` in algorithms-"
Tensors current design appears very "heap"y requiring heap allocation(s) upon construction etc. Not allowing for high performance scenarios. The design of this should be split to allow for a (or in fact several) value type `TensorView<T>` or similar that can be used as input parameter to methods but that does not require doing a heap allocation.

If necessary `TensorView<T>` could be a `ref struct

[2017-11-16 12:45] nietras commented on #1938
A way to help with this is to add proper `ITensorView<T>` and most likely `IReadOnlyTensorView<T>` interfaces. The base class idiom used here is a problem, not only since effectively closes the design/implementation in a certain way, so others (e.g. community) cannot create their own tensors. Many of the methods could also be made as extension methods, again allowing for others to override these f

[2017-11-17 00:06] Dadstart opened #1942 "System.IO.Compression.Brotli depends on package not published"
The System.IO.Compression.Brotli package depends on System.Runtime.CompilerServices.Unsafe and System.Memory versions 4.5.0+. However the latest published version is 4.4.0.

[code]

[2017-11-17 00:10] ahsonkhan commented on #1942
Please add the appropriate dotnet-core myget feed to get the packages that System.IO.Compression.Brotli depends on:
https://dotnet.myget.org/F/dotnet-core/api/v3/index.json

For example, see here for the latest 4.5.0+ System.Runtime.CompilerServices.Unsafe package:
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Runtime.CompilerServices.Unsafe

cc @dotnet/corefxlab-contrib

[2017-11-18 01:58] mj1856 commented on #1740
Closing this, just because I already have issues open for each specific item remaining.  When complete, I'll open API request issues in corefx.  Thanks all.

[2017-11-18 01:58] #1740 closed

[2017-11-19 18:15] benaadams opened #1948 "ReadWriteBytes/ReadOnlyBytes why not T?"
The Sequences `ReadWriteBytes`/`ReadOnlyBytes` have become quite interesting; any reason for limiting them to only bytes?

e.g.
[code]
[code]

/cc @KrzysztofCwalina

[2017-11-20 17:05] KrzysztofCwalina commented on #1948
I was thinking about it. If we think there is value, we should consider doing it. So far I avoided it because some people don't like how the generic parameter makes the type name longer (or more complicated).

cc: @davidfowl, @joshfree, @ahsonkhan, @terrajobst

[2017-11-20 19:17] benaadams commented on #1948
Don't know if the Jit would like it but could keep `ReadWriteBytes`/`ReadOnlyBytes` as wrappers?

[code]

[2017-11-22 02:00] #1751 closed

[2017-11-22 16:42] cesarsouza commented on #1620
[Tensors are finally coming to C#](https://blogs.msdn.microsoft.com/dotnet/2017/11/15/introducing-tensor-for-multi-dimensional-machine-learning-and-ai-data/).

[2017-11-23 12:37] davidfowl opened #1952 "Disallow creating cursors that point to empty buffer space"
Cursors must always point to valid data, they should never point post the end of valid data. We should very the "end cursor" is always  < the data filled in by the pipe.

[2017-11-23 12:53] #1722 closed

[2017-11-23 22:07] jmkni commented on #1942
I am getting the same issue.

Unfortunately, This doesn't seem to work with .net core 2.0

[2017-11-24 10:12] davidfowl opened #1953 "No way to get a cursor to the data in some cases from a ReadableBuffer"
With the current logic it's sometimes impossible to get a cursor to valid data. Consider the following:

[code]

- The length of this buffer is 1 so the first segment is empty
- buffer.Start points to nothing (segment 0, index 0 but conceptually -1)
- buffer.End points to (segment 1, index 1) which is past the end of the buffer

Attempting to call buffer.Move(buffer.Start, 1) returns buffer.End, s

[2017-11-24 15:51] pakrym commented on #1953
What should `buffer.Move(buffer.Start, 1)` return?

I think it doesn't matter if `buffer.Start` points to an empty first segment or beginning of the next  segment consumption shouldn't care.

[2017-11-24 23:09] davidfowl commented on #1953
I ran into this when trying to verify a bug fix in the ReadableBufferReader, it can create cursors that the ReadableBuffer can’t.

[2017-11-27 17:45] eerhardt commented on #1938
@nietras - can you give a little more concrete information about your idea?  Specifically, can you propose what you are thinking for

and

My concern is that Tensor has a number of pointers for its dimensions, strides, backing memory, etc.  Making this a struct will now turn the cost into copying all these pointers every time the Tensor is copied (to/from method calls).

Comparing Tensor to a Span

[2017-11-27 21:39] ahsonkhan commented on #1942
@Dadstart, was your issue resolved?

@jmkni, can you please share your NuGet.Config?

[2017-11-29 10:37] jmkni opened #1958 "Unable to load DLL 'brotlienc.dll'"
Hi all

I am using Asp.Net Core 2.0.3 and have followed the instructions here - https://www.meziantou.net/2017/07/17/use-brotli-compression-with-asp-net-core

When I actually try to use the provider, I get an exception saying the DLL can't be found, as shown below:

![brotlierror](https://user-images.githubusercontent.com/6376610/33370993-3587d464-d4f1-11e7-93bf-e4aa644effa0.PNG)

Might the instru

[2017-11-29 21:42] ahsonkhan commented on #1958
@ianhays, do you know how to resolve this issue?

[2017-11-30 20:30] ianhays commented on #1958
Unfortunately that error message is one that has plagued me in the past and is entirely unhelpful for actually diagnosing the error.

There a couple of issues that could cause it:
- The brotlienc dll didn't restore properly and isn't in the folder where it should be
- The brotlienc dll was restored but the architecture is incorrect (e.g. x86 instead of x64) so loading failed
- The brotlienc dll re

[2017-12-02 00:31] ahsonkhan commented on #1729
This is now complete. See https://github.com/aspnet/SignalR/pull/1127

[2017-12-02 00:31] #1729 closed

[2017-12-02 00:32] ahsonkhan commented on #1730
@moozzyk, @BrennanConroy, have you guys ported SignalR to use these new APIs?

[2017-12-02 01:42] muratg commented on #1730
cc @anurse

[2017-12-04 16:22] BrennanConroy commented on #1730
Looks like we should be able to replace our `TryParseInt32` method
https://github.com/aspnet/SignalR/blob/e4671392ecd9c4c23c2d65492c29f322f9610efe/src/Microsoft.AspNetCore.SignalR.Common/Internal/Encoders/LengthPrefixedTextMessageParser.cs#L94
with the one from System.Buffers.Binary.BinaryPrimitives

Don't think we have any other spots we do similar things, but I'm not familiar with the System.Bin

[2017-12-05 07:34] juepiezhongren opened #1966 "It seems that there is a ValueDelegate issue, any one knows it?"
can't find it anywhere, help

[2017-12-05 08:50] YohDeadfall commented on #1966
Do you mean https://github.com/dotnet/csharplang/issues/80?

[2017-12-05 09:52] juepiezhongren commented on #1966
@YohDeadfall  got it, it's https://github.com/dotnet/csharplang/issues/492

[2017-12-05 09:55] juepiezhongren commented on #1966
@gafter, is u the person who's contributed the ValueDelegate?

[2017-12-05 16:07] tannergooding commented on #1966
@juepiezhongren, the actual language proposal is here: https://github.com/dotnet/csharplang/blob/master/proposals/static-delegates.md

I was the submitter of the proposal and @jaredpar is currently the champion (person who will take the proposal to the language design meeting for discussion).

The feature does not exist today.

It would be helpful if you could provide some more details as to what

[2017-12-05 16:53] gafter commented on #1966
https://github.com/dotnet/csharplang/issues/302 is being used to track the proposal.

[2017-12-05 22:28] pakrym opened #1969 "Harder readable buffer and related APIs against passing default(ReadCursor)"

[2017-12-05 22:31] pakrym opened #1970 "Merge MemoryEnumerator.MoveNext and ReadCursor.TryGetBuffer logic"

[2017-12-06 10:43] jmkni commented on #1958
Thanks @ianhays , will give it another go later and let you know!

Not urgent at all, would just be interesting to see it working. Currently delivering an Angular app, which comes down at about 450KB GZipped, keen to see what Brotli brings it down to!

[2017-12-06 23:19] pakrym opened #1972 "Pipelines API review issues"
- [x] Readonliness of ReadableBuffer
- [x] Use `IMemoryList`
- [x] Move Write* extension methods to a single class, change them to take ReadOnly*
- [x] Move ReadableBuffer/Cursor->Position to BufferPrimitives
- [x] Should we keep `ReadableBuffer.Preserve`? No
- [x] Should we keep `WriteableBuffer.Append`? No, it includes lifetime management.
- [x] Operators on cursors/positions - Remove
- [x] Retu

[2017-12-06 23:30] muratg commented on #1972
cc @joshfree

[2017-12-07 03:39] KrzysztofCwalina commented on #1972
Here are some others I would like to add:
[ ] I would make the enumerators nested types in Readable/Writable Buffers. Today, the enumerator can be shared between these two types, but once ReadableBuffer gives out only ReadOnlyMemory, the buffers will need separate enumerators.
[ ] Why do we need IPipe, IPipeConnection, IReadableBufferAwaiter, IWritableBufferAwaiter interfaces? Nothing consumes the

[2017-12-07 03:58] pakrym commented on #1972
Header parser only consumes header when it is completely received but examines everything.
So for the following incomplete data:

[code]

[2017-12-07 04:03] pakrym commented on #1972
@KrzysztofCwalina
I would also like to remove `CopyTo` from `IMemoryList`, I think it's not very useful in current state of things when no-one would get access to IML directly.

[2017-12-07 15:58] eerhardt commented on #1819
Completed with https://github.com/dotnet/corefxlab/pull/1927

[2017-12-07 15:58] #1819 closed

[2017-12-07 18:51] karelz commented on #1972
Is there a simple basic sample how to set up the pipeline and use it for basic (even inefficient) scenario? Then for advanced scenarios? I assume it will be needed for the API review anyway ;)

[2017-12-08 22:42] BrennanConroy commented on #1730
I don't see anything we can replace with the System.Binary APIs

[2017-12-09 03:33] ahsonkhan commented on #1716
From https://github.com/dotnet/corefxlab/issues/1730#issuecomment-349014262

https://github.com/aspnet/SignalR/blob/e4671392ecd9c4c23c2d65492c29f322f9610efe/src/Microsoft.AspNetCore.SignalR.Common/Internal/Encoders/LengthPrefixedTextMessageParser.cs#L94
with the one from System.Buffers.Binary.BinaryPrimitives
Don't think we have any other spots we do similar things, but I'm not familiar with the S

[2017-12-09 03:35] ahsonkhan commented on #1730
OK. I thought maybe you were reading/writing binary data from/to primitives like int32.

[2017-12-09 04:20] anurse commented on #1730
SignalR did previously have more custom binary parsing, but we ended up changing to using existing protocols and other parsers not supported in System.Binary (such as variable-length integers). It's possible it was just missed.

[2017-12-10 17:24] BravoTango86 commented on #1958
Adding BrotliNative fixed this for me.

[2017-12-11 16:32] BrennanConroy commented on #1716
Looks possible, I'll try it out today

[2017-12-11 18:50] BrennanConroy commented on #1716
https://github.com/aspnet/SignalR/pull/1200

[2017-12-12 23:29] eerhardt opened #1976 "Add new overloads to Clone() methods on subtypes of Tensor<T>"
`Tensor<T>` has a Clone method that returns `Tensor<T>`.  However, if I have a variable casted to say a `DenseTensor<double>`, I shouldn't have to cast the return of `Clone()` down to a `DenseTensor<double>`.

For example:

[code]

`a` and `b` are already `DenseTensor<double>`, when cloning I am guaranteed I should get back a `DenseTensor<double>`. We should require consumers to cast in this situa

[2017-12-13 11:28] nietras commented on #1938
@eerhardt here some brief answers to your questions. Overall, I do not think your concerns are an issue.

Basically, I am proposing something like the split `Memory<T>` (i.e. `*Tensor<T>`) and `Span<T>` (i.e. `TensorView<T>`) that is a duality of memory ownership and memory "representation", that allows making "views" over whatever data you already have and own without using `*Tensor<T>`.

I disag

[2017-12-13 12:08] davidfowl commented on #1972
Before we go deleting all of the abstractions there was this very early plan to figure out how to expose the pipe interface on our existing body streams so that we could expose them in ASP.NET:

https://github.com/aspnet/AspLabs/issues/2

I'd like to see a new plan for this with the suggested API changes here (if we remove the abstractions)

[2017-12-13 18:35] BrennanConroy opened #1978 "MemoryPoolBlock throwing ArgumentNullException"
We're getting an `ArgumentNullException` in `MemoryPoolBlock.Span`
[code]

Should there just be a null check here, or is there an issue somewhere else and this shouldn't be null?
https://github.com/dotnet/corefxlab/blob/e9c08e3d2083f04af442a18d58bf8be3de1a70b2/src/System.IO.Pipelines/System/Buffers/MemoryPoolBlock.cs#L51

[2017-12-13 20:02] ahsonkhan commented on #1978
I am thinking we should probably add null checks in some places, for instance here:
https://github.com/dotnet/corefxlab/blob/master/src/System.IO.Pipelines/System/Buffers/MemoryPoolSlab.cs#L27

cc @pakrym, @KrzysztofCwalina

[2017-12-14 04:08] pakrym commented on #1972
@davidfowl if we implement `await pipe.Writer.ReadStarted` we can just run loop that pipes bytes from body stream to body pipe every time someone sets the body stream without wrapping anything.

[2017-12-14 04:38] davidfowl commented on #1972
I'm not concerned about ReadStarted. I'm concerned about implementing IPipeReader on the request body stream and IPipeWriter on the response body stream. How do we fix that after we remove the interfaces? Expose new properties that don't work well with the existing ones?

[2017-12-14 04:46] pakrym commented on #1972
We don't, we copy from stream to pipe if someone reads from pipe.

[2017-12-14 04:51] davidfowl commented on #1972
That defeats much of the purpose.

[2017-12-14 04:53] pakrym commented on #1972
@davidfowl isn't it temporary?

[2017-12-14 16:42] pakrym commented on #1978
The only way it can happen is using `MemoryPoolBlock` based memory after pool was disposed. Maybe we need to add a dispose check.

[2017-12-14 17:07] pakrym commented on #1978
/cc @halter73

[2017-12-15 23:42] ahsonkhan commented on #1031
Memory.Slice is checked. This issue is out-dated.
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Memory.cs#L166
[code]

@svick, feel free to re-open if you still have concerns.

[2017-12-15 23:42] #1031 closed

[2017-12-15 23:45] ahsonkhan commented on #1306
@KrzysztofCwalina, if we are getting the Range syntax support by 2.1, we should consider adding support for it for Span. Should we change the milestone of this issue to 2.1? Let me know and I will move it over to corefx.

[2017-12-16 01:07] ahsonkhan commented on #813
cc @GrabYourPitchforks

[2017-12-16 01:10] ahsonkhan commented on #1730
Given that SignalR doesn't have a scenario for these APIs yet, I would consider this issue complete.

[2017-12-16 01:10] #1730 closed

[2017-12-16 02:23] ahsonkhan commented on #813
@KrzysztofCwalina, @muratg, @joshfree  - do we need this for 2.1?

[2017-12-16 06:19] KrzysztofCwalina commented on #1306
Yeah, once we settle on the design for Range, we can add APIs. I would not add them sooner.

[2017-12-17 17:59] gmilani commented on #1912
Hello, I want to start contributing. Can I start with this task?

[2017-12-18 13:09] davidfowl commented on #1978
Likely a bug in the sockets transport

[2017-12-18 13:10] #1953 closed

[2017-12-18 19:25] muratg commented on #813
@ahsonkhan this is more @rynowak and @Eilon territory... folks?

[2017-12-18 20:12] halter73 commented on #1978
Or a bug in managed sockets @davidfowl. This test started failing late last week without any real churn in Kestrel. The key thing that changed was updated corefx(lab) dependencies which is why @BrennanConroy filed this issue. This issue hasn't been observed at all in our netcoreapp2.0 tests.

[2017-12-18 22:41] Eilon commented on #813
I assume no APIs would change (except maybe adding new ones), but there are no specific requirements from ASP.NET Core 2.1 as far as I know. However, if new more-efficient APIs are available, we could consider using them opportunistically.

[2017-12-18 23:05] mj1856 commented on #1912
Yes, please do!

Note that ultimately these types will move forward to corefx via the API proposal process, which won't necessarily include the implementation or tests - so your code may possibly not make it through to the shipping product.  However, the final implementer may indeed borrow or copy from the implementation here as a starting point, so it is still useful to be as complete as possible

[2017-12-20 19:14] #1970 closed

[2017-12-20 19:15] pakrym commented on #1399
Append got removed

[2017-12-22 09:01] zhangyuwu opened #1991 "A proposal about the design of System.CommandLine"
After my reading of the <a href="https://github.com/dotnet/corefxlab/blob/master/src/System.CommandLine/README.md"> README.md </a>, I got a few thoughts:

1. The command line parser can be designed in a MVC like model, a command line can be treated like a URL, and arguments & options can be treated like the `Model`, thus the parsing operation is binding.
2. Using meta programming to declare the ru

[2017-12-22 09:47] YohDeadfall commented on #1991
It's a good idea, but [README.md](https://github.com/dotnet/corefxlab/blob/master/src/System.CommandLine/README.md) says:

I think that such thing can be in an additional library built around `System.CommandLine`.

[2017-12-23 18:00] bording commented on #1972
Has there been any consideration about bringing back `WritableBuffer.BytesWritten` as mentioned in #1838?

Being able to support the scenario described in that issue is important for a lot of protocols.

[2017-12-23 18:43] davidfowl commented on #1972
Agreed. I think we should bring it back

[2017-12-24 12:56] zhangyuwu commented on #1991
Thanks for your quick reply and clarification.

[2017-12-25 06:28] benaadams commented on #1972
`WritableBufferWriter` => `BufferWriter` that its writable is inferred, what other type of buffer could it be writing to?

[2017-12-25 06:44] benaadams opened #2000 "Add Scheduler.Schedule(Action action)"
Otherwise you end up with the wrap for
[code]
Which means a double wrap and allocation for a Faster TaskScheduler https://github.com/dotnet/corefxlab/pull/1999 as it also needs to do the same wrap to enqueue.

i.e. the wrapping should be handled by the Scheduler not the pipe

[2017-12-25 07:17] benaadams opened #2002 "Task.Factory.StartNew is slower than QUWI for fire & forget tasks"
`TaskRunScheduler` uses `Task.Factory.StartNew`; Kestrel's `SocketsTransport` uses `TaskRunScheduler` - this will be effecting its performance.

/cc @davidfowl @pakrym

[2017-12-26 17:43] davidfowl commented on #2000
This looks like a fine change now that we have a base class.

[2017-12-27 03:28] kasper3 commented on #1972
Also please suffix all the awaitable methods with `Async`

[2017-12-27 03:47] davidfowl commented on #1972
@kasper3 which ones aren't?

[2017-12-27 04:08] kasper3 commented on #1958
@ianhays tested with nuget 4.4.1 in powershell

[code]

no results.

Per @BravoTango86's comment, additional package BrotliNative is required (substitute `System.IO.Compression.Brotli` with `BrotliNative` in `nuget install` command) to make `brotlienc.dll` restored. Seems like this should be treated as a packaging bug?

[2017-12-27 13:31] davidfowl commented on #1972
@KrzysztofCwalina @pakrym We should rename BufferReader.Skip -> Advance

[2017-12-27 14:14] tmds commented on #1972
Some open issues regarding pipelines

- I had created an issue about changing the MaximumSize{Low,Heigh} semantics: https://github.com/dotnet/corefxlab/issues/1355#issuecomment-295141102

- I also wonder what is the proper place to deal with sending part of files using OS sendfile system call: https://github.com/aspnet/KestrelHttpServer/issues/1673.

- Is there a way to allow foreign buffers in th

[2017-12-27 15:18] JanEggers opened #2006 "Missing ability to specify PipeOptions for SocketConnections"
see: https://github.com/dotnet/corefxlab/blob/5f92f491ff97b40a206a9fe33da236d03a8b3e7e/src/System.IO.Pipelines.Networking.Sockets/SocketConnection.cs#L87

[2017-12-27 20:10] davidfowl commented on #1972
We can look at this again but I'm not sure it can't be added later.

Not really pipe specific. This is about the core assembly (its at the stream level).

We've removed append so far but the foreign buffer would likely need to be an OwnedBuffer or something similar since buffers can outlive the call to WriteAsync (in the specific example you provided).

[2017-12-29 23:14] mj1856 commented on #1901
I started implementing this, and have come across what I think is a showstopper.

[code]

Basically, the [`Compare`](https://github.com/dotnet/corefxlab/blob/061e877eaf5e49d14b7407269e464f39906daccc/src/System.Time/System/Date.cs#L666) implementation must now consider both day number and offset, but offset is not always present.

I don't believe the guidelines would support throwing an exception d

[2017-12-29 23:39] mconnew commented on #1901
The offset only has meaning when combined with a time. Let's take the real world analog that you previously mentioned, that a date represents a square on a calendar. If you had two physical calendars, one located in Washington, and the other located in New York and you were asked to compare the squares which represents Jan 1 2018 on those two calendars, you would say they are for the same date. If

[2017-12-29 23:48] YohDeadfall commented on #1901
There is nothing directly said about comparison (`<`, `<=`, `>`, `>=`) in the guidelines, but equality operators and the `Equals` method must not throw exceptions. It's [CA1065: Do not raise exceptions in unexpected locations](https://msdn.microsoft.com/en-us/library/bb386039.aspx). And because all comparisons are unexpected locations, you can't throw exceptions there.

Probably you can use rules

[2017-12-31 19:06] mj1856 commented on #1901
Really?

[code]

I cannot fathom how such a thing could be reasonable.  Do you have any other examples of commonly used objects in .NET that behave this way?

WRT the analogy, keep in mind that XML Schema describes the offset of an `xs:date` to apply specifically to the first instant of the date, which is usually (but not always) `00:00`.

@YohDeadfall - Thanks for the link to the ordering in XML

[2017-12-31 19:07] mj1856 commented on #1901
The more I think about this, the more I think it's asking for trouble to support offsets on these types.  It really is an SRP violation in the same way that `DateTimeKind` is - which was a mistake IMHO.  I don't want to repeat the same mistakes here.  I'm leaning back toward closing this out as something not to be done - even if it means we don't map to `xs:date` and `xs:time`.

FWIW, I made the c

[2018-01-01 15:25] aobatact opened #2013 "ILookup for MultiValueDictionary"
Since ILookup is something like "ReadOnlyMultiValueDictionary" , I suggest that MultiValueDictionary inherits ILookup.
[code]

[2018-01-03 14:49] ycrumeyrolle opened #2017 "Consider adding JWT types"
JSON Web Token (JWT) is a compact, URL-safe means of representing claims to be transferred between two parties.
See https://tools.ietf.org/html/rfc7519.

This structure is widely used with the OAuth2/OpenID Connect protocols as access token, [ID token](http://openid.net/specs/openid-connect-core-1_0.html#IDToken), [user info response](http://openid.net/specs/openid-connect-core-1_0.html#UserInfoRe

[2018-01-04 00:29] mgravell opened #2019 "BufferReader API : consider moving to 64-bit (System.Buffers.Primitives)"
In particular, `ConsumedBytes` - but possibly also `Skip(long length)`.

Ultimately, the reader can be spanning an arbitrary number of spans; the classic implementation is over a `ReadOnlyBuffer`, and that has already moved to `public long Length => ...` / `Slice(long start, long length)`. So since the *thing it wraps* clearly considers the >2GiB world, so should this.

Obviously things like `Inde

[2018-01-04 00:32] Drawaes commented on #2019
I hit this issue when experimenting with making a ReadOnlyBuffer over a large memory mapped file. The 2GiB limit was something I then had to code around

[2018-01-04 00:48] mgravell opened #2020 "BufferReader API : Add TrySkip (System.Buffers.Primitives)"
Functionally similar to `Skip`, but for EOF scenarios instead of raising `ArgmentOutOfRangeException`, it would simply return `false`. All other aspects remain identical, including the side-effects and final state of the reader for both success and failure.

Calling with a negative `length` would still `throw` - this is simply for the EOF case, not the brain-dead case.

Justification: consumers of

[2018-01-04 10:25] mgravell opened #2021 "Proposal: "curiously recurring" interface for ReadOnlyBuffer (System.Buffers.Primitives)"
I'm looking at the new `ISequence<ReadOnlyMember<byte>>` API and `BufferReader<TSequence> where TSequence : ISequence<ReadOnlyMemory<byte>>`. I can see why it is useful to allow other types of sequences, but that perhaps isn't very useful unless the buffer itself also exposes some generic type features.

I'm struggling to articulate this, but consider code instead:

[code]

with this, `ReadOnlyBuf

[2018-01-04 10:57] mgravell commented on #2021
Additional context; I started thinking about other ways of exposing this `Slice`; it can't be a method of the `ISequence<T>`, since it doesn't make sense in most contexts, and the return type isn't `T` but the "thing that implements `ISequence<T>`" (curiously recurring, etc). So then I asked "can `BufferReader<T>` expose a `public T Buffer {get;}`? but: that doesn't help unless the `T` has a `Slic

[2018-01-04 11:04] mgravell commented on #2021
for completeness, it *probably* makes sense to also consider changing `BufferReader<TSequence>` to repeat this concept:

[code]

although it doesn't actually *use* the extended features.

[2018-01-04 19:20] pakrym commented on #2020
I like `int TrySkip` more but not sure about returning amount of bytes left, it's a bit unusual.

[2018-01-04 19:21] pakrym commented on #2019
Yep, it's a bug.

[2018-01-04 19:21] #2000 closed

[2018-01-04 19:55] mgravell commented on #2020
I'll take what I can get. If that's the sticking point: return whichever
you like :)

On 4 Jan 2018 7:26 pm, "Pavel Krymets" <notifications@github.com> wrote:

[2018-01-05 10:56] mgravell commented on #2019
@pakrym  any thoughts on the `Skip` aspect? (64-bit)

[2018-01-05 16:10] pakrym commented on #2019
I think if you are skipping 2GB of memory Reader is not the right thing to use. ReadOnlyBuffer can do it much more efficiently,

[2018-01-05 20:41] tmds commented on #1972
I don't understand what you mean. This requires some interaction between the _application code_ (that knows it is sending a file) and the _Transport_ (that knows how to optimize the file sending). The pipe is between those parts.

Yes. There needs to be some _lifetime_ management possible for these buffers.
Also, some Transport may need special treatment of foreign buffers. I guess this is the cas

[2018-01-05 23:28] pakrym commented on #1972
Work items from the latest review:
2. Add `Move` to `ISequence`
1. Remove operator from positions and change everything to use `Move`
3. Make `ROB.ctor(Pos, Pos)` private.

[2018-01-05 23:39] mgravell commented on #2019
Maybe, but general purpose consumer code isn't necessarily well placed to
switch readily between those two. Conversely, if ROB is better at this,
perhaps large skips could be achieved by a check inside Skip, without the
caller needing to worry about it?

if(len > LARGE)
{
    var rob = new ROB(Cursor, End).Slice(len);
    this = new BufferReader(rob, bytesConsumed + Len);
}

?

On 5 Jan 2018 4:10

[2018-01-06 01:35] brentschmaltz commented on #2017
@ycrumeyrolle see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/660 The spirit of 660 is related to the issues you have addressed above.

[2018-01-06 05:40] benaadams opened #2027 "Support Devirtualization of Schedulers"
Neither `Scheduler.TaskRun.Schedule(() => {})` nor `Scheduler.Inline.Schedule(() => {})` can be devirtualized as the internal derived types aren't sealed and they are stored in a field of the base type so loose the type information to devirtualize.

[2018-01-06 13:02] RussKie commented on #2017
+1
For us the problem is that it no longer exposes `IPrincipal` but `ClaimsPrincipal`.
I've called the issue out back in Aug 16 https://github.com/dotnet/corefx/issues/11082

[2018-01-06 21:29] mgravell opened #2029 "Pipe question: why is FlushAsync() on the buffer?"
Currently `FlushAsync` is on the `WritableBuffer`, with it simply calling the `internal Pipe.FlushAsync()` method. This makes it feel like the flush is an operation of the write buffer, and mentally forces a model where you flush at the end of each `Alloc`, when that isn't actually necessary as long as you `Commit` each `WritableBuffer` and then remember to `FlushAsync` on the last. When `FlushAsy

[2018-01-06 21:34] Drawaes commented on #2029
I agree its a pain having to have the "allocated" buffer to actually flush, it means it needs to be passed out of "non async" methods to the parent method, or... you have to alloc to flush if the inner stuff commits, I have raised this in the below issue.

https://github.com/dotnet/corefxlab/issues/1412

[2018-01-07 00:01] benaadams commented on #2029
Either that or `Commit` shouldn't kill and only `FlushAsync` should

[2018-01-07 00:38] mgravell commented on #2029
But then: what does Commit *mean* in that case, and how is it different to
Advance?

On 7 Jan 2018 12:02 am, "Ben Adams" <notifications@github.com> wrote:

[2018-01-07 00:40] benaadams commented on #2029
Advance its still your data
Commit its now someone else's data

[2018-01-07 00:45] mgravell commented on #2029
So... a "partial flush"? (giggles and runs; this may or may not be a
continuation of an off-board conversation)

On 7 Jan 2018 12:40 am, "Ben Adams" <notifications@github.com> wrote:

[2018-01-07 00:50] benaadams commented on #2029
I think one method is missing `NotifyAsync`
[code]

[code]

`NotifyAsync()` works with reducing syscalls; the next stage can coalesce until it has enough data to make a meaningful write; but can return immedately if not  (e.g. at least a full packet)
`FlushAsync()` means write now, don't wait for more

/cc @davidfowl

[2018-01-07 01:11] Drawaes commented on #2029
Agreed so a good example for above might be

You are sending protobuf data across a TLS connection. You have written 10k a TLS frame is 16k.

The read side (TLS) looks like this

[code]

That way you can ship out data as it is generated, but you can fill a full frame rather than firing off partial frames unless the upper application wants to force it (its completed a unit of work)

[2018-01-07 01:28] benaadams commented on #2029
Same with processing pipelined requests; you want to inform the transport its got something to send, but also let it wait until its got a full packet before sending them - while you still have more input requests to process:
[code]

[2018-01-07 01:32] benaadams commented on #2029
Same with processing pipelined requests; you want to inform the transport its got something to send, but also let it wait until its got a full packet before sending them - while you still have more input requests to process:
[code]

Decrease syscalls (Meltdown/Spectre); improve packet density, without increasing latency

[2018-01-07 06:30] tmds opened #2031 "Support appending foreign buffers to pipe"
Foreign buffers are buffers not allocated with the Pipe MemoryPool.

Use-cases for foreign buffers:
- custom buffers more appropriate for type of data to be sent
- send same buffer to multiple Pipes without copying the data in each Pipe

Comments:
- it needs to be possible to track the usage of the foreign buffer in order to know when it can be re-used
- some Transports may not be capable of sendi

[2018-01-07 06:32] tmds commented on #1972
I've created a feature request for foreign buffer support: https://github.com/dotnet/corefxlab/issues/2031.

[2018-01-07 10:12] mgravell commented on #2029
the context I was missing here was single block vs multi block; now that I've reminded myself that multi-block writers are a thing, this makes more sense where it is and I don't think it is necessarily a problem

[2018-01-08 16:34] KrzysztofCwalina commented on #1972
I changed the comment to a list.

[2018-01-08 17:11] benaadams commented on #1972
Flush/Notify https://github.com/dotnet/corefxlab/issues/2029

[2018-01-08 17:13] pakrym commented on #1972
- [ ] Add MinimumBlockSize to pipe options to enable pools that return exact size requested (ArrayPool).

[2018-01-08 17:54] pakrym commented on #1972
- [ ]  Productize `ArrayMemoryPool`

[2018-01-08 19:37] pakrym commented on #1972
- [ ] Add `Span` overloads to `OutputWriter`

[2018-01-08 20:07] JanEggers opened #2033 "Utf8String != null throws NullReferenceException"
Utf8String x = null;

if (x != null) { <= this does not compile
}

if (x != (Utf8String)null) { <= this throws
}

and Utf8String.IsNullOrEmpty is missing.

[2018-01-09 12:22] mgravell commented on #2031
/cc @Drawaes

This actually used to exist - it was called `Append`, took a `ReadOnlyBuffer`, and it is sorely missed. Strictly speaking, the pipe doesn't need to care where it comes from - it just needs to `Preserve` when accepting it, and `Release` when it is done (it already does the `Release` step). If it goes back to a memory pool: great! if it was actually a wrapped non-owned array: also fine

[2018-01-09 12:31] mgravell opened #2039 "`OutputWriter<T>` : add `BytesWritten` / `WrittenBytes` / whatever"
(also: nomenclature; it is odd that it is `BufferReader<T>` and `OutputWriter<T>`; should that be `BufferWriter<T>` ?)

`BufferReader<T>` has `ConsumedBytes`

it is odd and inconsistent that `OutputWriter<T>` does *not* have a `WrittenBytes` or similar. Note that quite often the pattern will be:

    var writer = OutputWriter.Create(buffer);
    // lots of arbitrary writing operations using condit

[2018-01-09 12:38] mgravell opened #2040 "WritableBuffer / OutputWriter / IOutput: Combine the Ensure() method and Span property; possibly rename to `GetSpan`"
You will always be calling `Ensure()` before fetching `.Span`, and any time you call `Ensure()` you **must** re-fetch the `.Span`, because it could now be different. As such: having the property is redundant. The "I want to enlarge it, but I'm not going to want the span" scenario seems **absurdly** unlikely to the point of incredulity.

Instead of:

    writer.Ensure(); // "give me something"

[2018-01-09 12:45] Drawaes commented on #2031
To be honest if Foreign buffers are a problem initially, then okay. But at the very least buffers from the same pool should be append able. Imagine say a protocol that reframes, at the moment you have to copy all the data across from one pipe to the other with either a small header added or removed, so as @mgravell says Zero copy is killed here.

I would prefer foreign buffers could be allowed als

[2018-01-09 13:04] Drawaes commented on #2031
Another scenario for Append is to "stage" writes. Only a single thread can be "writing" to a pipeline at a time, which is fine. However sometimes you can have multiple threads building frames, you then serialize the write. However without Append this adds a copy to the processing.

Example

High performance trading applications often "stage" a buy and sell frame ready to send for many stocks. When

[2018-01-10 00:48] davidfowl opened #2042 "Rename BufferReader.Skip to BufferReader.Advance"
The name is more consistent with the writing side.

/cc @KrzysztofCwalina @pakrym

[2018-01-10 01:04] davidfowl commented on #1972
Again, transports are kestrel specific, this is about the core pipe API. I don't see how that has any bearing on decisions being made here. Can you be more specific about what you think is relevant?

[2018-01-10 05:41] pakrym commented on #2039
Dup https://github.com/dotnet/corefxlab/issues/1838

[2018-01-10 05:42] pakrym commented on #2040
Thought about this exactly today. The only strange things is that we still want to keep Span in case you just want to fill available free space.

/cc @davidfowl @KrzysztofCwalina

[2018-01-10 06:59] davidfowl commented on #2039
I'd prefer the BufferWriter symmetry as well.

[2018-01-10 07:59] tmds commented on #1972
I'm thinking a design alternative is to support ReadOnlyMemory to represent a file segment ({SafeFileHandle, offset, length}). No idea on how technically feasible this is.

[2018-01-10 08:07] davidfowl commented on #1972
@tmds how does that affect any of the pipe APIs?

[2018-01-10 08:18] benaadams commented on #2040
Doesn't
[code]
allow you to do this? Can you provide more detail; its it so you can detect when there is no more space? e.g. 0-length span?

[2018-01-10 08:59] tmds commented on #1972
This would require support for two operations:
- append a file segment to a WritableBuffer
- extract the file segment info from the ReadOnlyMemory
The file handle is a resource that must be disposed, so it may use the _foreign buffer_ feature to track the lifetime.

These looks like adding methods only, so probably it doesn't affect the API under review.

[2018-01-10 11:03] mgravell commented on #2040
Additional: this would also avoid an unnecessary span fetch; currently the span is fetched when you *create* the writer, in the `OutputWriter` constructor. In *virtually all cases*, the first thing the consumer is going to do is : call `Ensure` - because "I know it has some space" is a rare event. So that could be removed.

Additional additional:

`Ensure` could *avoid* a call down here; since `Ad

[2018-01-10 16:39] davidfowl commented on #1972
I don't think a file segment primitive makes sense. All of the writable buffer operations are synchronous and buffered and I think you'd want file streaming to not buffer the entire file into memory. You'd instead want to copy to the IPipeWriter in chunks. It's like a Stream.CopyToAsync operation on an IPipeWriter (https://github.com/dotnet/corefxlab/blob/e74a2eb7ba796ac35506454dfa07eedf475965d7/s

[2018-01-10 17:15] KrzysztofCwalina commented on #2040
As long as Ensure() returns the already available buffer, I think the change (Including change on IOutput) is good.

[2018-01-10 17:25] mgravell commented on #2040
@KrzysztofCwalina I might be misreading the code, but that isn't what I
think it does. It looks like this just goes down the layers and become
Pipe.Ensure(1), which **does not** say "make it bigger" - it just says
"make it not be empty" - which would fully continue to be the case with the
suggested change.

On 10 Jan 2018 5:15 pm, "Krzysztof Cwalina" <notifications@github.com>
wrote:

[2018-01-10 17:28] mgravell commented on #2040
Specifically, this code in Pipe.cs means that nothing happens if that space
(1 byte in the defaulted parameter value case) is already available:

// If inadequate bytes left or if the segment is readonly
            if (bytesLeftInBuffer == 0 || bytesLeftInBuffer < count ||
segment.ReadOnly)

On 10 Jan 2018 5:25 pm, "Marc Gravell" <marc.gravell@gmail.com> wrote:

[2018-01-10 17:31] mgravell commented on #2040
Sorry for multiple replies - on mobile; actually default is zero, so
**all** that does is ensure that a buffer exists. As far as I can tell:
that's it.

On 10 Jan 2018 5:28 pm, "Marc Gravell" <marc.gravell@gmail.com> wrote:

[2018-01-10 20:01] mgravell commented on #2040
(deleted 3 replies and combined here)

@KrzysztofCwalina  that isn't what `Ensure` does. All it does is ensure that the current block has *at least* that much available space in it. In the case of the default parameterless usage, it just ensures it *has* a block. Example:

[code]

output:

[code]

It **does not** apply a "as long as it's larger than the current one" approach.

[2018-01-10 20:03] mgravell commented on #2040
(replacing 3 comments with this one; and then I accidentally deleted this one when tidying up, oops!)

@KrzysztofCwalina  that isn't what `Ensure()` (no explicit parameter) does; all it does is ensure that a: there's a block, and b: the size is at least big enough for what you've requested; it **does not** apply a "as long as it's larger than the current one" condition. Code:

    private static v

[2018-01-10 20:47] tmds commented on #1972
Yes, if someone calls Span on the ReadOnlyMemory that would cause this to happen. That would not be good.

I'm trying to figure out how an application that uses Pipes can avoid the copying by using the [sendfile](http://man7.org/linux/man-pages/man2/sendfile.2.html) system function: https://github.com/aspnet/KestrelHttpServer/issues/1673.

[2018-01-10 21:47] KrzysztofCwalina commented on #2040
And what is "requested" when no augment is passed to Ensure?

BTW, this touches on something that I think we still need to do: we have lots of APIs with Ensure/Resize methods. We need to unify them and describe the contract of the unified method.

[2018-01-10 21:52] mgravell commented on #2040
@KrzysztofCwalina well, I can tell you what it *currently* means, but I suspect you mean "what *should* it mean?" - frankly my vote there would be: change the default parameter value to 1 and have it mean "just something non-empty", or even just remove the default completely so people at least ask themselves "what is the minimum I can accept here?" rather than just assuming "hey, I've got memory".

[2018-01-10 22:46] KrzysztofCwalina commented on #1972
@pakrym, we we need anything more than MemoryPool<byte>.Default?

[2018-01-10 22:55] davidfowl commented on #1972
That's fine it's just not relevant to this review, that is a kestrel feature.

[2018-01-11 07:56] juliusfriedman commented on #1972
This is fast, efficient (Memory and CPU) and has the culpability to be brought to fruition using SIMD and ot other intrinsic improvements inter alia.

The class does basically the same thing as what's advertised here IMHo and 0.0000002

http://net7mma.codeplex.com/SourceControl/latest#Common/Classes/SegmentStream.cs

[2018-01-11 08:43] juliusfriedman commented on #2040
Something seems wrong.. Maybe because it's 3 a.m. ... but all I can see is ([sub r1, r2] [xor r1, r2]) cmp r1, r2; jge nOcopy; copy: sub r2, r1; mov byte ptr r1, r2; sub r3, 1; cmp r3, 0; jle copy; nOcopy: ret;

....

[2018-01-11 08:49] mgravell commented on #2040
Which makes me realise; actually the buffer doesn't need to retain the span
*at all* if it isn't using the same "span and offset" API from the reader.
All it needs to know is the size - an integer: set it when fetching (in
GetSpan if not big enough), and decrement it in advance. Retaining it
actually provides nothing. And then it doesn't even need to be a "ref
struct"! Although best to leave that

[2018-01-11 09:01] juliusfriedman commented on #2040
Lol, what about my rook? What about my knight? Hey..  that was my queen... took long enough,

[2018-01-11 09:07] juliusfriedman commented on #2040
Ref, structure, T - ask, Mask, unmask, man in the iron mask....

[2018-01-11 09:08] juliusfriedman commented on #2040
God damn it... I can't call it...

[2018-01-11 09:10] juliusfriedman commented on #2042
DEC, Darn, poo.

I was just gonna suggest ReadabmeBudfer.Trip for those on LSD, Iowata or lady bug attraxantz

[2018-01-11 16:57] #2002 closed

[2018-01-11 16:57] #2027 closed

[2018-01-11 17:01] pakrym opened #2046 "Performance regression after adding segment type switch"
We've seen 10% regression in kestrel and the source seems to be that multiple ReadOnlyBuffer methods became less efficient after the change namely:
1. `Seek` (because of CheckBounds)
2. `TryGet`
3. `Reader.MoveNext` - I suspect mostly because of TryGet

[2018-01-11 17:21] pakrym commented on #2046
/cc @davidfowl @KrzysztofCwalina @halter73 @benaadams

[2018-01-12 01:15] benaadams commented on #2046
![image](https://user-images.githubusercontent.com/1142958/34855154-0ac23a00-f736-11e7-8b70-abf54e00d8c6.png)

[2018-01-12 01:21] ReubenBond commented on #2031
This would be useful in Orleans where clients send a request messages to a server which then forwards it on to the correct destination server. That's a common scenario for any distributed system which has a gateway/reverse proxy component (eg nginx, HAProxy, mongos).

Currently we duplicate buffers when a message might be forwarded because of how our buffer pool works. See https://github.com/dotne

[2018-01-12 01:31] benaadams commented on #2046
Aside, this might be helpful https://github.com/dotnet/coreclr/issues/15755

[2018-01-12 17:35] KrzysztofCwalina commented on #2046
What was the TryGet change?

[2018-01-12 18:26] benaadams commented on #2046
[Pattern matching](https://github.com/dotnet/corefxlab/blob/b5a998d2758b8ee968dad324f104c9310057eda3/src/System.Buffers.Primitives/System/Buffers/ReadOnlyBuffer_helpers.cs#L18-L81) the different types?

[2018-01-13 00:30] KrzysztofCwalina commented on #2046
I talked with @pakrym and he will try to use the high order bit in one of the Position's ints to identify the IBUfferList case. Maybe we can even use the other bit to identify T[]

[2018-01-13 01:24] benaadams commented on #2046
Loose 2 bits; is still 1GB; if you need more you aren't segmenting correctly :)
Would also allow a 4th type at some point...

[2018-01-13 01:25] benaadams commented on #2046
Loose 2 bits; is still 1GB; if you need more you aren't segmenting correctly :)
Would also allow a 4th type at some point... (string for a StringBuilder type scenario?)

[2018-01-13 01:27] halter73 commented on #2046
@benaadams Those of us with email notifications can see your ninja edits 😆 .

[2018-01-13 15:06] Ziriax opened #2050 "Span and PureAttribute"
I'm very excited that `Span` is introduced in the lovely .NET framework!

However I get a lot of R# warnings when using it, since none of the pure `Span` nor `ReadOnlySpan` methods have the `PureAttribute`.

Is this 'pure' attribute obsolete?

[2018-01-13 16:02] Ziriax commented on #2050
I moved this to the corefx repository

[2018-01-13 16:02] #2050 closed

[2018-01-16 06:09] mgravell opened #2051 "Pipelines / API: WritableBuffer is a false abstraction or is badly named (one of)"
`WritableBuffer` presents itself as the "write analogue" to `ReadOnlyBuffer`, but in reality it is completely different. Unlike `ReadOnlyBuffer`, which is a general abstraction over one or more chunks of memory (including just a single `byte[]`), `WritableBuffer` is 100% tied to a `Pipe`, and in fact is simply a thin veneer over `Pipe` methods, with literally no state of it's own except:

    inte

[2018-01-16 07:04] davidfowl commented on #2051
You should watch the latest API review, we got rid of it.

[2018-01-16 07:10] #2051 closed

[2018-01-16 07:12] mgravell commented on #2051
@davidfowl  lol! I haven't seen that one - do you have a link? I was around for the first one; I thought there was one on Friday that was talking about threading - wasn't around - did I miss one? Sorry to add confusion, I genuinely didn't know about this change.

[2018-01-17 00:50] halter73 commented on #1978
This seems to be related to freeing the backing memory before the Socket was disposed. See aspnet/KestrelHttpServer#2247.

[2018-01-17 00:50] #1978 closed

[2018-01-19 18:42] #1677 closed

[2018-01-19 18:42] #1728 closed

[2018-01-19 18:42] #1958 closed

[2018-01-22 18:27] pakrym opened #2061 "Review exception messages in pipelines"
/cc @davidfowl

[2018-01-22 19:27] joshfree opened #2062 "OSX 10.12 x64 Release MultiSegmentBytesReaderNumbers test failure"
https://ci.dot.net/job/dotnet_corefxlab/job/master/job/osx10.12_release/lastCompletedBuild/consoleFull#-14914737312d31e50d-1517-49fc-92b3-2ca637122019
[code]

[2018-01-22 19:34] ahsonkhan commented on #2062
cc @KrzysztofCwalina, @pakrym

[2018-01-24 04:24] KrzysztofCwalina commented on #1728
@ianhays, thanks!

[2018-01-25 11:28] jmkni opened #2068 "Brotli Compression not working in an Azure Web App"
Hi all

I have the Brotli compression working nicely in development, but when I push it to Azure the files just don't compress.

The Content-Encoding is returned as **br**, but the files are no smaller than with GZIP. Running locally, they are significantly smaller.

On my Azure Web App, I have installed the **Brotli HTTP Compression (x86)** extension, and I am running on 32-bit.

Any ideas?

Chee

[2018-01-25 11:47] jmkni commented on #2068
Edit, have tried switching to 64-bit, and using the 64-bit extension. Same issue. I have also tried both 32 and 64 bit without the extension, no joy!

[2018-01-25 17:48] ahsonkhan commented on #2068
cc @ianhays

[2018-01-26 15:07] jyrkialakuijala commented on #2068
which quality and window size are you running brotli with?

[2018-01-29 13:59] jmkni commented on #2068
Buffer size: 65520
Quality: CompressionLevel.Optimal

@jyrkialakuijala

Again, it runs perfectly locally.

[2018-01-30 17:22] davidfowl opened #2087 "FlushResult needs a constructor"
Today it doesn't have any and can't be constructed with IsCompleted or IsCancelled.

[2018-02-02 05:18] #2029 closed

[2018-02-02 05:19] davidfowl commented on #1972
@KrzysztofCwalina I'm going to close this out.

[2018-02-02 05:48] bording commented on #1972
@davidfowl Any more info yet regarding https://github.com/dotnet/corefxlab/issues/1972#issuecomment-353739809?

[2018-02-02 05:53] davidfowl commented on #1972
No there's an issue filed for it but I'd rather not turn this issue into a bunch of feature requests. Once the main API is in then we'll review and add individual features.

[2018-02-02 15:45] davidfowl commented on #1838
@KrzysztofCwalina Should this be on IOutput/IBufferWriter?

[2018-02-02 15:52] mgravell commented on #1924
I agree this is a desirable use-case to consider and implement in the library - I've had to implement it a few times (see https://github.com/dotnet/corefx/issues/26781), as has @Drawaes (apparently). In particular, there are nuances around reserving the buffer that would be well worth implementing correctly once, rather than letting folks mess it up.

This is quite different to the existing `Nativ

[2018-02-02 15:55] #2040 closed

[2018-02-02 16:51] #1651 closed

[2018-02-02 16:52] davidfowl commented on #1041
We moved away from factories. There's a concrete Pipe implementation now

[2018-02-02 16:52] #1041 closed

[2018-02-02 16:53] #1221 closed

[2018-02-02 16:53] #1302 closed

[2018-02-02 17:35] Drawaes commented on #1924
Yes I have implemented this for memory mapped files and I have implemented it for non pageable memory as well, pretty much the same both times so a general purpose one would be great.

[2018-02-02 17:37] stephentoub commented on #1924
That's just a test implementation that sufficed for what was needed in the tests.

[2018-02-02 20:30] #2087 closed

[2018-02-03 00:44] KrzysztofCwalina commented on #1838
I think this is useful on BufferWriter (by-ref struct wrapping IBufferWeriter/PipeWriter). I am not sure it's useful on IBufferWriter, or even PipeWriter.

@Drawaes, if you used BufferWriter to write, you'd have [BufferCount](https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Experimental/System/Buffers/Text/BufferWriter.cs#L36) property. Would it work for you?

[2018-02-03 00:45] KrzysztofCwalina commented on #1972
@davidfowl, sounds good.

[2018-02-03 00:45] #1972 closed

[2018-02-03 00:49] Drawaes commented on #1838
Yeah that might work. I need to refactor to the new API surface but have been waiting for the dust to settle. I will close for now if there is already Buffer count and reopen if it's an issue .

[2018-02-03 00:49] #1838 closed

[2018-02-03 00:52] KrzysztofCwalina commented on #1838
Which makes me think that IBufferWriter/PipeWriter are actually not writers. They are byte sinks. IBufferWriter is a synchronous sink. PipeWriter is an asynchronous sync.

[2018-02-03 01:02] Drawaes commented on #1838
It's kind of a bit odd naming with how things have evolved as you really shouldn't be using them as your writer primative

[2018-02-03 23:39] drewnoakes opened #2096 "API proposal for command line argument parsing"
The use of a lambda to specify the syntax with `ArgumentSyntax.Parse` makes some elegant, expression-centric code. I'd like to see this syntax extended to related command line entities such as commands, options, etc.

Where further configuration of these objects is required, additional lambdas could keep things tidy and neatly scoped.

[code]

[2018-02-04 16:04] benaadams opened #2098 "MemoryPool shouldn't discard space per block"
As MemoryPool's blocks are page sized and page aligned and the cpu doesn't prefetch across a page boundary the 64 byte buffer is not required.

Having the full 4096 bytes available is helpful when a pipe is used as output/input to a file which also reads and writes in 4096 chunks. https://github.com/aspnet/KestrelHttpServer/pull/2049

[2018-02-05 00:00] ahsonkhan commented on #2098
MemoryPool lives in corefx now. Can you please move the issue there? Thanks!
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Buffers/MemoryPool.cs#L10

[2018-02-05 16:31] benaadams commented on #2098
That's `MemoryPool<T>` rather than `MemoryPool : MemoryPool<byte>`

[2018-02-05 19:26] GrabYourPitchforks commented on #813
Re-pathing to future since there's no specific request.

[2018-02-07 23:18] davidfowl commented on #1431
@pakrym are you going to remove these tests?

[2018-02-07 23:20] pakrym commented on #1431
We'll keep them for a while in corefxlab running against corefx packages to make sure things do not regress abruptly.

[2018-02-07 23:23] davidfowl commented on #1533
@ahsonkhan @pakrym Do these still fail?

[2018-02-07 23:29] davidfowl commented on #1431
Ok I'm going to close this bug

[2018-02-07 23:29] #1431 closed

[2018-02-08 18:09] #1335 closed

[2018-02-08 18:09] #1334 closed

[2018-02-08 18:11] davidfowl commented on #1704
Done

[2018-02-08 18:11] #1704 closed

[2018-02-08 18:13] #2061 closed

[2018-02-11 08:34] fryderykhuang opened #2114 "Crashed under heavy load."
System.InvalidOperationException: No writing operation. Make sure GetMemory() was called.
   at System.IO.Pipelines.ThrowHelper.ThrowInvalidOperationException_NotWritingNoAlloc()
   at System.IO.Pipelines.Pipe.DefaultPipeWriter.Advance(Int32 bytes)
   at System.IO.Pipelines.Networking.Libuv.UvTcpConnection.OnRead(UvStreamHandle handle, Int32 status)
   at System.Threading.ExecutionContext.Run(Exec

[2018-02-14 00:40] ahsonkhan commented on #1687
This still fails. Re-opening.
https://ci.dot.net/job/dotnet_corefxlab/job/master/job/ubuntu16.04_debug_prtest/1538/consoleFull#-8536224876a086b3e-df04-41d2-bc4d-43e8f9406d07

[code]

[2018-02-14 01:22] ahsonkhan commented on #1533
This issue is no longer reproducible.

Re-enabled the tests here - https://github.com/dotnet/corefxlab/pull/2120

[2018-02-14 01:22] #1533 closed

[2018-02-20 19:34] GrabYourPitchforks commented on #813
Tracking this in https://github.com/dotnet/corefx/issues/27253 since that's the correct repo.

[2018-02-20 19:34] #813 closed

[2018-02-21 05:57] joshfree commented on #2068
@jmkni I've moved this issue to the corefx repo where the brotli code now lives - https://github.com/dotnet/corefx/issues/27317

[2018-02-21 05:57] #2068 closed

[2018-02-21 06:02] joshfree commented on #1942
Closing out this issue since @ahsonkhan posted the dotnet-core myget feed details and there wasn't any additional replies.  Please let us know if you're still having problems and we can reactivate.

[2018-02-21 06:02] #1942 closed

[2018-02-21 12:14] JanLenoch opened #2135 "System.CommandLine exits upon mixing single character and keyword argument names"
When running an app with both single-character and keyword-like argument names, the app exits without throwing any exceptions.

Upon calling ArgumentSyntax.Parse(), it exits with the following:

`The program '[11652] dotnet.exe' has exited with code 1 (0x1).`

Is it by design?

[2018-02-22 04:16] davidfowl commented on #2114
The libuv and sockets prototypes in here are just prototypes, there are no plans to take them any further. Future work in this area will revolve around this https://github.com/aspnet/KestrelHttpServer/issues/1980

[2018-03-01 08:02] schungx commented on #1305
I can't seem to find a Pin method under Memory...

[2018-03-01 08:11] davidfowl commented on #1305
It got renamed to Retain()

[2018-03-04 04:24] #2098 closed

[2018-03-04 04:24] davidfowl commented on #2098
This got moved and done in ASP.NET

[2018-03-05 18:22] ahsonkhan commented on #1687
cc @davidfowl, @pakrym, @benaadams

It is failing on Windows too now: Innerloop Windows_NT Debug Build and Test

https://ci.dot.net/job/dotnet_corefxlab/job/master/job/windows_nt_debug_prtest/1572/consoleFull#-410211996a086b3e-df04-41d2-bc4d-43e8f9406d07
[code]

[2018-03-05 20:26] davidfowl commented on #1687
We can delete this test.

[2018-03-06 20:05] ahsonkhan commented on #1687
Failed in VSTS: https://devdiv.visualstudio.com/DevDiv/_build?buildId=1447474

[code]

OK.

[2018-03-07 04:30] davidfowl commented on #1687
Delete!!

[2018-03-07 20:11] BenjaminHolland opened #2151 "Bit Conversions for Spans?"
We've got some neat low level stuff happening with Spans. Can and should we provide BitConverter-like facilities that work with these, and is this an opportunity to extend the functionality of those facilities (like providing byte order or extension mode arguments)?

[2018-03-07 20:14] BenjaminHolland commented on #2151
Specifically, I'm suggesting something along these lines:
https://gist.github.com/BenjaminHolland/49cf8755295d1cccfe0afa84b81e9d43

[2018-03-08 00:08] khellang commented on #2151
You mean like these? https://github.com/dotnet/corefx/issues/22355 https://github.com/dotnet/corefx/issues/24144

[2018-03-08 00:09] ahsonkhan commented on #2151
Thanks, we are super excited about these changes!

We already have this being shipped as part of .NET Core 2.1 Feel free to give it a try (available in System.Memory preview 1 package on NuGet).

See BinaryPrimitives - https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L361

[2018-03-09 20:46] ahsonkhan commented on #2151
I am going to close this issue. Feel free to re-open if needed.

[2018-03-09 20:46] #2151 closed

[2018-03-11 09:11] kasper3 commented on #1831
@GrabYourPitchforks, do you have the implementation handy? We can create a PR and then compare the codegen to find out where we are losing the performance.

Here is the handwritten assembly version of [that C code](https://github.com/skeeto/branchless-utf8/tree/master/test):

Assembly: https://github.com/bdonlan/branchless-utf8/blob/master/test/decode.s
Assembly with SIMD: https://github.com/bdonl

[2018-03-11 12:43] kasper3 commented on #1831
Maybe it can be implemented in C in CoreCLR. Rough transpilation of C->C# looks like this (not sure how to test it with all those `uint` parameters)

[code]

[2018-03-11 16:39] GrabYourPitchforks commented on #1831
The loss in performance seems due to the fact that UTF8 doesn't consist of randomly distributed characters. If you see a character from a certain character set, the next several characters (excluding whitespace and punctuation) are almost certainly going to be in that same range. This implies that branching is good as long as it's used wisely. We have a prototype decoder in corefxlab which takes a

[2018-03-12 15:38] dmitriyse opened #2154 "Blazing-Fast replacement for the System.Threading.Task.Dataflow (as an extension to System.Threading.Channels)"
The problem.
---
When you developing DotNet application that should handle more than 10k+ items/sec on a single ServerNode, You are facing with DotNet framework botlenecks and app architecture bottlenecks.

System.Threading.Tasks.Dataflow solves the architecture problems. It's allows to decouple operations from a async/awaits processing chains and balance processing with help of queues between ope

[2018-03-12 17:52] ahsonkhan commented on #2154
cc @tarekgh, @stephentoub

[2018-03-12 18:02] tarekgh commented on #2154
@stephentoub should we move this request to corefx repo?

[2018-03-12 18:52] ahsonkhan commented on #2046
@pakrym, has this issue been resolved? Can it be closed?

[2018-03-12 19:01] pakrym commented on #2046
Yes

[2018-03-12 19:01] #2046 closed

[2018-03-12 19:27] ahsonkhan opened #2157 "WritableBufferFacts tests are hanging resulting in build timeout"
From https://github.com/dotnet/corefxlab/pull/2153#issuecomment-372427328

The Pipelines Extensions WritableBufferFacts tests (WriteLargeDataTextUtf8 / WriteLargeDataTextAscii) hang resulting in a build timeout. This may be caused by the recent changes in Pipelines.

Marking them as "skipped", for now.

cc @pakrym, @davidfowl

[2018-03-12 19:29] ahsonkhan commented on #1687
Removed the test in https://github.com/dotnet/corefxlab/pull/2153

[2018-03-13 19:04] #1687 closed

[2018-03-13 20:24] joshfree commented on #2154
@tarekgh yes please move issues/suggestions related to Channels to dotnet/corefx now that Channels is in corefx and no longer in corefxlab.  Thanks.

[2018-03-13 21:58] #2154 closed

[2018-03-13 21:58] tarekgh commented on #2154
Issue moved to [dotnet/corefx #28025](https://github.com/dotnet/corefx/issues/28025) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-14 12:48] AlexRadch opened #2160 "Some thoughts about SequencePosition, ISequence and etc."
I have good discussion about ReadOnlySequence and SequencePosition from corefx here https://github.com/dotnet/corefx/issues/27947. Thanks to all answers! And now I have some thoughts about SequencePosition, ISequence and etc.

Now net core has Span, ReadOnlySpan, Memory and ReadOnlyMemory as quick abstractions over continuous array of elements.

On the other hand corefxlab add ISequence as an abst

[2018-03-17 15:05] AndreKraak commented on #1912
Hi,

I am looking into contributing to open source projects, it will be my first time doing so.
I found this project/issue and would like to try and help. Is this issue still available to work on?

I have started with a test [DateParseTests.zip](https://github.com/dotnet/corefxlab/files/1821716/DateParseTests.zip) and before continuing I would like to ask some questions.
If there is a more appropr

[2018-03-18 15:03] AndreKraak commented on #1912
What is the expected result when parsing a string without a date?

Right now parsing "10:49:12" with Date.Parse result in a Date for today. This is as documented in [DateTime.Parse](https://msdn.microsoft.com/en-us/library/system.datetime.parse(v=vs.110).aspx).

With no date present in the string I would expect a FormatException to be thrown, as there is no date to be parsed.

[2018-03-18 16:02] AndreKraak commented on #1912
Would the [DateTime.Parse](https://msdn.microsoft.com/en-us/library/system.datetime.parse(v=vs.110).aspx) tests from [DateTimeTests](https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/DateTimeTests.cs) in the [corefx repository](https://github.com/dotnet/corefx) be enough to test the Date.Parse method?

I get the feeling my test [DateParseTests.zip](https://github.com/dot

[2018-03-19 09:53] #1032 closed

[2018-03-19 09:54] #1249 closed

[2018-03-19 09:54] #1307 closed

[2018-03-19 09:55] #1393 closed

[2018-03-19 09:55] #1412 closed

[2018-03-19 09:55] #1383 closed

[2018-03-19 09:56] #1457 closed

[2018-03-19 09:56] #1571 closed

[2018-03-19 09:56] #1665 closed

[2018-03-19 09:56] #1803 closed

[2018-03-19 09:56] #1824 closed

[2018-03-19 09:57] #1825 closed

[2018-03-19 09:57] #1969 closed

[2018-03-19 09:58] #1445 closed

[2018-03-19 15:51] KrzysztofCwalina commented on #1314
@ahsonkhan, I am closing this one. I assume all the items are done or moved to corefx.

[2018-03-19 15:51] #1314 closed

[2018-03-19 15:55] KrzysztofCwalina opened #2165 "Productize Utf8String"
- [ ] #1447 Decide on Utf8String representation
- [ ] #361 All constructing utf8string literals
- [ ] https://github.com/dotnet/csharplang/issues/909 UTF8String constants
- [ ] [Pattern-based fixed statement](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/pattern-based-fixed.md) for Utf8String

[2018-03-19 15:57] KrzysztofCwalina opened #2166 "Productize BufferReader and BufferWriter"
- [ ] Finalize APIs for BufferWriter\<T\>: #2177

[2018-03-19 15:58] KrzysztofCwalina opened #2167 "Productize JsonReader and JsonWriter"

[2018-03-19 17:21] dmitriyse opened #2168 "Proposal: Blazing-fast async/await state machines (C# featured coroutines)"
Currently every async method is not so fast as coroutines in another languages. (C++ stackless coroutines),
Current overheads:
1) At least one object allocation for state machine, (even it has no any local variables).
2) another object is created by AsyncMethodBuilder
3) at least two virtual call (4+ in the current TPL)  is required to perform true async call
4) some another overheads of the custo

[2018-03-19 20:05] joshfree commented on #451
closing out old infra / packaging bug that's no longer relevant.

[2018-03-19 20:05] #451 closed

[2018-03-19 20:08] joshfree commented on #932
/cc @GrabYourPitchforks

[2018-03-19 21:45] ahsonkhan commented on #1912
We tend to follow the same guidelines as corefx:
https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md

[2018-03-19 21:58] ahsonkhan commented on #1313
Tracking this issue in https://github.com/dotnet/corefx/issues/28227 now. Closing.

[2018-03-19 21:58] #1313 closed

[2018-03-20 01:45] ahsonkhan commented on #1253
I ran some rudimentary performance tests and it looks like we could get some perf wins (20%+) if we do provide an overload that takes in an index rather than slicing for all the [BinaryPrimitives](https://github.com/dotnet/corefx/blob/40cbd5636851093309b841db4d53af369b7ef1c6/src/System.Memory/ref/System.Memory.cs#L265-L366) APIs.

[code]
TryWriteSlice (red) vs. TryWriteIndex (green)
![image](https

[2018-03-20 01:50] jkotas commented on #1253
What guarantees that the index is valid?

[2018-03-20 01:56] jkotas commented on #1253
Also, sorting out the security issues for the generic BinaryPrimitives APIs is higher priority than this: https://github.com/dotnet/corefx/issues/27094 . That's something that needs to be done for 2.1.

Performance tweaks like this are for post-2.1.

[2018-03-20 01:59] ahsonkhan commented on #1253
Ah, yes, of course, we would need to do argument validation as well.
[code]

But that doesn't have too much affect on the perf results.

Yes, of course.

[2018-03-20 02:01] jkotas commented on #1253
This is not the correct way to validate the `index` is valid.

[2018-03-20 02:11] ahsonkhan commented on #1253
Yep, that did it. If we do proper validation, we no longer see the performance difference.

`if ((uint)index > (buffer.Length - Unsafe.SizeOf<T>()))`

Closing this issue. Thanks!

[2018-03-20 02:11] #1253 closed

[2018-03-20 02:17] ahsonkhan commented on #1253
In fact, the disassembly gets larger (along with possible perf regression):
![image](https://user-images.githubusercontent.com/6527137/37632133-ea077048-2ba9-11e8-803c-941ec5696dcd.png)

[2018-03-20 09:05] tmds commented on #2031
Should this issue move to corefx repo?

[2018-03-20 12:49] nockawa opened #2169 "Running Unit Tests fail with .net Core 2.1 when using System.Memory 4.5.0-preview3 package"
I have a very simple case:
- A .net Core 2.1 (Preview 2) library project containing the library to test. Referencing the System.Memory NuGet Package (4.5.0-preview3)
- A .net Core 2.1 (Preview 2) library project for the unit test, referencing the first library.

I've tried, xUnit, nUnit frameworks and `dotnet test`, Visual Studio Runner (15.7 Preview 1) and Resharper Runner (2018.1 EAP 3) and I ca

[2018-03-20 15:46] mj1856 commented on #1912
Hi, and thanks for picking up this work!  One think that might be helpful is to get a Work-In-Progress PR going.  Basically, start a feature branch in your fork, add your initial tests, send a PR, but put WIP in the title.  We can then collaborate via GitHub comments on specific lines of code.  When you make edits to your feature branch and push, the PR updates automatically.

On the specific ques

[2018-03-20 17:21] ahsonkhan commented on #2031
Yes, please.

[2018-03-20 23:31] ahsonkhan commented on #2169
Closing in favor of https://github.com/dotnet/corefx/issues/28274.

[2018-03-20 23:31] #2169 closed

[2018-03-20 23:32] nockawa commented on #2169
yes, sorry, I wasn't sure of which repo was the most appropriate...

[2018-03-20 23:39] joshfree commented on #1403
@ahsonkhan can you move this to an up-for-grabs milestone=future dotnet/corefx issue (the portion about porting additional tests to the corefx repo).

[2018-03-20 23:39] #1403 closed

[2018-03-20 23:39] #949 closed

[2018-03-20 23:40] #932 closed

[2018-03-20 23:53] joshfree commented on #903
Moving this issue to the corefx repo for future consideration and tracking

https://github.com/dotnet/corefx/issues/28282

[2018-03-20 23:53] #903 closed

[2018-03-20 23:55] #1306 closed

[2018-03-21 00:00] joshfree commented on #1653
Closing this discussion issue as Span is now in the corefx repo for .NET Core 2.1.  Future issues should be opened in the dotnet/corefx repo for System.Span.

https://blogs.msdn.microsoft.com/dotnet/2017/11/15/welcome-to-c-7-2-and-span/

[2018-03-21 00:00] #1653 closed

[2018-03-21 00:01] joshfree commented on #936
Closing old corefxlab issues on Span now that the type is in the dotnet/corefx repo; future issues should be opened there

[2018-03-21 00:01] #936 closed

[2018-03-21 00:03] joshfree commented on #922
Closing this old issue now that Span/Memory is in corefx.

/cc @GrabYourPitchforks as FYI on discussion

[2018-03-21 00:03] #922 closed

[2018-03-21 00:06] #1479 closed

[2018-03-21 00:10] joshfree commented on #1924
Migrated to https://github.com/dotnet/corefx/issues/28283

[2018-03-21 00:10] #1924 closed

[2018-03-21 17:33] muratg commented on #1264
Closing this one.  @anurse if you're still interested in this, could you file a bug in CoreFX repo?

[2018-03-21 17:33] #1264 closed

[2018-03-21 17:33] muratg commented on #1330
No comments recently. Closing.

[2018-03-21 17:33] #1330 closed

[2018-03-21 17:36] muratg commented on #1790
The APIs were mainly intended for testing only, and not public usage. Closing this one.

[2018-03-21 17:36] #1790 closed

[2018-03-21 17:37] muratg commented on #1839
@Drawaes could you move this one to CoreFX repo please?

[2018-03-21 17:37] muratg commented on #1839
@Drawaes could you move this one to CoreFX repo please?

[2018-03-21 17:37] #1839 closed

[2018-03-21 17:37] davidfowl commented on #1839
Not sure this is relevant anymore.

[2018-03-21 17:38] muratg commented on #1928
@AceHack Could you file a bug in CoreFX if you're still interested in this?  Thanks.

[2018-03-21 17:38] #1928 closed

[2018-03-21 17:39] muratg commented on #1928
@AceHack The APIs were mainly intended for testing only, and not public usage. Closing this one.

[2018-03-21 17:40] muratg commented on #2031
@tmds Closing this one. Please do the needful :)

[2018-03-21 17:40] #2031 closed

[2018-03-21 17:42] muratg commented on #2157
Assigning to @pakrym for investigation.

[2018-03-21 17:42] muratg commented on #2114
Closing per @davidfowl's answer.

[2018-03-21 17:57] Drawaes commented on #1839
It might be relevant for others, but in my case I coded around it... so happy for it to stay closed and not moved.

[2018-03-22 11:09] Palku opened #2174 "RioTcpServer.cs typo?"
`public const int MaxOutsandingCompletionsPerThread =`
Should be MaxOutstandingCompletionsPerThread?

[https://github.com/dotnet/corefxlab/blob/010238eb489ccfb04a47774cc606653afb82464a/src/System.IO.Pipelines.Networking.Windows.RIO/RioTcpServer.cs](url)

[2018-03-22 11:16] ahsonkhan commented on #2174
https://github.com/dotnet/corefxlab/blob/697b5cc9afb4ba7ec7c18faed028869e7cabb71d/src/System.IO.Pipelines.Networking.Windows.RIO/RioTcpServer.cs#L19

[2018-03-22 11:50] benaadams commented on #2168
/cc @stephentoub

[2018-03-22 17:36] KrzysztofCwalina opened #2177 "API Proposal: BufferWriter<T>"
The prototype of this type is in https://github.com/dotnet/corefxlab/tree/master/src/System.Buffers.ReaderWriter/System/Buffers/Writer

[code]

cc: @davidfowl, @pakrym, @GrabYourPitchforks, @ahsonkhan, @joshfree, @terrajobst

[2018-03-22 17:43] pakrym commented on #2177
Same reason we did it for spans and sequence - fewer methods to JIT when type gets used with different Ts

[2018-03-22 18:01] KrzysztofCwalina commented on #2177
StandardFormat controls whether its binary or text.

[2018-03-22 18:03] pakrym commented on #2177
Why do we need two sets of methods for `int` then?

        public void Write(int value, StandardFormat format=default);
        public void WriteBytes(int value, StandardFormat format=default);

[2018-03-22 18:44] KrzysztofCwalina commented on #2177
Yeah, I was thinking about it. We could remove WriteBytes. We need to measure perf impact and see if we have consistent format chars that could mean "BE" and "LE" and not be already taken by existing text formats.

[2018-03-23 13:22] dmitriyse commented on #2168
Some related research https://medium.com/@alexyakunin/go-vs-c-part-1-goroutines-vs-async-await-ac909c651c11

[2018-03-27 15:19] dmitriyse commented on #2168
Another one competitor for "C# coroutines": https://en.wikipedia.org/wiki/Stackless_Python

[2018-03-27 20:48] #2157 closed

[2018-04-05 23:15] #1629 closed

[2018-04-05 23:27] joshfree commented on #2174
/cc @pakrym

[2018-04-05 23:31] #1966 closed

[2018-04-05 23:33] #2062 closed

[2018-04-10 01:56] arontsang opened #2202 "There is no remote client ip information on UvTcpConnection"
One should at the very least have access to the client IP address for the Tcp connection from a UvTcpListener.

[2018-04-10 19:05] arontsang commented on #2202
https://github.com/dotnet/corefxlab/pull/2203

[2018-04-16 05:36] ahsonkhan opened #2212 "Add to corefxlab.sln (and build script to produce NuGet package and VSIX that get uploaded to MyGet)"
Move SpanUsage from samples to the corefxlab.sln

https://github.com/dotnet/corefxlab/pull/2206

[2018-04-16 05:36] ahsonkhan opened #2213 "Fix VSIX project so it can be built using dotnet cli (via the command line)"
Currently, it only builds in VS.

https://github.com/dotnet/corefxlab/pull/2206

[2018-04-16 05:38] ahsonkhan opened #2214 "Consider adjusting the diagnostic location to be more precise"
SpanUsage currently highlights the parent tree, which ends up over highlighting whenever there are several method calls chained together).

Explore if we can fix it to be more precise without breaking how the codefix works.

https://github.com/dotnet/corefxlab/pull/2206

[2018-04-16 05:39] ahsonkhan opened #2215 "Extend the SpanUsage code analyzer to check for Memory<T>.Slice(...).Span"
`Memory<T>.Slice(...).Span` => `Memory<T>.Span.Slice(...)`

https://github.com/dotnet/corefxlab/pull/2206

[2018-04-16 17:44] MisinformedDNA opened #2217 "Windows setup instructions are missing an individual component"
If I open `corefxlab.sln` in VS2017 15.6.4, I get a popup telling me that it is recommended that I use 15.7 for .NET Core 2.1 projects. If I open the same solution in 15.7 Preview 3.0, it wants to upgrade all the projects. After agreeing to do so, the projects all migrate but fail to load.

BTW: The project files are migrated to

[code]

So question 1 is why is the solution requiring a migration t

[2018-04-16 17:58] ahsonkhan commented on #2217
Did you first run build.cmd from the command line (once)? That is required to install the dotnet cli.

Let me know if that works for you. Otherwise, I will try to reproduce your exact scenario.

[2018-04-16 18:46] MisinformedDNA opened #2219 ".NET upgrades"
Based on the error message I am getting (and recent commits), it looks like we are automatically updating version numbers, but not including the updated SDK in the project. Am I wrong? Is this by design? What's the best way to work with this?

[2018-04-16 19:00] ahsonkhan commented on #2219
Run `git clean -fdx` or more simply delete the dotnetcli directory and then run build.ps1. The script does a naive check to see if that directory exists and skips the SDK install. If the directory doesn't exist, it installs the correct version (as required by the repo).

The long term fix would be to check if the required version is not installed, and install it (rather than only looking at whethe

[2018-04-16 21:00] MisinformedDNA commented on #2219
Build now succeeds. Thanks.

[2018-04-16 21:00] #2219 closed

[2018-04-16 21:07] MisinformedDNA commented on #2217
build.cmd has now been run successfully. Now when I open the solution, all the projects say "need migration" (instead of doing the full migration right away) and when I try to load each one, I'm prompted to migrate each one, but ultimately I get the same error

I also moved ahead to 992826c806a9ac0e34c833d0d2340b42b6463e69

[2018-04-16 21:40] ahsonkhan commented on #2217
Can you share the VS version that you have please (copy and share Help > About Microsoft Visual Studio)? Did you chose all the relevant workloads to install as specified by https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md#visual-studio-2017?

[2018-04-17 01:03] MisinformedDNA commented on #2217
I'm pretty sure I have everything installed. I didn't see any problems with the VS preview and the `corefx` repo.

Microsoft Visual Studio Enterprise 2017 Preview
Version 15.7.0 Preview 3.0
VisualStudio.15.Preview/15.7.0-pre.3.0+27604.0
Microsoft .NET Framework
Version 4.7.02556

Installed Version: Enterprise

Visual C++ 2017   00369-60000-00001-AA064
Microsoft Visual C++ 2017

C# Tools   2.8.0-be

[2018-04-17 01:16] ahsonkhan commented on #2217
That is strange. I have not seen any project migration prompts or issues in the past. Let me make sure I understand your repro steps:
1) Clone the corefxlab repo.
2) Run build.cmd from the command line. Verify that the build succeeds.
3) Open corefxlab.sln in Visual Studio 2017.

**And then you see project migration errors?**
Are those the correct steps? I followed those steps and I can open and b

[2018-04-17 15:45] MisinformedDNA commented on #2217
Filed [this](https://developercommunity.visualstudio.com/content/problem/235330/157-preview-3-requiring-code-migration.html) with VS. I did a minimalistic install, only installing the individual components listed, so maybe something new is needed with 2.1? I did a command line install, so you can see the components installed in the [filed issue](https://developercommunity.visualstudio.com/content/

[2018-04-17 16:05] MisinformedDNA commented on #2217
OK, despite adding all the "Individual Components" [listed](https://github.com/MisinformedDNA/corefx/blob/e9fcc23ffc5e73d062536b2473ccda66a74315ba/Documentation/building/windows-instructions.md#visual-studio-2017---individual-components-based-install), I tried just adding the workload ".NET Core cross-platform development" and now the solution loads fine. So there is some unlisted individual compo

[2018-04-18 17:33] MisinformedDNA opened #2222 "API Proposal: PollingWatcher"
[code]

**Notes:**
 - Not a huge fan of the namespace `Enumeration` in general, but it seems like it belongs with `FileSystemEnumerable`.
 - Renamed to `FileSystemMonitor`. `PollingWatcher` is both not specific enough and is too similar to `FileSystemWatcher`, from which this is a pretty big departure.
 - Changed constructor to accept same parameters as `FileSystemEnumerable` (minus the transform)

[2018-04-18 19:09] JeremyKuhne commented on #2222
Thanks for pushing this prototype forward! Some of my initial observations:

Common APIs stay in the root namespace (i.e. `System.IO`). `System.IO.Enumeration` was added for these advanced extensibility points, keeping the root namespace usability higher.

In that vein, you should consider a simpler, easier-to-use version of this that addresses the basic needs. Something that just takes `Enumerati

[2018-04-18 21:39] MisinformedDNA commented on #2222
There may be other good reasons for keeping them separate, but wouldn't the allocation be the same? Directory and Path separately or just Path (FullPath). My thought on removing the directory is that we already know the root directory being monitored.

I don't have much experience with `ISerializable`, but I'm not sure where you would want me to use this.

The `_version` value is changed on every

[2018-04-18 21:52] JeremyKuhne commented on #2222
If you have 100 files in a directory that is 100 characters long that is nearly 20K of extra bytes. The key is that you keep 1 directory string for each directory. It is typical for watchers that VS uses to have tens of thousands of files being watched. Think in terms of 10Ks of files and 100s of directories for scaling as a minbar. I tested my enumeration changes against directories with over 500

[2018-04-18 23:14] MisinformedDNA commented on #2222
I just assumed that all the directory strings would end up being duplicates of each other, but I guess if done correctly, that won't be the case. 👍

[2018-04-19 15:41] KrzysztofCwalina commented on #2222
Some feedback:

1. I don't like ShouldRecursePredicate and ShouldIncludePredicate. I think the public surface area should be just bool IncludeSubdirectories and then possibly have two virtual protected methods to do more elaborate filtering. Users who need it, would inherit from the base watcher.
2. I dont like public dependency on TraceSource. It's one of the many tracing technologies we have
3.

[2018-04-19 16:36] MisinformedDNA commented on #2222
1. OK, that makes sense.
 2. Yea, that is pre-existing. Is any tracing necessary? I don't see any in `FileSystemWatcher`. What's the best practice here?
 3. My concern is that the machine reboots and then changes are missed. I'm not super fond of this, but I don't know how else to ensure that all changes are detected.
 4. Also pre-existing. You are referring to why we are using `Action` instead of

[2018-04-19 17:38] MisinformedDNA commented on #2222
Considering the emergence of `Span<T>`, I was assuming that this was the replacement to the older way of doing things (i.e. not just advanced sceanrios).

[2018-04-19 17:40] svick commented on #2222
[code]

This means that the output of `GetSystemState` and the input of `Start` are not compatible, i.e. I can't directly pass the output of `GetSystemState` as the input of `Start`. I think they should use compatible types.

[2018-04-19 17:50] JeremyKuhne commented on #2222
DateTimeOffset is safe, DateTime is not. @tarekgh can comment further if needed.

If diagnosing what is going on here would be useful we can have logging. You can follow along with what ArrayPool does. It might be nice to see all results (i.e. prefiltered) when logging is turned on.

That is useful feedback.

I'd rather this use the existing ISerializable pattern than introducing a new one. :)

[2018-04-19 18:31] MisinformedDNA opened #2224 "Fix ability to run tests"
When I try to run tests in VS2017P3, I get this error

OK, so it suddenly wants `2.1.0-preview3-26410-06`, but I don't have it installed. I'm guessing something inserted itself during the `build.cmd`.

From the command line, `dotnet --version` gives me `2.1.300-preview2-008533`, which doesn't match any of the above.

Also, if I try to test from the command line, using `build tests\System.IO.FileSy

[2018-04-19 19:15] ahsonkhan commented on #2224
If you got the latest master, we had package dependency updates (and will continue to get them): https://github.com/dotnet/corefxlab/pull/2221

Delete the dotnetcli directory and run build.cmd to install the updated version.

Like I said previously (in https://github.com/dotnet/corefxlab/issues/2219#issuecomment-381712911), we need to update our build script. PRs are welcome :)

[2018-04-19 19:58] MisinformedDNA commented on #2224
Ha! I knew I had asked a similar question somewhere.

`build` resulted in an error, so I did a `git clean -dXf` and it says

So I went to Task Manager and found 7 dotnet orphan processes running. I'm not doing anything with them, so I shut them all down and delete succeeded. Are the orphaned processes a known issue?

And I'm happy to help with a PR. If you can point me in the right direction, I'll

[2018-04-19 20:05] ahsonkhan commented on #2224
We should also create a clean.cmd script (similar to corefx) that shuts down any of these orphaned processes and does a clean install of the correct dotnetcli so devs don't have to repeat these steps.

Start with https://github.com/dotnet/corefxlab/blob/master/scripts/build.ps1#L15
- Append a new check, something along the lines of, if the folder exists, but the cli version doesn't match what's in

[2018-04-19 20:08] ahsonkhan commented on #2224
Please keep asking these questions! Better yet, document your process and update the README.md (or add a developer-guide) to include the steps necessary to unblock yourself. This is valuable feedback and I am sure other new contributors would have similar concerns.

[2018-04-19 20:16] MisinformedDNA commented on #2224
I created a PoC app in the solution for my personal use, but it's causing the build error:

Given that my project file looks similar to other project files in the repo, I'm not seeing where the issue is. Is there something special happening with a console app?

[code]

[2018-04-19 20:36] MisinformedDNA commented on #2224
When `build.ps1` is called. By default `BuildVersion` is [set](https://github.com/dotnet/corefxlab/blob/master/scripts/build.ps1#L5) to `preview2-yyMMdd-1`. This version number is then [passed onto](https://github.com/dotnet/corefxlab/blob/master/scripts/build.ps1#L64) the solution build where it subsequently is used by `Microsoft.NET.DefaultAssemblyInfo.targets`. My question is: Do I care what th

[2018-04-19 20:52] MisinformedDNA commented on #2224
I get the cli version with `dotnet --version`, correct? Now, how do I get the runtime version? Do I just want to make sure that the shared runtime is in the list from `dotnet --fx-version`? Or parse it out from "Host, Version"? Other?

[2018-04-19 21:35] KrzysztofCwalina commented on #2222
I wonder if it would not be better for the state to be an opaque type, i.e. no members
Also, it might be good to make it "serializeble"

[2018-04-19 21:50] KrzysztofCwalina opened #2225 "Bedrock Dependencies"
Pri 1

- [ ] BufferReader/BufferWriter #2166 (@JeremyKuhne)
- [x] JsonReader/JsonWriter #2167 (@ahsonkhan)
- [ ] Utf8String #2165 (@GrabYourPitchforks)
- [ ] HttpParser/Writer
- [ ] HTTP/2 Parser/Writer/Model

Pr 2
-  [ ] TLS flat APIs

cc: @joshfree, @davidfowl

[2018-04-19 22:04] MisinformedDNA commented on #2224
If I look at dotnet cli versions, I see that `DotnetCLIVersion.txt`'s version is before my cli version. (I'm not sure how I got in this state, but I'm guessing it has to do with different branches being at different points.)

[code]

Currently, the script tries to update to the `DotnetCLIVersion.txt`, but that version is already there, so it tries, realizes it's already there and moves on, but it

[2018-04-20 02:11] ahsonkhan commented on #2224
Since corefxlab is mainly for experimentation, we don't tend to follow the versioning of corefx/etc. too closely. We recently changed from `e-` to `preview2-` just as part of a specific SignalR release.

No, this can be safely ignored and left untouched.

`dotnet --info` should give you the details.

I don't think that is correct. There should be an exact match. Can you run `dotnet --info` and sha

[2018-04-20 02:37] ahsonkhan commented on #2224
I will have to know a bit more about your project/etc. (how it was added to the solution) to help with the error you are seeing. Can you point me to your repo fork/branch and I can take a look.

[2018-04-20 17:39] joshfree commented on #2225
@davidfowl can you share your screenshot of the list we came up with yesterday or edit the issue inline?

fyi: @glennc

[2018-04-20 17:42] davidfowl commented on #2225
@KrzysztofCwalina took the screenshot 😄

[2018-04-21 12:52] shaggygi commented on #2225
Referencing https://github.com/aspnet/KestrelHttpServer/issues/1980

[2018-04-21 21:36] YohDeadfall commented on #2224
It's closed by #2226 @ahsonkhan.

@MisinformedDNA you can use keywords to automatically close an associated issue when a pull request gets merged. Visit [the help center](https://help.github.com/articles/closing-issues-using-keywords/) for more details.

[2018-04-21 21:46] #2224 closed

[2018-04-22 06:46] #2006 closed

[2018-04-24 18:16] joshfree commented on #2165
related https://github.com/dotnet/corefx/issues/29290 - Add UTF-8 match APIs to System.IO.Enumeration